/* custom stuff for splitter */

#splitter {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#splitter_left {
    float:left;
    width:20%;
    height:100%;
    overflow: auto;
}

#splitter_right {
    float:right;
    width:80%;
    height:100%;
}

/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
float:left;width:6px;
line-height:0px;font-size:0px;
border-left:solid 1px #9cbdff;border-right:solid 1px #9cbdff;
background:#cbe1fb url(splitter/panev.gif) 0% 50%;
height: 600px;
}

.splitbuttonV{
margin-top:-41px;margin-left:-4px;top:25%;position:relative;
height:83px;width:10px;
background:transparent url(splitter/panevc.gif) 10px 50%;
}
.splitbuttonV.invert{
margin-left:0px;background:transparent url(splitter/panevc.gif) 0px 50%;
}
.splitbarV.working,.splitbarH.working,.splitbuttonV.working,.splitbuttonH.working{
 -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50;
}