{# _q_customize_properties.html #}
{# template for all property_customization fields #}

{% load q_tags %}

{# recall that there is an ng variable called "current_model" which reflects the current scope #}

<div id="properties_fields">

    <fieldset class="fieldset collapsible"
              ng-controller="FieldsetController as property_details_fieldset_controller"
              ng-class="property_details_fieldset_controller.is_collapsed ? 'collapsed' : 'expanded'">

        <legend class="fieldset_header" ng-click="property_details_fieldset_controller.is_collapsed = ! property_details_fieldset_controller.is_collapsed" title="click to toggle content" >
            <span ng-hide="property_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="property_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
            Property Details:&nbsp;
        </legend>
        <div class="fieldset_content" ng-hide="property_details_fieldset_controller.is_collapsed">

            <div class="documentation">
                This section contains information relating to the properties of this document.
                This icon <span class="glyphicon glyphicon-tag"></span> indicates that the property is tagged as a "meta" property and will not be directly editable by the user.
            </div>

            {% include 'questionnaire/_q_customize_categories.html' %}

            <div class="panel-default">
                <div class="panel-body properties"
                     ng-init="ordering_type='order'">

                    <div class="clearfix">
                        <div class="accordion_toolbar" ng-show="current_model.properties.length">
                            <div class="btn-group">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-sort"></span>
                                    &nbsp;sort
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="ordering_type='proxy_title'">by name</a></li>
                                    <li><a href="#" ng-click="ordering_type='category_name'">by category</a></li>
                                    <li><a href="#" ng-click="ordering_type='field_type'">by field type</a></li>
                                    <li><a href="#" ng-click="ordering_type='order'">by order</a></li>
                                </ul>
                            </div>
                          <button type="button" class="btn" title="expand all properties"
                                  ng-click="expand_properties()">
                              <span class="glyphicon glyphicon-triangle-bottom"></span>
                              &nbsp;expand all
                          </button>
                          <button type="button" class="btn" title="collapse all properties"
                                  ng-click="collapse_properties()">
                              <span class="glyphicon glyphicon-triangle-top"></span>
                              &nbsp;collapse all
                          </button>
                        </div>  <!-- /.accordion_toolbar -->
                    </div>  <!-- /clearfix -->

                    <div uib-accordion close-others="false" ui-sortable="properties_sortable_options" class="accordion"
                         ng-model="current_model.properties" ng-show="current_model.properties.length">

                        <div uib-accordion-group class="accordion_group"
                             is-open="property.display_detail" ng-class="property.display_detail ? 'expanded': 'collapsed'"
                             ng-repeat="property in current_model.properties | orderBy:ordering_type"
                             ng-init="category=get_model_by_attrs(current_model.categories, {'key': property.category_key});
                                      property_key=property.key;
                                      property_index=$index"
                             ng-show="category.display_properties">

                            <div uib-accordion-heading class="accordion_header sortable_handle clearfix"
                                 ng-click="property.display_detail = ! property.display_detail">
                                {# TODO: NAUGHTY NAUGHTY DEVELOPER, USING TABLES INSTEAD OF NICE BOOTSTRAP GRIDS #}
                                {% verbatim ng %}
                                <table width="100%">
                                    <tr title="click to toggle / drag-and-drop to reorder">
                                        <td width="4%">
                                            <span class="glyphicon glyphicon-triangle-right" ng-hide="property.display_detail"></span>
                                            <span class="glyphicon glyphicon-triangle-bottom" ng-show="property.display_detail"></span>
                                        </td>
                                        <td width="30%">
                                            <strong>Name:</strong>&nbsp;
                                            {{ property.proxy_title }}
                                        </td>
                                        <td width="36%">
                                            <strong>Category:</strong>&nbsp;
                                            {{ category.category_title }}
                                        </td>
                                        <td width="22%">
                                            <strong>Field Type:</strong>&nbsp;
                                            {{ property.field_type }}
                                        </td>
                                        <td width="8%">
                                            <strong>Order:</strong>&nbsp;
                                            {{ property.order }}
                                            <!-- show a special icon if this is a meta property to dissuade users from messing w/ it -->
                                            <span ng-show="current_model.is_meta || property.is_meta" class="glyphicon glyphicon-tag pull-right"></span>
                                        </td>
                                    </tr>
                                </table>
                                {% endverbatim ng %}
                            </div>  <!-- /.accordion_heading -->

                            <div class="accordion_content">

                                <!-- key & index are set in ng-init above (w/ the accordion_group) -->
                                <!-- b/c the possibility of resorting properties means I can't guarantee their value -->
                                <!-- would be correct inside this loop -->
                                <section model_to_watch="property"
                                         key="{% verbatim ng %}{{ property_key }}{% endverbatim ng %}"
                                         index="{% verbatim ng %}{{ property_index }}{% endverbatim ng %}"
                                         section_type="property_customization"/>

                            </div>  <!-- /.accordion_content -->

                        </div>  <!-- /.accordion_group -->

                    </div>  <!-- /.accordion -->


                    <div class="documentation" ng-hide="current_model.properties.length">
                        No properties found.
                    </div>

                </div>  <!-- /.panel-body -->
            </div>  <!-- /.panel -->

        </div>  <!-- /.fieldset_content -->
    </fieldset>

</div>  <!-- /#properties_fields -->