{# _q_customize_categories.html #}

{% load q_tags %}

{# recall that there is an ng variable called 'current_model' which reflects the current scope #}

<div class="panel panel-default">

    <div class="panel-heading">
        <help help_text="
            These categories will appear as tabs within the Editor.
            The tab order can be changed by dragging and dropping the above widgets.
            Additionally, each category can be customized by clicking the <em>pencil/edit</em> icon.
            Clicking elsewhere on a category widget will toggle the visibility of all properties belonging to that category.
            The number at the right of each widget indicates the amount of those properties.
            Use the <strong>View All</strong> button below to display properties from all categories.">
        </help>
        Available Categories:&nbsp;
    </div>  <!-- /.panel-heading -->

    <div class="panel-body categories">

        <div class="list-group" ui-sortable="categories_sortable_options" ng-model="current_model.categories">
            <div class="list-group-item" ng-repeat="category in current_model.categories | orderBy:'order'">
                <span class="label label-primary sortable_handle"
                      ng-click="category.display_detail || (category.display_properties = ! category.display_properties)"
                      ng-class="category.display_properties ? 'enabled' : 'disabled'"
                      title="click to toggle properties belonging to this category">
                    <button type="button"
                            class="btn btn-primary btn-xs"
                            data-toggle="modal"
                            data-target="#category_{% verbatim ng %}{{category.key}}{% endverbatim ng %}"
                            ng-click="category.display_detail = true;"
                            title="click to further customize this category">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>&nbsp;
                    {% verbatim ng %}
                        {{ category.category_title }}&nbsp;
                        <span class="badge">{{ category.num_properties }}</span>
                    {% endverbatim ng %}
                </span>
            </div>
            <div class="documentation" ng-hide="current_model.categories.length">
                No categories found.
            </div>
        </div>

        <div ng-show="current_model.categories.length">
            <button type="button"
                    class="btn btn-primary btn-sm"
                    ng-click="view_all_categories_properties()">
                View All Properties
            </button>
        </div>

    </div>

</div> <!-- /.panel -->

{# here are the category forms that can be activated by the above widgets #}
<div class="modal fade category"
     data-backdrop="static"
     id="category_{% verbatim ng %}{{category.key}}{% endverbatim ng %}"
     role="dialog"
     tabindex="-1"
     ng-repeat="category in current_model.categories">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal"></button>-->
                <h4 class="modal-title">Customize Category</h4>
            </div>  <!-- /.modal-header -->
            <div class="modal-body" ng-init="category_key=category.key; category_index=$index">

                <section model_to_watch="category"
                    key="{% verbatim ng %}{{ category_key }}{% endverbatim ng %}"
                    index="{% verbatim ng %}{{ category_index }}{% endverbatim ng %}"
                    section_type="category_customization"/>

            </div>  <!-- /.modal-body -->
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-primary"
                        ng-click="category.display_detail = false;"
                        ng-disabled="!categories_validity"
                        onclick="$(this).closest('.modal').modal('hide')">
                        <!-- I am specifically _not_ using the ng attribute "data-dismiss='modal'" b/c that will close _all_ modals -->
                        <!-- (and this category customization form may be open in the context of a subform) -->
                        <!-- instead, I use some inline JQuery on the onclick event; it finds the parent modal and explicitly closes it-and-only-it -->
                    ok
                </button>
            </div>  <!-- /.modal-footer -->
        </div>  <!-- /.modal-content -->
    </div>  <!-- /.modal-dialog -->
</div>  <!-- /.modal -->


