{% load q_tags %}

<div id="properties_fields">

    <fieldset class="fieldset collapsible" ng-controller="FieldsetController as property_details_fieldset_controller">
        <legend class="fieldset_header" ng-click="property_details_fieldset_controller.is_collapsed = ! property_details_fieldset_controller.is_collapsed" title="click to toggle content" >
            <span ng-hide="property_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="property_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
            Property Details:&nbsp;
        </legend>
        <div class="fieldset_content" ng-hide="property_details_fieldset_controller.is_collapsed">

            <div class="documentation">
                This section contains information relating to the properties of the document.
                This includes both those defined by ontologies (ie: the standard properties) as well as those defined by vocabularies (ie: the scientific properties).
            </div>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"> <!-- standard_properties tab is active by default -->
                  <a href data-target="#tab_standard_properties" role="tab" data-toggle="tab">Standard Properties (Ontology)</a>
              </li>
              <li role="presentation">
                  <a href data-target="#tab_scientific_properties" role="tab" data-toggle="tab">Scientific Properties (Vocabularies)</a>
              </li>
            </ul> <!-- /.nav-tabs -->

            <div class="tab-content">

                <div role="tabpanel" class="tab-pane panel active" id="tab_standard_properties">
                    <div class="documentation">
                        These properties are defined by the CIM Schema.
                    </div>
                    {% include 'questionnaire/_q_customize_standard_categories.html' %}
                    {% include 'questionnaire/_q_customize_standard_properties.html' %}
                </div> <!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane panel" id="tab_scientific_properties">
                    <div class="documentation">
                        These properties are defined by the Controlled Vocabularies.
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation"
                            ng-class="{active:vocabulary.display_detail}"
                            ng-repeat="vocabulary in model_customization.vocabularies | orderBy:'order'">
                            <a href data-target="#tab_{% verbatim ng %}{{vocabulary.vocabulary_key}}{% endverbatim ng %}"
                               ng-click="display_vocabulary_detail(vocabulary.vocabulary_key)"
                               role="tab"
                               data-toggle="tab">
                                {% verbatim ng %}{{ vocabulary.vocabulary_name}}{% endverbatim ng %}
                            </a>
                        </li>
                    </ul> <!-- /.nav-tabs -->

                    <div class="tab-content">
                        <div class="tab-pane panel"
                             role="tabpanel"
                             ng-class="{active:vocabulary.display_detail}"
                             ng-repeat="vocabulary in model_customization.vocabularies | orderBy:'order'"
                             id="tab_{% verbatim ng %}{{vocabulary.vocabulary_key}}{% endverbatim ng %}">

                            <br/>  <!-- just some whitespace to make things clearer -->

                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation"
                                    ng-class="{active:$first}"
                                    ng-repeat="component in vocabulary.components">
                                    <a href data-target="#tab_{% verbatim ng %}{{ component.key }}{% endverbatim ng %}" role="tab" data-toggle="tab">
                                        <span>
                                            {% verbatim ng %}{{ component.name }}{% endverbatim ng %}
                                            <!-- TODO: SHOULD THIS BE A BADGE? -->
                                            <small>({% verbatim ng %}{{ component.num_properties }}{% endverbatim ng %})</small>
                                        </span>
                                    </a>
                                </li>
                            </ul> <!-- /.nav-tabs -->

                            <div class="tab-content">
                                <div class="tab-pane panel"
                                     role="tabpanel"
                                     ng-class="{active:$first}"
                                     ng-repeat="component in vocabulary.components"
                                     id="tab_{% verbatim ng %}{{ component.key }}{% endverbatim ng %}">

                                    {% include 'questionnaire/_q_customize_scientific_categories.html' %}

                                    {% include 'questionnaire/_q_customize_scientific_properties.html' %}

                                </div>
                            </div> <!-- /.tab-content -->

                        </div> <!-- /.tab-pane -->

                    </div> <!-- /.tab-content -->

                </div> <!-- /.tab-pane -->

            </div> <!-- /.tab-content -->

        </div> <!-- /.fieldset_content -->
    </fieldset>

</div> <!-- /#properties_fields -->