{# _q_customize_model.html #}
{# template for all model_customization fields #}

{% load q_tags %}


<div class="hidden">
    {% for field in form.get_hidden_fields %}
        {{ field }}
    {% endfor %}
</div> <!-- /.hidden -->

<div id="customization_fields">

    <fieldset class="fieldset collapsible" ng-controller="FieldsetController as customization_details_fieldset_controller">
        <legend class="fieldset_header" ng-click="customization_details_fieldset_controller.is_collapsed = ! customization_details_fieldset_controller.is_collapsed" title="click to toggle content" >
            <span ng-hide="customization_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="customization_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
            Customization Details:&nbsp;
        </legend>
        <div class="fieldset_content" ng-hide="customization_details_fieldset_controller.is_collapsed">

            <div class="documentation">
                This section contains information relating to the customization itself, as opposed to the editor form being customized.
            </div>

                {% for field in form.get_customization_fields %}
                    <div class="row {% cycle 'odd' 'even' %}">
                        {% if field.name == "vocabularies" %}

{# BEGIN VOCABULARY SECTION #}

{# copied from "_q_customize_field.html" w/ custom stuff for the {{ field }} section #}
<div class="has-feedback form-group">

    <span class="col-sm-3 {% if field.field.required %} required {% else %} optional {% endif %}">

            <span class="col-sm-1">
                &nbsp;  <!-- the help text for vocabulary customizations is inline -->
            </span>

            <span class="col-sm-10">
                <strong>{{ field.label}}</strong>  <!-- technically this field isn't required, but it looks weird w/ inline help if it's not bold -->
                <div class="documentation">
                    {{ field.help_text|safe }}
                </div>
            </span>

    </span>

    <span class="col-sm-6">

        <!--<table class="vocabularies table" ng-init="model_customization.vocabularies={{ vocabulary_customizations_formset.get_initial_data|jsonify }}">-->
        <table class="vocabularies table">

            {# in theory, ng-init should be on the same element w/ the ng-repeat below #}
            {# but I need vocabularies to be set prior to dealing w/ ng-show & ng-hide below #}
            <thead>
                <tr>
                    <th>active</th>
                    <th>vocabulary</th>
                    <th>order</th>
                </tr>
            </thead>

            <tbody ng-show="model_customization.vocabularies.length" ng-model="model_customization.vocabularies" ui-sortable="vocabulary_customization_sortable_options">
                <tr ng-repeat="vocabulary_customization in model_customization.vocabularies | orderBy:'order'" class="sortable_handle">
                    <td>
                        <input type="checkbox" ng-model="vocabulary_customization.active" ng-change="toggle_vocabulary()"/>
                    </td>
                    <td>
                        {% verbatim ng %}
                            {{ vocabulary_customization.vocabulary_name }}
                        {% endverbatim ng %}
                    <td class="sortable_handle" title="drag and drop to re-order">
                        {% verbatim ng %}
                            {{ vocabulary_customization.order }}
                        {% endverbatim ng %}
                        <span class="pull-right"> <!-- class="sortable_handle" ? -->
                            <span class="glyphicon glyphicon-sort"></span>
                        </span>
                    </td>
                </tr>
                <tr><td colspan="3"/></tr>
            </tbody>

            <tbody ng-hide="model_customization.vocabularies.length">
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <span class="documentation">
                            There are no CVs associated with this particular document type &amp; project.
                        </span>
                    </td>
                </tr>
                <tr><td colspan="3"/></tr>
            </tbody>

        </table>


    </span>

    <span class="col-sm-3">

        {# I can't see any way of this field generating errors #}
        {# this is just here as a placeholder #}
        {{ field.errors }}

    </span>

</div> <!-- /.form-group -->

{# END VOCABULARY SECTION #}

                        {% else %}
                            {% include 'questionnaire/_q_customize_field.html' %}
                        {% endif %}
                    </div>
                {% endfor %} {# /field #}

        </div> <!-- /.fieldset_content -->
    </fieldset>

</div> <!-- /#customization_fields -->

<div id="document_fields">

    <fieldset class="fieldset collapsible" ng-controller="FieldsetController as document_details_fieldset_controller">
        <legend class="fieldset_header" ng-click="document_details_fieldset_controller.is_collapsed = ! document_details_fieldset_controller.is_collapsed" title="click to toggle content" >
            <span ng-hide="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
            <span ng-show="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
            Document Details:&nbsp;
        </legend>
        <div class="fieldset_content" ng-hide="document_details_fieldset_controller.is_collapsed">

            <div class="documentation">
                This section contains information relating to the document itself.  This will affect the look-and-feel of the editor form being customized.
            </div>

                {% for field in form.get_document_fields %}
                    <div class="row {% cycle 'odd' 'even' %}">
                        {% include 'questionnaire/_q_customize_field.html' %}
                    </div>
                {% endfor %} {# /field #}

        </div> <!-- /.fieldset_content -->
    </fieldset>

</div> <!-- /#document_fields -->