{# _q_customize_scientific_properties.html #}

{% load q_tags %}


<div class="panel panel-default">
    <div class="panel-body properties"
         ng-init="properties=get_models_by_attrs(model_customization.scientific_properties, {'vocabulary_key': vocabulary.vocabulary_key, 'component_key': component.key});
                  ordering_type='order'">

         <div class="accordion_toolbar" ng-show="properties.length">
            <div class="btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                    &nbsp;sort
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="ordering_type='name'">by name</a></li>
                    <!-- TODO: SHOULD "ordering_type" USE CATEGORY name INSTEAD OF key ? -->
                    <li><a href="#" ng-click="ordering_type='category_key'">by category</a></li>
                    <li><a href="#" ng-click="ordering_type='field_type'">by field type</a></li>
                    <li><a href="#" ng-click="ordering_type='order'">by order</a></li>
                </ul>
            </div>
          <button type="button" class="btn" title="expand all properties"
                  ng-click="expand_properties(properties)">
              <span class="glyphicon glyphicon-triangle-bottom"></span>
              &nbsp;expand all
          </button>
          <button type="button" class="btn" title="collapse all properties"
                  ng-click="collapse_properties(properties)">
              <span class="glyphicon glyphicon-triangle-top"></span>
              &nbsp;collapse all
          </button>
        </div>
         <div style="clear: both;"></div>  <!-- TODO: WHY DOESN'T BOOTSTRAP "clearfix" APPLY HERE? -->

        <div uib-accordion close-others="false"
             ui-sortable="property_customization_sortable_options"
             class="accordion"
             ng-model="properties"
             ng-show="properties.length">
            <div uib-accordion-group
                 class="accordion_group"
                 is-open="property.display_detail"
                 ng-repeat="property in properties | orderBy:ordering_type"
                 ng-class="property.display_detail ? 'expanded' : 'collapsed'"
                 ng-init="category=get_model_by_attrs(model_customization.scientific_categories, {'key': property.category_key})"
                 ng-show="category.display_properties">
                <div uib-accordion-heading
                     class="accordion_header sortable_handle"
                     ng-click="property.display_detail = ! property.display_detail">
                    {% verbatim ng %}
                        <!-- naughty, naughty developer using tables and fixed widths -->
                        <!-- TODO: REDO THIS LAYOUT USING CONVENTIONAL BOOTSTRAP TECHNIQUES -->
                        <table width="1056px" border="0" title="click to toggle / drag-and-drop to reorder"> <!-- a parent element is needed so that the entire "accordion_header" is clickable -->
                            <tr>
                                <td width="32px;">
                                    <h5>
                                        <span ng-hide="property.display_detail" class="glyphicon glyphicon-triangle-right"></span>
                                        <span ng-show="property.display_detail" class="glyphicon glyphicon-triangle-bottom"></span>
                                    </h5>
                                </td>
                                <td width="300px">
                                    <h5>
                                        <strong>Name:&nbsp;&nbsp;</strong>
                                        {{property.name}}
                                    </h5>
                                </td>
                                <td width="340px">
                                    <h5>
                                        <strong>Category:&nbsp;&nbsp;</strong>
                                        {{ category.name }}
                                    </h5>
                                </td>
                                <td width="256px">
                                    <h5>
                                        <strong>Field Type:&nbsp;&nbsp;</strong>
                                        {{property.field_type}}
                                    </h5>
                                </td>
                                <td width="128px">
                                    <h5>
                                        <strong>Order:&nbsp;&nbsp;</strong>
                                        <!-- is this format confusing? -->
                                        <!--{{category.order}}&nbsp;:&nbsp;-->
                                        {{property.order}}
                                    </h5>
                                </td>
                            </tr>
                        </table>
                    {% endverbatim ng %}
                </div>

                <div class="accordion_content" ng-init="key=property.key; index=$index">

                    <!--<div ng-if="property.display_detail">-->
                    <section model_to_watch="get_model_by_attrs(model_customization.scientific_properties, {'key': key})"
                             key="{% verbatim ng %}{{ key }}{% endverbatim ng %}"
                             index="{% verbatim ng %}{{ index }}{% endverbatim ng %}"
                             section_type="scientific_property_customization"/>
                    <!--</div>-->

                </div>

            </div>
        </div>

         <div class="documentation" ng-hide="properties.length">
                No properties found.
        </div>

    </div>

</div>
