{# _q_project_edit.html #}
{# the "edit" section of the project page #}

{# assumes we've already loaded the appropriate ng-controllers #}
    
      <div class="info">
          You can create a new Questionnaire document by selecting a document type for a particular ontology:
      </div>

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Ontology</th>
                <th>Document Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% verbatim ng %}
                <tr>
                    <td>
                        <select id=document_ontology" class="form-control" required
                                ng-model="project_controller.selected_document_ontology"
                                ng-change="project_controller.selected_document_ontology_changed()"
                                ng-options="o.title for o in project_controller.ontologies">
                        </select>
                    </td>
                    <td>
                        <select id="document_proxy" class="form-control" required
                                ng-model="project_controller.selected_document_proxy"
                                ng-change="project_controller.selected_document_proxy_changed()"
                                ng-options="dt.title for dt in project_controller.selected_document_ontology.document_types">
                        </select>
                    </td>
                    <td>
                        <a id="create_document" class="btn btn-sm btn-info"
                           target="_blank"
                           ng-href="edit/{{ project_controller.selected_document_ontology.key }}/{{ project_controller.selected_document_proxy.name }}">
                            create
                        </a>
                    </td>
                </tr>
            {% endverbatim ng %}
        </tbody>
      </table>

      <div class="info">
          You can edit existing Questionnaire documents.&nbsp;
          <span ng-show="project_controller.has_incomplete_document">
              A pushpin icon indicates the document is incomplete.&nbsp;
          </span>
          <span ng-show="project_controller.has_unsynchronized_document">
              A <span class="unsynchronized">red font</span> indicates the document is unsynchronized with this project's current set of ontologies and vocabularies.&nbsp;
          </span>
      </div>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th ng-click="project_controller.change_document_sort_type('ontology')">
                      <span>Ontology</span>
                      <span ng-show="project_controller.document_sort_type=='ontology'">
                          <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.document_sort_type=='ontology'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th ng-click="project_controller.change_document_sort_type('proxy')">
                      <span>Document Type</span>
                      <span ng-show="project_controller.document_sort_type=='proxy'">
                          <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.document_sort_type=='proxy'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th ng-click="project_controller.change_document_sort_type('label')">
                      <span>Document Label</span>
                      <span ng-show="project_controller.document_sort_type=='label'">
                          <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.document_sort_type=='label'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th>
                      <span>Version</span>
                  </th>
                  <th ng-click="project_controller.change_document_sort_type('published')">
                      <span>Last Published</span>
                      <span ng-show="project_controller.document_sort_type=='published'">
                          <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-order-alt"></span>
                          <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-sort-by-order"></span>
                      </span>
                      <span ng-hide="project_controller.document_sort_type=='published'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th>&nbsp;</th>
              </tr>
          </thead>

          <tbody>
              <tr ng-repeat="document in project_controller.documents | orderBy:project_controller.document_sort_type:project_controller.document_sort_reverse"
                  ng-class="document.synchronization.length ? 'unsynchronized' : 'synchronized'"
                  ng-show="document.is_active">
                  {% verbatim ng %}
                    <td>{{ document.ontology }}
                    </td>
                    <td>{{ document.proxy }}</td>
                    <td>
                        <span ng-show="document.label">
                            {{ document.label }}
                        </span>
                        <span ng-hide="document.label">
                            <em>(label incomplete)</em>
                        </span>
                       &nbsp;<span ng-show="!document.is_complete"
                              class="glyphicon glyphicon-pushpin"
                              title="This document is incomplete."/>
                    </td>
                    <td>
                        {{ document.version }}
                    </td>
                    <td ng-show="document.is_published">
                        {{ document.is_published | date:'yyyy-MM-dd HH:mm:ss Z' }}
                    </td>
                    <td ng-hide="document.is_published">
                        <em>(document unpublished)</em>
                    </td>
                    <td>
                        <a target="_blank" class="btn btn-sm btn-info" href="/{{ project_controller.project.name }}/edit/{{ document.path }}">edit</a>
                        <a target="_blank" class="btn btn-sm btn-info" href="/{{ project_controller.project.name }}/view/{{ document.path }}">view in editor</a>
                        <button class="btn btn-sm btn-info" ng-show="document.is_complete" ng-click="project_controller.document_publish(document)">
                            publish
                        </button>
                    </td></td>
                  {% endverbatim ng %}
              </tr>
              <tr ng-hide="project_controller.documents.length">
                  <!-- only show this part if the documents array is emtpy -->
                  <td colspan="5">
                      <span class="documentation">No documents found</span>
                  </td>
              </tr>
          </tbody>
      </table>
