{# _q_project_customize.html #}
{# the "customize" section of the project page #}

{# assumes we've already loaded the appropriate ng-controllers #}

    
      <div class="info">
          You can create a new Questionnaire customization by selecting a document type for a particular ontology:
      </div>

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Ontology</th>
                <th>Document Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% verbatim ng %}
                <tr>
                    <td>
                        <select id=customization_ontology" class="form-control" required
                                ng-model="project_controller.selected_customization_ontology"
                                ng-change="project_controller.selected_customization_ontology_changed()"
                                ng-options="o.title for o in project_controller.ontologies">
                        </select>
                    </td>
                    <td>
                        <select id="customization_proxy" class="form-control" required
                                ng-model="project_controller.selected_customization_proxy"
                                ng-change="project_controller.selected_customization_proxy_changed()"
                                ng-options="dt.title for dt in project_controller.selected_customization_ontology.document_types">
                        </select>
                    </td>
                    <td>
                        <a id="create_customization" class="btn btn-sm btn-info"
                           target="_blank"
                           ng-href="customize/{{ project_controller.selected_customization_ontology.key }}/{{ project_controller.selected_customization_proxy.name }}">
                            create
                        </a>
                    </td>
                </tr>
            {% endverbatim ng %}
        </tbody>
      </table>

      <div class="info">
          You can edit existing Questionnaire customizations.&nbsp;
          <span ng-show="project_controller.has_default_customization">
              A star next to the name indicates the <em>default</em> customization.&nbsp;
          </span>
          <span ng-show="project_controller.has_unsynchronized_customization">
              A <span class="unsynchronized">red font</span> indicates the customization is unsynchronized with this project's current set of ontologies and vocabularies.&nbsp;
          </span>
      </div>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th ng-click="project_controller.change_customization_sort_type('ontology')">
                      <span>Ontology</span>
                      <span ng-show="project_controller.customization_sort_type=='ontology'">
                          <span ng-show="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.customization_sort_type=='ontology'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th ng-click="project_controller.change_customization_sort_type('proxy')">
                      <span>Document Type</span>
                      <span ng-show="project_controller.customization_sort_type=='proxy'">
                          <span ng-show="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.customization_sort_type=='proxy'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th ng-click="project_controller.change_customization_sort_type('name')">
                      <span>Name</span>
                      <span ng-show="project_controller.customization_sort_type=='name'">
                          <span ng-show="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                          <span ng-hide="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-alphabet"></span>
                      </span>
                      <span ng-hide="project_controller.customization_sort_type=='name'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th ng-click="project_controller.change_customization_sort_type('modified')">
                      <span>Last Modified</span>
                      <span ng-show="project_controller.customization_sort_type=='modified'">
                          <span ng-show="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-order-alt"></span>
                          <span ng-hide="project_controller.customization_sort_reverse" class="glyphicon glyphicon-sort-by-order"></span>
                      </span>
                      <span ng-hide="project_controller.customization_sort_type=='modified'">
                          <span class="glyphicon glyphicon-sort text-muted"></span>
                      </span>
                  </th>
                  <th>&nbsp;</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="customization in project_controller.customizations | orderBy:project_controller.customization_sort_type:project_controller.customization_sort_reverse"
                  ng-class="customization.synchronization.length ? 'unsynchronized' : 'synchronized'">
                  {% verbatim ng %}
                    <td>{{ customization.ontology }}
                    </td>
                    <td>{{ customization.proxy }}</td>
                    <td>
                        {{ customization.name }}
                        &nbsp;<span ng-show="customization.is_default"
                                    class="glyphicon glyphicon-star"
                                    aria-hidden="true"/>
                    </td>
                    <td>
                        {{ customization.modified | date:'yyyy-MM-dd HH:mm:ss Z' }}
                    </td>
                    <td>
                        <a target="_blank" href="/{{ project_controller.project.name }}/customize/{{ customization.path }}"
                           class="btn btn-sm btn-info"
                           ng-class="{'disabled': customization.synchronization.length}">
                            customize
                        </a>
                        {% endverbatim ng %} {% if can_delete %} {% verbatim ng %}
                            <button class="btn btn-sm btn-info" ng-hide="customization.is_default" ng-click="project_controller.customization_delete(customization)">
                                delete
                            </button>
                        {% endverbatim ng %} {% endif %} {# /can_delete #} {% verbatim ng %}
                        <button class="btn btn-sm btn-danger" ng-show="customization.synchronization.length" ng-click="project_controller.customization_synchronize(customization)">
                            synchronize
                        </button>
                    </td>
                  {% endverbatim ng %}
              </tr>
              <tr ng-hide="project_controller.customizations.length">
                  <!-- only show this part if the customizations array is emtpy -->
                  <td colspan="4">
                      <span class="documentation">No customizations found</span>
                  </td>
              </tr>
          </tbody>
      </table>
