{# _q_project_view.html #}
{# the "view" section of the project page #}

{# assumes we've already loaded the appropriate ng-controllers #}

  <div class="info">
      You can view a <u>read-only</u> existing CIM document.&nbsp;
      If you wish to create or edit a CIM document, you may need to register for a Questionnaire account and then join this project.&nbsp;
      <span ng-show="project_controller.has_unsynchronized_document">
          A <span class="unsynchronized">red font</span> indicates the document is unsynchronized with this project's current set of ontologies and vocabularies.&nbsp;
      </span>
  </div>

  <table class="table table-striped">
      <thead>
          <tr>
              <th>
                  <span ng-click="project_controller.change_document_sort_type('ontology')">Ontology</span>
                  <span ng-show="project_controller.document_sort_type=='ontology'">
                      <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-up"></span>
                      <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-down"></span>
                  </span>
              </th>
              <th>
                  <span ng-click="project_controller.change_document_sort_type('proxy')">Document Type</span>
                  <span ng-show="project_controller.document_sort_type=='proxy'">
                      <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-up"></span>
                      <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-down"></span>
                  </span>
              </th>
              <th>
                  <span ng-click="project_controller.change_document_sort_type('name')">Name &amp; Version</span>
                  <span ng-show="project_controller.document_sort_type=='name'">
                      <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-up"></span>
                      <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-down"></span>
                  </span>
              </th>
              <th>
                  <span ng-click="project_controller.change_document_sort_type('modified')">Last Modified</span>
                  <span ng-show="project_controller.document_sort_type=='modified'">
                      <span ng-show="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-up"></span>
                      <span ng-hide="project_controller.document_sort_reverse" class="glyphicon glyphicon-menu-down"></span>
                  </span>
              </th>
              <th>&nbsp;</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="document in project_controller.documents | orderBy:project_controller.document_sort_type:project_controller.document_sort_reverse" ng-show="document.is_active">
              {% verbatim ng %}
                <td>{{ document.ontology }}</td>
                <td>{{ document.proxy }}</td>
                <td ng-show="document.label">
                    {{ document.label }}&nbsp;[{{ document.version }}]
                </td>
                <td ng-hide="document.label">
                    <em>(no label provided)</em>&nbsp;[{{ document.version }}]
                </td>
                <td>
                    {{ document.modified | date:'yyyy-MM-dd HH:mm:ss Z' }}
                </td>
                <td>
                    <a class="btn btn-sm btn-info" target="_blank" href="/{{ project_controller.project.name }}/view/{{ document.path }}">view in editor</a>
                </td>
              {% endverbatim ng %}
          </tr>
          <tr ng-hide="project_controller.documents.length">
              <!-- only show this part if the documents array is emtpy -->
              <td colspan="4">
                  <span class="documentation">No documents found</span>
              </td>
          </tr>
      </tbody>
  </table>
