{# _q_user.html #}
{# template block for rendering user login/logout/signup stuff #}

{% with user=request.user %}  {# make sure to get user from request; b/c some templates pass their own "user" variable #}
    <!-- default user login/logout block -->
    {% if user.is_authenticated %}
        <span>welcome: <strong><a title="view profile" href="/accounts/profile/{{ user }}/">{{ user }}</a></strong>&nbsp;</span>
        <a id="signout" class="label label-primary" title="sign out" href="{% url 'account_logout' %}?next={{ request.path }}">sign out</a>
        &nbsp;
    {% else %}
        <a id="signin" class="label label-default" title="sign in" href="{% url 'account_login' %}?next={{ request.path }}">sign in</a>
        <a id="signup" class="label label-primary" title="sign up" href="{% url 'account_signup' %}?next={{ request.path }}">sign up</a>
        &nbsp;
    {% endif %}
{% endwith %} {# /user #}
