{# _q_user.html #}
{# template block for rendering user login/logout/register stuff #}

{% with user=request.user %}  {# make sure to get user from request; b/c some templates pass their own "user" variable #}
    <!-- default user login/logout block -->
    <div id="user">
        <h5>
            {% if user.is_authenticated %}
                <span>welcome: <a href="/users/{{ user }}"><strong>{{ user }}</strong></a>&nbsp;</span>
                <a id="logout" class="label label-primary" href="{% url 'logout' %}?next={{ request.path }}" title="logout">logout</a>
            {% else %}
                <a id="register" class="label label-primary" title="register" href="{% url 'register' %}?next={{ request.path }}">register</a>
                <a id="login" class="label label-primary" href="{% url 'login' %}?next={{ request.path }}" title="login">login</a>
            {% endif %} {# /user.is_authenticated #}
        </h5>
    </div>
{% endwith %} {# /user #}
