{% load q_tags %}

{% with field=form.relationship_values %}

    <div class="row">
        <div class="has-feedback form-group">

            {% if form.use_references %}
                <span class="col-sm-3 {% if field.field.required %} required {% else %} optional {% endif %}">

                        <span class="col-sm-1">
                            {% if field.help_text and form.inline_help == False %}
                                <help help_text="{{field.help_text|safe}}"></help>
                            {% endif %}
                        </span>

                        <span class="col-sm-10">
                            {# notice how I'm not using field.label_tag #}
                            {# that is intentional; bootstrap has a specific style for labels #}
                            {# that I do not want to use in the Q #}
                            {{ field.label|safe }}:&nbsp;
                            {% if field.help_text and form.inline_help == True %}
                                <div class="documentation">
                                    {{ field.help_text }}
                                </div>
                            {% endif %}
                        </span>

                </span>

                <span class="col-sm-6 voffset-2">
                    {{ form.relationship_references }}

                    <div ng-repeat="reference in current_model['relationship_references'] track by $index">
                        <reference reference-function="foobar" reference-index="$index" reference-type="'cim.2.designing.NumericalExperiment'"/>
                    </div>

                </span>

                <span class="col-sm-3">

                    {% if form.is_nillable %}
                        {% nillable %}
                    {% endif %}

                    {# this includes custom client-side validation errors as well as server-side validation errors #}
                    {# (see "QForm.get_field_errors") #}
                    {{ field.errors }}

                </span>

            {% endif %}  {# /form.use_references #}

            {% if form.use_subforms %}
                <fieldset class="fieldset collapsible" ng-controller="FieldsetController as fieldset_controller">
                    <legend class="fieldset_header" ng-click="fieldset_controller.is_collapsed = ! fieldset_controller.is_collapsed" title="click to toggle content">
                        <span ng-hide="fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>

                            {% if field.help_text %}
                                <help help_text="{{field.help_text|safe}}"></help>
                            {% endif %}

                            <span class="{% if field.field.required %} required {% else %} optional {% endif %}">
                                {{ field.label|safe }}:&nbsp;
                            </span>

                        </legend>
                        <div class="fieldset_content" ng-hide="fieldset_controller.is_collapsed">

                             <div uib-accordion close-others="false"
                                  class="accordion"
                                  ng-model="current_model.relationship_values"
                                  ng-show="current_model.relationship_values.length">

                                 <div uib-accordion-group
                                     class="accordion_group"
                                     is-open="target.display_properties"
                                     ng-repeat="target in current_model.relationship_values track by $index"
                                     ng-class="target.display_properties ? 'expanded' : 'collapsed'">


                                     <div uib-accordion-heading
                                          class="accordion_header">
                                        <!-- I have to explicitly wrap the accordion_header in an element -->
                                        <!-- in order to catch the "ng-click" event -->
                                        <!-- (the customizer got this functionality for free as a side-effect of "ui-sortable" -->
                                        <div ng-click="target.display_detail = ! target.display_detail">
                                            <span ng-hide="target.display_detail" class="glyphicon glyphicon-triangle-right"></span>
                                            <span ng-show="target.display_detail" class="glyphicon glyphicon-triangle-bottom"></span>
                                            {# TODO: REPLACE THIS W/ SOMETHING LIKE get_label #}
                                            &nbsp;{{ form.customization.property_title }}

                                        </div>
                                    </div>  <!-- /.accordion_header -->

                                    <div class="accordion_content" ng-init="target_key=target.key; target_index=$index">

                                        <div class="pull-right">
                                            {# notice in ng-click, I don't have to wrap "target_key" or "target_index" w/ verbatim tags b/c I'm already in "ng mode" #}
                                            <button type="button" class="btn btn-info btn-sm"
                                                    ng-disabled="current_model.relationship_values.length == current_model.cardinality_min"
                                                    ng-click="remove_relationship_value('{{ form.customization.property_title }}', target_key, target_index)">
                                                    remove&nbsp;
                                                    <span class="glyphicon glyphicon-minus-sign"/>
                                            </button>
                                        </div><div class="clearfix voffset-16"/>

                                        <div ng-controller="ModelEditorController as model_editor_controller"
                                             current_model_path="{% verbatim ng %}{{ current_model_path }}{% endverbatim ng %}.relationship_values[{% verbatim ng %}{{ target_index }}{% endverbatim ng %}]">

                                            <section model_to_watch="target"
                                                     key="{% verbatim ng %}{{ target_key }}{% endverbatim ng %}"
                                                     index="{% verbatim ng %}{{ target_index }}{% endverbatim ng %}"
                                                     section_type="submodel_realization"></section>

                                        </div>  <!-- /ng-controller=model_editor_controller -->

                                    </div>  <!-- /.accordion_content -->

                                 </div>  <!-- /.accordion_group -->

                             </div>  <!-- /.accordion -->

                            <button type="button" class="btn btn-info btn-sm"
                                    ng-disabled="current_model.relationship_values.length == current_model.cardinality_max"
                                    ng-click="add_relationship_value('{{ form.customization.property_title }}')">
                                    add&nbsp;
                                    <span class="glyphicon glyphicon-plus-sign"/>
                            </button>

                            <span class="documentation text-muted pull-right">
                                {% verbatim ng %}
                                    ({{ current_model.relationship_values.length }}
                                    of a possible
                                    {{ current_model.cardinality_max }}
                                    {{ current_model.is_multiple ? "properties" : "property" }})
                                {% endverbatim ng %}
                            </span>

                        </div>
                </fieldset>
            {% endif %}  {# /form.use_subforms #}

        </div> <!-- /.form-group -->
    </div>  <!-- /.row -->

{% endwith %}