{% load q_tags %}

{% with field=form.enumeration_value %}

    <div class="row">
        <div class="has-feedback form-group">

            <span class="col-sm-3 {% if field.field.required %} required {% else %} optional {% endif %}">

                    <span class="col-sm-1">
                        {% if field.help_text and form.inline_help == False %}
                            <help help_text="{{field.help_text|safe}}"></help>
                        {% endif %}
                    </span>

                    <span class="col-sm-10">
                        {# notice how I'm not using field.label_tag #}
                        {# that is intentional; bootstrap has a specific style for labels #}
                        {# that I do not want to use in the Q #}
                        {{ field.label|safe }}:&nbsp;
                        {% if field.help_text and form.inline_help == True %}
                            <div class="documentation">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                    </span>

            </span>

            <span class="col-sm-6 voffset-2">
                {% with form_field=field.field %}
                    <enumeration enumeration-choices="{{ form_field.complete_choices }}"
                                 enumeration-multiple="{{ form_field.is_multiple }}"
                                 enumeration-disabled="!{{ form.is_editable }}"
                                 enumeration-name="'enumeration_value'"
                                 enumeration-function="update_property_completion"/>
                {% endwith %}
                <div class="voffset-8">
                    {{ form.enumeration_other_value }}
                </div>
                <span ng-show="show_completion">
                    &nbsp;<span ng-show="!current_model.is_complete" class="glyphicon glyphicon-pushpin"/>
                </span>
            </span>

            <span class="col-sm-3">

                {% if form.is_nillable %}
                    {% nillable %}
                {% endif %}

                {# this includes custom client-side validation errors as well as server-side validation errors #}
                {# (see "QForm.get_field_errors") #}
                {{ field.errors }}

            </span>

        </div> <!-- /.form-group -->
    </div>  <!-- /.row -->

{% endwith %}