{% load q_tags %}

{% with field=form.enumeration_value %}

    <div class="has-feedback form-group">

        <span class="col-sm-3 {% if field.field.required %} required {% else %} optional {% endif %}">

                <span class="col-sm-1">
                    {% with help_text=field.help_text %}
                        {% if help_text and form.inline_help == False %}
                            {% include 'questionnaire/_q_help.html' %}
                        {% endif %}
                    {% endwith %}  {# /help_text #}
                </span>

                <span class="col-sm-10">
                    {# notice how I'm not using field.label_tag #}
                    {# that is intentional; bootstrap has a specific style for labels #}
                    {# that I do not want to use in the Q #}
                    {{ field.label|safe }}:&nbsp;
                    {% with help_text=field.help_text %}
                        {% if help_text and form.inline_help == True %}
                            <div class="documentation">
                                {{ help_text }}
                            </div>
                        {% endif %}
                    {% endwith %}  {# /help_text #}
                </span>

        </span>

        <span class="col-sm-6 voffset-2">
{{form.is_complete}}<br/>
            <div enumeration
                 enumeration-required="{{ form.is_required|jsonify }}"
                 enumeration-fn="{% verbatim ng %}{{ update_property_completion() }}{% endverbatim ng %}"
                 enumeration-choices="{{ form.enumeration_value.field.get_complete_choices }}"
                 enumeration-name="'{{ form.enumeration_value.name }}'"
                 enumeration-multiple="{{ form.enumeration_value.field.get_is_multiple }}">
            </div> <!-- strings being passed to an ng directive need to be enclosed in quotes -->

            <div class="voffset-8">
                {{ form.enumeration_other_value }}
            </div>

        </span>

        <span class="col-sm-3">

            {% if form.is_nillable %}
                {% nillable %}
            {% endif %}

            {# this includes custom client-side validation errors as well as server-side validation errors #}
            {# (see "QForm.get_field_errors") #}
            {{ field.errors }}

        </span>

    </div> <!-- /.form-group -->

{% endwith %}