{# _q_view_completion.html #}

<!-- (editor_controller has already been defined the "q_view.html" template) -->

<div class="row completion_title">
    <div class="col-lg-12 col-md-12">
        <help help_text="Use this checkbox to toggle the indication of incomplete sections. When selected, any section with required properties that have not been filled in will be indicated.  Only documents with no incomplete properties can be published."></help>
        view completion status:&nbsp;
        {# TODO: WHY DOESN'T ng-model WORK IN THIS INSTANCE?!?  WHY DO I ALSO NEED ng-click?!? #}
        <input type="checkbox" ng-model="show_completion" ng-click="toggle_completion()"/>
    </div>
</div>