{# q_base.html #}

{% load staticfiles %}
{% load compress %}
{% load q_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

{% block head %}

    <head>

        <!-- icon -->
        <link rel="shortcut icon" href="{% static 'questionnaire/img/favicon.ico' %}" />

        <!-- title -->
        <title>
            {% block title %}
                {# custom title goes here #}
                ES-DOC Questionnaire
            {% endblock %} {# /title #}
        </title>

        {% block style %}
            <!-- note how I turn on/off CDN depending on the "cdn" context processor -->
            {% if cdn %}
                <!-- TODO: VERIFY THIS IS NOT NEEDED -->
                <!--<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.min.css"/>-->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" integrity="sha256-3c9LKIgnbVhWZ3sjhR5aRBWFb+4sVZu6IaRnyj8geTo=" crossorigin="anonymous" />
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" integrity="sha256-IW5fdxFdf6I5MsRbl2dOje41oOvdZhIpgcE8sBnYVus=" crossorigin="anonymous" />
            {% else %}
                <!-- TODO: VERIFY THIS IS NOT NEEDED -->
                <!--<link rel="stylesheet" href="{% static 'questionnaire/css/ext/jquery-ui.min.css' %}" />-->
                <link rel="stylesheet" href="{% static 'questionnaire/css/ext/loading-bar.min.css' %}" />
                <link rel="stylesheet" href="{% static 'questionnaire/css/ext/bootstrap-select.min.css' %}" />
            {% endif %}

            <!-- TODO: WHY AREN'T THESE LOADED?  (I GET AROUND THIS BY INCLUDING MUCH OF THEIR CONTENT IN "q_ng.less") -->
            <!--<link rel="stylesheet" type="text/less" media="all" href="{% static 'djng/css/bootstrap3.css' %}" />-->
            <!--<link rel="stylesheet" type="text/less" media="all" href="{% static 'djng/css/styles.css' %}" />-->
            {% compress css %}
                <link rel="stylesheet" type="text/less" media="all" href="{% static 'questionnaire/less/q_base.less' %}" />
            {% endcompress %}
            {# in child templates, be sure use the {{ block.super }} tag when adding local style #}
        {% endblock %} {# /style #}

        {% block scripts %}
            {% if cdn %}
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" integrity="sha256-rAcT5/oEKKwqtxd8M0Ym0iKyhLOYKjkK/8A9s8cidPI=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
                <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js" integrity="sha256-equUbqqmQ/UsoL6zkgolTGUnZ9VJs/o7plSCor12hyI=" crossorigin="anonymous"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js" integrity="sha256-SgBeuzO1v6Sld1eeS505uso5CxcWhHt3Nk7h6oqDkFw=" crossorigin="anonymous"></script>
            {% else %}
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/jquery-3.1.1.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/jquery-ui.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/bootstrap.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/bootbox.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/bootstrap-select.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/angular.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/angular-cookies.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/loading-bar.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'questionnaire/js/ext/ui-bootstrap-tpls.min.js' %}"></script>
            {% endif %}
            <!-- local js -->
            <script type="text/javascript" src="{% static 'questionnaire/js/q_base.js' %}"></script>
            <script type="text/javascript" src="{% static 'questionnaire/js/q_validators.js' %}"></script>
            <script type="text/javascript" src="{% static 'questionnaire/js/q_ng_base.js' %}"></script>
            <script type="text/javascript" src="{% static 'djng/js/django-angular.min.js' %}"></script>
            {% compress js %}
                <!-- custom js -->
                <script language="javascript" type="text/javascript">

                    /* setup local variables */
                    var RESERVED_WORDS = {% reserved_words %}
                    var PROFANITIES_LIST = {% profanities %}
                    var ENUMERATION_OTHER_CHOICE = "{% enumeration_other_choice %}"

                    /* redefining javascript indexOf() fn, which doesn't exist in some versions of IE */
                    if (!Array.prototype.indexOf) {
                        Array.prototype.indexOf = function(obj, start) {
                             for (var i = (start || 0), j = this.length; i < j; i++) {
                                 if (this[i] === obj) { return i; }
                             }
                             return -1;
                         }
                    };

                    $(document).ready(
                        function() {

                            /* in old versions of the Q there was loads of long & complex JQuery code to setup all the interactivity */
                            /* now there are only a couple of fns (defined in "q_base.js"), and those are written very efficiently */
                            /* hooray! */

                            var parent = document.body;
                            init_widgets(helps, $(parent).find(".help"));
                            init_widgets(selects, $(parent).find(".select"));

                            /* okay... I do have to make certain allowances for elements that might be hidden w/in tabs */
                            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                                var tab_id = $(e.target).attr("data-target");
                                var tab_content = $(tab_id);
                                init_widgets(helps, $(tab_content).find(".help"));
                                init_widgets(selects, $(tab_content).find(".select"));
                            });

                            /* and some special code to close any popovers (ie: ".help") if the user clicks outside */
                            $(parent).on("click", function(e) {
                                if ($(e.target).data('toggle') !== 'popover' && $(e.target).parents('.popover.in').length === 0) {
                                    $('[data-toggle="popover"]').popover('hide');
                                }
                            });
                        }
                    );

                </script>
            {% endcompress %}
        {% endblock %} {# /scripts #}

    </head>

{% endblock %} {# / head #}

<body>

{% block site %}
    {# adds notification for non-PRODUCTION sites #}
    {% include 'questionnaire/_q_site.html' %}
{% endblock %} {# /site #}

{% block messages %}
    <div id="lil_msg" class="bb-alert" style="display: none;"></div>
    <script language="JavaScript">
        check_msg();
    </script>
{% endblock %} {# /messages #}

{% block main %}

    <div id="questionnaire" class="container-fluid">

        <div class="header row">
            {% block header %}
                <a href="/" title="ES-DOC Questionnaire Home"><img id="logo" src="{% static 'questionnaire/img/esdoc_logo.png' %}"/></a>
                <span id="user">
                    {% block user %}
                        {% include 'questionnaire/_q_user.html' %}
                    {% endblock %} {# /#user #}
                </span>
            {% endblock %} {# /header #}
        </div>  <!-- /.header -->

        <div class="content row">
            <div class="panel">
                <div class="panel-body">
                    {% block content %}
                        you forgot to add content!
                    {% endblock %} {# /content #}
                </div>
            </div>
        </div>  <!-- /.content -->

        <div class="footer row">
            {% block footer %}
                This form is generated by the <a target="_blank" href="{% q_url %}">ES-DOC Questionnaire</a> (v{% q_version %}).
                <br/>For more information please contact: <a href="mailto:{% q_email %}">{% q_email %}</a>.
            {% endblock %} {# /footer #}
        </div>  <!-- /.footer -->

    </div>  <!-- /#questionnaire -->

{% endblock %} {# / main #}

</body>

</html>
