{# q_customize.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load compress %}
{% load djng_tags %}

{% block title %}
    ES-DOC Questionnaire Customizer
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    {% if cdn %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js" integrity="sha256-IpGBPsTmIf0hT/d23EnI1a9zAe8+lSJH2KMtfmyyEh0=" crossorigin="anonymous"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'questionnaire/js/ext/sortable.min.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'questionnaire/js/q_ng_customize.js' %}"></script>
    <script language="JavaScript">

        var session_key = "{{ session_key }}";
        var project_id = {{ project.pk }};
        var project_name = "{{ project.name }}";
        var customization_id = {{ customization.pk|default:0 }};
        var customization_name = "{{ customization.name }}";

        var api_url_dirname = "{{ api_url_dirname }}";
        var view_url_dirname = "{{ view_url_dirname }}";

        $(document).ready(
            function() {

                /* the customizer forms can have stackable modals (when customizing subforms) */
                /* this is not _really_ supported by Bootstrap3 */
                /* so this bit of code addresses that */
                /* (got the idea from http://stackoverflow.com/a/24914782) */

                $(document).on('show.bs.modal', '.modal', function (event) {
                    //var zIndex = 1040 + (10 * $('.modal:visible').length);
                    var zIndex = Math.max.apply(null, Array.prototype.map.call(document.querySelectorAll('*'), function(el) {
                        return +el.style.zIndex;
                    })) + 10;
                    $(this).css('z-index', zIndex);
                    setTimeout(function() {
                        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                    }, 0);
                })
                $(document).on('hidden.bs.modal', '.modal', function () {
                    $('.modal:visible').length && $(document.body).addClass('modal-open');
                });

            }
        );

    </script>
{% endblock %}  {# /scripts #}

{% block content %}
    <div ng-app="q_customize">
        <div ng-controller="CustomizerController as customizer_controller">

            {# wrapping everything in a fieldset that can be deactivated during AJAX calls #}
            <fieldset id="q_blocker" ng-disabled="blocking()">

                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="title">
                            Customize the ES-DOC Questionnaire for <strong>{{ proxy }}</strong> documents of the <a href="/{{ project.name }}" title="ES-DOC Questionnaire Project Home Page"><strong>{{ project.title }}</strong></a> Project
                        </div> <!-- /.title -->

                        <div class="documentation">
                            <p>
                                Use this page to customize how a particular ES-DOC Document Type is presented in the ES-DOC Questionnaire for this project.&nbsp;
                            </p>
                            </p>
                                <a href="/{{ project.name }}">{{ project.title }} Project Page.</a>
                            </p>
                            <p>
                                <a href="{% url 'help' %}">ES-DOC Questionnaire help</a> is available.
                            </p>
                        </div> <!-- /.documentation -->

                        <div class="panel panel-default">
                            <div class="panel-body">

                                {# here is the top-level model controller #}
                                {# others may be created for subforms via the load-on-demand paradigm #}
                                <div ng-controller="ModelCustomizerController as model_customizer_controller"
                                     current_model_path="_DATA">

                                    <form name="{{form.form_name}}"
                                          class="form-horizontal"
                                          watch_form_validity="models_validity"
                                          novalidate>

                                        {% csrf_token %}

                                        <div class="hidden">
                                            {% for field in form.hidden_fields %}
                                                {{ field }}
                                            {% endfor %}
                                        </div> <!-- /.hidden -->

                                        <div id="{{form.form_name}}_customization_fields">
                                            <fieldset class="fieldset collapsible" ng-class="customization_details_fieldset_controller.is_collapsed ? 'collapsed' : 'expanded'">
                                                <legend class="fieldset_header" ng-click="customization_details_fieldset_controller.is_collapsed = ! customization_details_fieldset_controller.is_collapsed" title="click to toggle content">
                                                    <span ng-hide="customization_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                                                    <span ng-show="customization_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
                                                    Customization Details:&nbsp;
                                                </legend>
                                                <div class="fieldset_content" ng-hide="customization_details_fieldset_controller.is_collapsed">

                                                    <div class="documentation">
                                                        This section contains information relating to the customization itself, as opposed to the editor form being customized.
                                                    </div>

                                                    {% for field in form.customization_fields %}
                                                        <div class="row {% cycle 'odd' 'even' %}">
                                                            {% include 'questionnaire/_q_customize_field.html' %}
                                                        </div>
                                                    {% endfor %} {# /field #}

                                                </div> <!-- /.fieldset_content -->
                                            </fieldset>
                                        </div>  <!-- /customization_fields -->
                                        <br/>

                                        <div id="{{form.form_name}}_document_fields">
                                            <fieldset class="fieldset collapsible"
                                                      ng-controller="FieldsetController as document_details_fieldset_controller"
                                                      ng-class="document_details_fieldset_controller.is_collapsed ? 'collapsed' : 'expanded'">
                                                <legend class="fieldset_header" ng-click="document_details_fieldset_controller.is_collapsed = ! document_details_fieldset_controller.is_collapsed" title="click to toggle content">
                                                    <span ng-hide="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                                                    <span ng-show="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
                                                    Document Details:&nbsp;
                                                </legend>
                                                <div class="fieldset_content" ng-hide="document_details_fieldset_controller.is_collapsed">

                                                    <div class="documentation">
                                                        This section contains information relating to the document itself.  This will affect the look-and-feel of the editor form being customized.
                                                    </div>

                                                    {% for field in form.document_fields %}
                                                        <div class="row {% cycle 'odd' 'even' %}">
                                                            {% include 'questionnaire/_q_customize_field.html' %}
                                                        </div>
                                                    {% endfor %} {# /field #}

                                                </div> <!-- /.fieldset_content -->
                                            </fieldset>
                                        </div>  <!-- /document_fields -->
                                        <br/>

                                    </form>

                                    {% include 'questionnaire/_q_customize_properties.html' %}

                                    <div class="row">
                                        <div class="col-lg-offset-1 col-md-offset-1">
                                            <div class="form-group voffset-16">
                                                <button class="btn btn-primary" ng-click="submit_customization({{form.form_name}})" ng-disabled="!models_validity"
                                                        title="save the current state of this customization">
                                                    submit
                                                </button>
                                            </div>
                                        </div>  <!-- /col -->
                                    </div>  <!-- /row -->

                                </div>  <!-- /ng-controller=ModelCustomizerController -->

                            </div>  <!-- /.panel-body -->
                        </div>  <!-- /.panel -->

                    </div>  <!-- /col -->
                </div>  <!-- /row -->

            </fieldset>  <!-- /#q_blocker -->

            {# TODO: DELETE THIS BIT ONCE CODE IS WORKING #}
            <div class="row">
                <button class="btn btn-danger btn-xs pull-right" title="print ng scope to console" ng-click="print_stuff()">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>

        </div>  <!-- /ng-controller=customizer_controller -->
    </div>  <!-- /ng-app=q_customize -->
{% endblock %}  {# /content #}

{% block footer %}
    {{ block.super }}
    {% if ontology.url %}
        <br/>It uses the ontology <a href="{{ontology.url}}">{{ ontology }}</a>.
    {% else %}
        <br/>It uses the ontology {{ ontology }}.
    {% endif %}  {# /ontology.url #}
{% endblock %}  {# /footer #}
