{# q_edit.html #}

{% extends "questionnaire/q_view.html" %}

{% load staticfiles %}
{% load compress %}
{% load djng_tags %}
{% load q_tags %}

{% block title %}
    ES-DOC Questionnaire Editor
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">

    /* I am pretty sure that this code will already have been run by virtue of the "block.super" tag above */
    /* (it is duplicated in "q_view.html") */
    /*****
        var session_key = "{{ session_key }}";
        var project_id = {{ project.pk }};
        var project_name = "{{ project.name }}";
        var realization_id = {{ realization.pk|default:0 }};

        var api_url_dirname = "{{ api_url_dirname }}";
        var view_url_dirname = "{{ view_url_dirname }}";

        var read_only = {{ read_only }};

        $(document).ready(
            function() {
                var parent = document.body;
                init_widgets(splitters, $(parent).find(".splitter"));
            }
        );
    *****/

    </script>
{% endblock %}  {# /scripts #}

{% block content_title %}
    <div class="title">
        Editing {{ customization.model_title|a_or_an }} <strong>{{ customization.model_title }}</strong> instance for the <a href="/{{ project.name }}" title="ES-DOC Questionnaire Project Home Page"><strong>{{ project.title }}</strong></a> Project
    </div> <!-- /.title -->
{% endblock %}  {# /content_title #}

{% block content_documentation %}
    <div class="documentation">
        <p>
            Use this page to edit a {{ customization.model_title }} document.&nbsp;&nbsp;
            When you have finished filling in all properties, click the "submit" button at the bottom of the page to store a local copy.&nbsp;&nbsp;
        </p>
        </p>
            <a href="/{{ project.name }}">{{ project.title }} Project Page</a>.
        </p>
        <p>
            <a href="{% url 'help' %}">ES-DOC Questionnaire help</a> is available.
        </p>
    </div> <!-- /.documentation -->
{% endblock %}  {# /content_documentation #}

{# all of the actual content is inherited from the "q_view.html" template #}

{% block content_submit %}
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="form-group voffset-16">
                <!-- the whole concept of marking invalid form elements doesn't quite translate from the customizer to here -->
                <!-- so "ng-disabled" doesn't really apply here and "submit_realization" takes no form name arguments -->
                <button class="btn btn-primary" ng-click="submit_realization()" ng-disabled="!form_validity"
                        title="save the current state of this realization">
                    submit
                </button>
            </div>
        </div>  <!-- /col -->
    </div>  <!-- /row -->
{% endblock %} {# /content_submit #}
