{# q_help.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}

{% block style %}
    {{ base.super }}
    <style type="text/css">
        .screenshot { display: block; margin-left: auto; margin-right: auto; margin-top: 8px; margin-bottom: 8px; padding: 2px; border: 1px solid #358C92; }
        .screenshot.left { margin-left: 0px !important; }
        .screenshot.right { margin-right: 0px !important; }
    </style>
{% endblock %} {# /style #}


{% block content %}

    <div class="title">
        CIM Questionnaire Help
    </div> <!-- /#title -->

    <div class="panel panel-default">
        <div class="panel-body">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_help_general" aria-controls="home" role="tab" data-toggle="tab">What is the CIM Questionnaire</a></li>
            <li role="presentation"><a href="#tab_help_edit" aria-controls="profile" role="tab" data-toggle="tab">How to Edit a CIM Document</a></li>
            <li role="presentation"><a href="#tab_help_customize" aria-controls="messages" role="tab" data-toggle="tab">How to Customize the Questionnaire Editor</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane panel active" id="tab_help_general">
                <br/>
                {% include "questionnaire/_q_help_general.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_help_edit">
                <br/>
                {% include "questionnaire/_q_help_edit.html" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_help_customize">
                <br/>
                {% include "questionnaire/_q_help_customize.html" %}
            </div>
          </div>

        </div> <!-- /.panel-body -->
    </div> <!-- /.panel -->

{% endblock %} {# /content #}