{# index.html #}

{% extends "things/base.html" %}

{% load staticfiles %}
{% load compress %}

{% block title %}
    ES-DOC Questionnaire Index
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'things/js/q_ng_base.js' %}"></script>
    <script type="text/javascript" src="{% static 'things/js/q_ng_editor.js' %}"></script>
    <script language="JavaScript">

        var session_key = "{{ session_key }}";

        $(document).ready(
            function() {

                /* in old versions of the Q there were dozens of sections of long & complex JQuery code */
                /* to setup all the interactivity of the Q */
                /* now there are only a couple of fns, and they are written very efficiently */
                /* hooray */

                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
                init_widgets(splitters, $(parent).find(".splitter"));

            }
        );

    </script>
{% endblock %}  {# /scripts #}

{% block content %}
    <div ng-app="q_editor">
        <div ng-controller="EditorController as editor_controller">

            <div class="splitter">
                <div class="panel panel-info">

                    <tree nodes="hierarchy">here is some text to be replaced</tree>

                </div>
                <div class="panel panel-info">

              <a href="#" class="btn btn-default">Default</a>
              <a href="#" class="btn btn-primary">Primary</a>
              <a href="#" class="btn btn-success">Success</a>
              <a href="#" class="btn btn-info">Info</a>
              <a href="#" class="btn btn-warning">Warning</a>
              <a href="#" class="btn btn-danger">Danger</a>
              <a href="#" class="btn btn-link">Link</a>


                </div>
            </div>


            {# ########################################## #}
            {# TODO: DELETE THIS BIT ONCE CODE IS WORKING #}

                <div class="row">
                    <button class="btn btn-danger btn-xs pull-right" title="print ng scope to console" ng-click="print_stuff()">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>

            {# ########################################## #}

        </div>
    </div>  <!-- /ng-app=q_editor -->
{% endblock %}  {# /content #}
