{# q_password.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}


{% block title %}
    ES-DOC Questionnaire Password Reset
{% endblock %} {# /title #}


{% block scripts %}
    {{ block.super }}
    <script language="javascript">

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            init_widgets(helps, $(parent).find(".help"));

        }
    );

    </script>
{% endblock %} {# /scripts #}


{% block user %}
    <!-- no user block for q_password -->
{% endblock %} {# /user #}

{% block content %}

    <div class="title">
        Change Password
    </div> <!-- /#title -->

    <div class="documentation">
        <p>
            Change the password for the user <span class="lead">{{ user }}</span>:
        </p>
    </div>

    <div class="container-fluid">
        <div class="col-md-8">

            <form class="form-horizontal" method="POST" action="">

                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %} {# /form.non_field_errors #}

                {% for field in form %}
                    <div class="form-group">
                        <span class="col-sm-2">
                            {% with help_text=field.help_text %}
                                {% if help_text %}
                                    <span class="col-sm-1">
                                        {% include 'questionnaire/_q_help.html' %}
                                    </span>
                                    <span class="col-sm-8">
                                        {{ field.label }}:
                                    </span>
                                {% else %}
                                    {{ field.label }}:
                                {% endif %} {# /help_text #}
                            {% endwith %} {# /help_text #}
                        </span>
                        <div class="col-sm-8">
                           {{ field }}
                           {% if field.errors %}
                               {% include 'questionnaire/_q_error.html' %}
                           {% endif %} {# / field.errors #}
                        </div>
                    </div> <!-- /.form-group -->
                {% endfor %} {# /field #}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </div>

            </form> <!-- /.form-horizontal -->
        </div> <!-- /.col-md-6 -->
    </div> <!-- /.container -->

{% endblock %} {# /content #}
