{# q_project_manage.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load compress %}

{% block title %}
    ES-DOC Questionnaire Project Manager: {{ project.title }}
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'questionnaire/js/q_ng_project_manage.js' %}"></script>
    <script language="JavaScript">

        var project_id = {{ project.pk }};
        var project_name = "{{ project.name }}";

        $(document).ready(
            function() {

                /* in old versions of the Q there were dozens of sections of long & complex JQuery code */
                /* to setup all the interactivity of the Q */
                /* now there are only a couple of fns, and they are written very efficiently */
                /* hooray */

                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
            }
        );

    </script>
{% endblock %}  {# /scripts #}


{% block content %}
    <div ng-app="q_project_manage">
        <div ng-controller="ProjectManageController as project_controller">

            {# wrapping everything in a fieldset that can be deactivated during AJAX calls #}
            <fieldset id="q_blocker" ng-disabled="blocking()">

                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

                        <div class="title">
                            Manage the <a href="/{{ project.name }}" title="ES-DOC Questionnaire Project Home Page"><strong>{% verbatim ng %}{{ project_controller.saved_project_title }}{% endverbatim ng %}</strong></a> ES-DOC Questionnaire Project
                        </div> <!-- /.title -->

                        <div class="documentation clearfix">

                            {% if project.display_logo and project.logo %}
                                <div class="project_logo">
                                    <img src="{{ MEDIA_URL }}/{{ project.logo }}"/>
                                </div>
                            {% endif %}  {# /display_logo #}

                        </div> <!-- /.documentation -->

                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-lg-8 col-md-8">

                                        <form name="{{form.form_name}}"
                                              class="form-horizontal"
                                              watch_form_validity="project_validity"
                                              novalidate>

                                            <div class="hidden">
                                                {% for field in form.get_hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
                                            </div>

                                            {% for field in form.project_fields %}

                                                <div class="has-feedback form-group">

                                                    <span class="col-lg-1 col-md-1 text-right">
                                                        {% if field.help_text %}
                                                            <help help_text="{{field.help_text|safe}}"></help>
                                                        {% endif %}
                                                    </span>

                                                    <span class="col-lg-3 col-md-3 {% if field.field.required %} required {% else %} optional {% endif %} ">
                                                        {{ field.label|safe }}
                                                    </span>

                                                    <span class="col-lg-5 col-md-5 voffset-2">
                                                       {{ field }}
                                                    </span>

                                                    <span class="col-lg-2 col-md-2">
                                                        {{ field.errors }}
                                                    </span>

                                                </div> <!-- /.form-group -->

                                            {% endfor %} {# /field #}

                                        </form>

                                         <div class="form-group voffset-16">
                                            <button class="btn btn-primary" ng-click="project_controller.submit_project({{form.form_name}})" ng-disabled="!project_validity">
                                                submit
                                            </button>
                                        </div>

                                    </div>  <!-- /col -->

                                    <div class="col-lg-3 col-md-3">
                                        <div class="list-group small">
                                            <span class="list-group-item active">Project Members:</span>
                                            <li class="list-group-item" ng-repeat="user in project_controller.project.users">
                                                <a ng-href="/accounts/profile/{% verbatim ng %}{{user.username}}{% endverbatim ng %}/">{% verbatim ng %}{{ user.username }}{% endverbatim ng %}</a>
                                                <span class="badge" ng-show="project_controller.is_project_user(user)">user</span>
                                                <span class="badge" ng-show="project_controller.is_project_member(user)">member</span>
                                                <span class="badge" ng-show="project_controller.is_project_admin(user)">admin</span>
                                            </li>
                                            <li class="list-group-item" ng-show="project_controller.project.users.length == 0">
                                                <span class="documentation text-muted">No members here.</span>
                                            </li>
                                        </div> <!-- /.list-group -->

                                       <div class="list-group small">
                                            <span class="list-group-item active">Pending Project Members:</span>
                                            <li class="list-group-item" ng-repeat="user in project_controller.project.pending_users">
                                                <a ng-href="/accounts/profile/{% verbatim ng %}{{user.username}}{% endverbatim ng %}/">{% verbatim ng %}{{ user.username }}{% endverbatim ng %}</a>
                                                <button class="btn btn-xs btn-info pull-right" ng-click="project_controller.approve_pending_member(user)">
                                                    approve
                                                </button>
                                            </li>
                                            <li class="list-group-item" ng-show="project_controller.project.pending_users.length == 0">
                                                <span class="documentation text-muted">No pending members here.</span>
                                            </li>
                                        </div> <!-- /.list-group -->


                                       <div class="list-group small">
                                            <span class="list-group-item active">
                                                <help help_text="This project can support the creation of documents defined in the following ontologies."></help>&nbsp;
                                                Supported Ontologies
                                            </span>
                                            <li class="list-group-item" ng-repeat="ontology in project_controller.project.ontologies">
                                                <strong>{% verbatim ng %}{{ ontology.name }}{% endverbatim ng %}</strong>
                                                <span class="documentation">{% verbatim ng %}{{ ontology.documentation }}{% endverbatim ng %}</span>
                                            </li>
                                            <li class="list-group-item" ng-show="project_controller.project.ontologies == 0">
                                                <span class="documentation text-muted">This project has no ontologies.</span>
                                            </li>
                                        </div> <!-- /.list-group -->

                                    </div>  <!-- /col -->
                                </div>  <!-- /row -->

                            </div>  <!-- /.panel-body -->
                        </div>  <!-- /.panel -->

                    </div>  <!-- /col -->
                </div>  <!-- /row -->

            </fieldset>  <!-- /#q_blocker -->

            {# TODO: DELETE THIS BIT ONCE CODE IS WORKING #}
            <div class="row">
                <button class="btn btn-danger btn-xs pull-right" title="print ng scope to console" ng-click="project_controller.print_stuff()">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>

        </div>  <!-- /ng-controller=ProjectController -->
    </div>  <!-- /ng-app=q_project -->
{% endblock %}  {# /content #}
