{# index.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load compress %}

{% block title %}
    ES-DOC Questionnaire Test
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'questionnaire/js/q_ng_test.js' %}"></script>
    <script language="JavaScript">

        var session_key = "{{ session_key }}";

        $(document).ready(
            function() {

                /* in old versions of the Q there were dozens of sections of long & complex JQuery code */
                /* to setup all the interactivity of the Q */
                /* now there are only a couple of fns, and they are written very efficiently */
                /* hooray */

                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
            }
        );

    </script>
{% endblock %}  {# /scripts #}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'questionnaire/css/ext/jquery.splitter.css' %}" />
{% endblock %}  {# /style #}

{% block content %}
    <div ng-app="q_test">
        <div ng-controller="EditorController as editor_controller">

            {# wrapping everything in a fieldset that can be deactivated during AJAX calls #}
            <fieldset id="q_blocker" ng-disabled="blocking()">

                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        <div class="title">
                            Editing an instance for the ES-DOC Questionnaire
                        </div> <!-- /.title -->

                        <div class="documentation">
                            <p>
                                Use this page to create or modify a {{ customization.model_title }} document.
                                When you have finished filling in all properties, click the "submit" button at the bottom of the page to store a local copy.
                                Invalid entries are indicated using a <span style="color: #ff0000; font-weight: bold;">red</span> font.
                            </p>
                            <p>
                                <a href="{% url 'help' %}">ES-DOC Questionnaire help</a> is available.
                            </p>
                        </div> <!-- /.documentation -->

                        <div class="panel panel-default">
                            <div class="panel-body">
hi
                            </div>  <!-- /.panel-body -->
                        </div>  <!-- /.panel -->

                    </div>
                </div>

            </fieldset>  <!-- /#q_blocker -->

            {# TODO: DELETE THIS BIT ONCE CODE IS WORKING #}
            <div class="row">
                <button class="btn btn-danger btn-xs pull-right" title="print ng scope to console" ng-click="print_stuff()">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>

        </div>
    </div>  <!-- /ng-app=q_index -->
{% endblock %}  {# /content #}
