{# q_view.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load compress %}
{% load djng_tags %}
{% load q_tags %}

{% block title %}
    ES-DOC Questionnaire Viewer
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    {% if cdn %}
        {# TODO: FIND CDN VERSIONS OF THIS #}
        <script type="text/javascript" src="{% static 'questionnaire/js/ext/jquery.splitter-0.14.0.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'questionnaire/js/ext/jquery.splitter-0.14.0.js' %}"></script>
    {% endif %}
    <script type="text/javascript" src="{% static 'questionnaire/js/q_ng_edit.js' %}"></script>
    <script language="JavaScript">

        var session_key = "{{ session_key }}";
        var project_id = {{ project.pk }};
        var project_name = "{{ project.name }}";
        var realization_id = {{ realization.pk|default:0 }};

        var api_url_dirname = "{{ api_url_dirname }}";
        var view_url_dirname = "{{ view_url_dirname }}";

        var read_only = {{ read_only }};

        $(document).ready(
            function() {
                var parent = document.body;
                init_widgets(splitters, $(parent).find(".splitter"));
            }
        );

    </script>
{% endblock %}  {# /scripts #}

{% block content %}

    <div ng-app="q_edit">
        <div ng-controller="EditorController as editor_controller">

            {# wrapping everything in a fieldset that can be deactivated during AJAX calls #}
            <fieldset id="q_blocker" ng-disabled="blocking()">

                <div class="row">
                    <div class="col-lg-12 col-md-12">

                        {% block content_title %}
                            <div class="title">
                                Viewing {{ customization.model_title|a_or_an }} <em>read-only</em> <strong>{{ customization.model_title }}</strong> instance for the <a href="/{{ project.name }}" title="ES-DOC Questionnaire Project Home Page"><strong>{{ project.title }}</strong></a> Project
                            </div> <!-- /.title -->
                        {% endblock %}  {# /content_title #}

                        {% block content_documentation %}
                            <div class="documentation">
                                <p>
                                    Use this page to view a {{ customization.model_title }} document.
                                </p>
                                </p>
                                    <a href="/{{ project.name }}">{{ project.title }} Project Page</a>.
                                </p>
                                <p>
                                    <a href="{% url 'help' %}">ES-DOC Questionnaire help</a> is available.
                                </p>
                            </div> <!-- /.documentation -->
                        {% endblock %}  {# /content_documentation #}

                        <div class="panel panel-default">
                            <div class="panel-body">

                                {# here is the top-level model controller #}
                                {# others may be created for subforms via the load-on-demand paradigm #}
                                <div ng-controller="ModelEditorController as model_editor_controller"
                                     current_model_path="_DATA">


                                    {% include "questionnaire/_q_view_completion.html" %}

                                    {% if ontology.ontology_type == "SPECIALIZATION" %}
                                        <div class="col-lg-2 col-md-2">
                                            <div class="hierarchy">
                                                <div class="hierarchy_title">
                                                    {{ customization.model_hierarchy_title }}
                                                </div>
                                                <div class="hierarchy_body">
                                                    <tree model="current_model" show_completion="show_completion"></tree>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-md-10">
                                            <hierarchy model="current_model"></hierarchy>
                                        </div>
                                    {% else %}
                                        <section model_to_watch="current_model"
                                                 key="{% verbatim ng %}{{ current_model.key }}{% endverbatim ng %}"
                                                 section_type="model_realization"></section>
                                    {% endif %}  {# /ontolgoy_type == "SPECIALIZATION" #}

                                    {% block content_submit %}
                                        <!-- no content submission buttons for view template -->
                                    {% endblock %} {# /content_submit #}

                                    <span class="pull-right documentation">
                                        {% verbatim ng %}
                                            document version:&nbsp;{{ current_model.version }}
                                        {% endverbatim ng %}
                                    </span>

                                </div>  <!-- /ng-controller=model_editor_controller -->

                            </div>  <!-- /.panel-body -->
                        </div>  <!-- /.panel -->

                    </div>  <!-- /col -->
                </div>  <!-- /row -->

            </fieldset>  <!-- /#q_blocker -->

            {# TODO: DELETE THIS BIT ONCE CODE IS WORKING #}
            <div class="row">
                <button class="btn btn-danger btn-xs pull-right" title="print ng scope to console" ng-click="print_stuff()">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>

        </div>  <!-- /ng-controller=editor_controller -->
    </div>  <!-- /ng-app=q_edit -->
{% endblock %}  {# /content #}

{% block footer %}
    {{ block.super }}
    {% if ontology.url %}
        <br/>It uses the ontology <a href="{{ontology.url}}">{{ ontology }}</a>.
    {% else %}
        <br/>It uses the ontology {{ ontology }}.
    {% endif %}  {# /ontology.url #}
{% endblock %}  {# /footer #}
