{# q_confirm_email.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load honeypot %}
{% load q_tags %}

{% load url from future %}

{% block title %}
    ES-DOC Questionnaire Account Confirmation
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">
        $(document).ready(
            function() {
                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
            }
        );
    </script>
{% endblock %}  {# /scripts #}

{% block user %}
    <!-- no user block needed for the confirm template -->
{% endblock %}  {# /user #}

{% block content %}

<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

    <div class="title">
        ES-DOC Email Confirmation
    </div> <!-- /#title -->

    {% if confirmation %}

        <div class="documentation">
            <p>Please confirm that <a href="mailto:{{confirmation.email_address.email}}">{{confirmation.email_address.email}}</a> is a valid email address for user: '{{confirmation.email_address.user}}'.</p>
        </div>

        <form class="login" method="POST" action="{% url 'account_confirm_email' confirmation.key %}">

            {% csrf_token %}
            {% render_honeypot_field %}

            <input class="hidden" readonly="true" id="id_user" name="user" type="text" value="{{confirmation.email_address.user}}">

            <div class="submit voffset-8">
                <input type="submit" value="confirm" class="btn btn-primary"/>
            </div> <!-- /.submit -->

        </form>

    {% else %}

        <div class="documentation">
            <p class="info">This email confirmation link has expired or is invalid.  Please <a href="{% url 'account_email' %}">submit a new confirmation request</a>.</p>
        </div>

    {% endif %}

</div>
</div>


{% endblock %}
