{# q_login.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load honeypot %}
{% load q_tags %}

{% load url from future %}

{% block title %}
    ES-DOC Questionnaire Email Update
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">
        $(document).ready(
            function() {
                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
            }
        );
    </script>
{% endblock %}  {# /scripts #}

{% block content %}

<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

    <div class="title">
        ES-DOC Questionnaire Email Update
    </div> <!-- /#title -->

    <div class="documentation">
        Please use this form to change the email address associated with this account.
    </div>

    <div class="alert alert-warning">
        Whoops.  This bit of functionality isn't quite there yet.  Looks like you're stuck with this email address.
    </div>


</div>
</div>

{% endblock %}
