{# q_password_reset.html #}

{% extends "questionnaire/q_base.html" %}

{% load staticfiles %}
{% load honeypot %}
{% load account %}

{% load url from future %}

{% block title %}
    ES-DOC Questionnaire Registration
{% endblock %} {# /title #}

{% block scripts %}
    {{ block.super }}
    <script language="JavaScript">
        $(document).ready(
            function() {
                var parent = document.body;
                init_widgets(helps, $(parent).find(".help"));
            }
        );
    </script>
{% endblock %}  {# /scripts #}

{% block content %}

<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

    <div class="title">
        ES-DOC Questionnaire Password Reset
    </div> <!-- /#title -->

    <div class="documentation">
        Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
        {% if user.is_authenticated %}
            <p class="info">
                Note that you are already logged in as {{ user_display }}
            </p>
        {% endif %}
    </div>

    <form class="password_reset" method="POST" action=".">

        {% csrf_token %}
        {% render_honeypot_field %}

        <table class="table">
            {% if form.non_field_errors %}
                <tr>
                    <td colspan="3">
                        <div class="error_wrapper alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for field in form %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>
                        {% with help_text=field.help_text %}
                            {% if help_text %}
                                {% include 'questionnaire/_q_help.html' %}
                            {% endif %} {# /help_text #}
                        {% endwith %} {# /help_text #}
                    </td>
                    <td>
                        <span class="required">{{ field.label }}:&nbsp;</span>
                    </td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            &nbsp;&nbsp;
                            {% include 'questionnaire/_q_error.html' %}
                        {% endif %} {# / field.errors #}
                    </td>
                </tr>
            {% endfor %} {# /field #}
        </table>

        <div class="submit">
            <input type="submit" value="reset" class="btn btn-primary"/>
        </div> <!-- /.submit -->

    </form>

</div>
</div>

{% endblock %}
