{% extends "mindmaps/mindmaps_base.html" %}

{% load staticfiles %}

{% block style %}
    <style type="text/css">

        #mindmaps table    { border: 0px; padding: 8px; }
        #mindmaps table td { border: 0px; padding: 8px; }
        #mindmaps .icon    {}
        #mindmaps .msg     { font-weight: bold; }

    </style>
{% endblock %} {# /style #}

{% block title %}

    ES-DOC MindMap Viewer

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        ES-DOC MindMap Viewer
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            This application allows users to view an ES-DOC Specialization in MindMap format.
        </p>
    </div>

    <fieldset>
        <table>
            <tr valign="center">
                <td class="icon">
                    <img height='32px' src="{% static 'questionnaire/img/warning.png' %}"/>
                </td>
                <td class="msg">
                    {{error_msg|safe}} {# the 'safe' filter allows me to embed HTML #}
                </td>
            </tr>
        </table>
    </fieldset>

{% endblock %} {# /content #}

