{% extends "mindmaps/mindmaps_base.html" %}

{% block title %}

    CIM MindMap Viewer

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        ES-DOC MindMap Viewer
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            This application allows users to view an ES-DOC Specialization in MindMap format.
        </p>
    </div>

    <fieldset>
        <div class="fieldset_content" style="font-weight: bold; text-align: center; margin-left: auto; margin-right: auto; margin-top: 8px; margin-bottom: 8px;">
            If you are seeing this page, then you have not specified a Specialization to view.
        </div>
    </fieldset>

{% endblock %} {# /content #}

