{% extends "mindmaps/mindmaps_base.html" %}

{% block title %}

    CIM MindMap Viewer

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        ES-DOC MindMap Viewer
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            This application allows users to view an ES-DOC Specialization in MindMap format.
        </p>
    </div>

    <fieldset>
        <div class="fieldset_content">
            This is a test.<br/>
            Click on <a href="/mindmaps/view/?url=https://raw.githubusercontent.com/IWCCT/es-fdl/postbarcelona20140630/coupled-system/Components.mm">this link</a> to view a sample mindmap.<br/>
            Enjoy.
        </div>
    </fieldset>

{% endblock %} {# /content #}

