{% extends "mindmaps/mindmaps_base.html" %}

{% block title %}

    CIM MindMap Viewer

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        ES-DOC MindMap Viewer
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            This application allows users to quickly view an ES-DOC Specialization in MindMap format.<br/>
            For a more fully-featured mindmap browser, we recommend either installing <a href="http://freemind.sourceforge.net/wiki/index.php/Main_Page#Download_and_install">FreeMind</a>
            or registering for <a href="https://www.mindmup.com/">MindMup</a>.
        </p>
    </div>

    <fieldset>
        <div class="fieldset_content" style="font-weight: bold; text-align: center; margin-left: auto; margin-right: auto; margin-top: 8px; margin-bottom: 8px;">
            If you are seeing this page, then you have not specified a Specialization to view.
        </div>
    </fieldset>

{% endblock %} {# /content #}

