# set of files to ignore by git

## this file...
#.gitignore

# IDE configuration files...
nbproject/

# files being edited...
*~
*.swp

# compiled files...
*.pyc

# backups...
*.bak

# built documentation...
*_build*

# (project-level) static files...
CIM_Questionnaire/static/
