<!-- completion icon -->
<span class="completion_icon ui-state-error-text"> {# note the use of "ui-state-error-text" instead of "ui-state-error"; this prevents background styling #}
    <span class="ui-icon ui-icon-pin-s complete">&nbsp;</span> {# see how things are complete by default; they only change if required properties are left blank #}
    <span class="hidden">
        <input type="number" value="0" name="n_complete"/>
        <input type="number" value="0" name="n_total"/>
    </span>
</span>