{% load q_tags_bak %}

{{ scientific_property_formset.management_form }}
{{ scientific_property_formset.non_form_errors }}

<div id="tab_{{model_form.prefix}}_scientificproperties">

    <div class="tab_content">

        {% if active_scientific_categories_and_properties|get_length_of_values %}

            <div class="tabs">
                <ul>
                    {% for category_customizer,property_customizers in active_scientific_categories_and_properties.items %}
                        {% include "questionnaire/bak/_section_scientific_category_header.html" %}
                    {% endfor %} {# /category_customizer,property_customizers #}
                </ul>

            {% for category_customizer,property_customizers in active_scientific_categories_and_properties.items %}
                {% include "questionnaire/bak/_section_scientific_category_content.html" %}
            {% endfor %} {# /category_customizer,property_customizers #}

            </div> <!-- /.tabs -->

        {% else %}

            <div class="documentation">
                <p>
                    This component has no scientific properties associated with it.
                </p>
           </div>

        {% endif %} {# /active_scientific_categories_and_properties|get_length_of_values #}

    </div> <!-- /.tab_content -->

</div> <!-- /#tab_{{ model_form.prefix }}_scientificproperties -->

