{% load q_tags_bak %}

<div id="tab_{{model_form.prefix}}_{{category_customizer.get_key}}">
    <div class="tab_content">

        <span class="subform_toolbar ui-widget-header ui-corner-all">
            <button type="button" class="expand" title="expand all properties">expand all</button>
            <button type="button" class="collapse" title="collapse all properties">collapse all</button>
        </span> <!-- /.subform_toolbar -->
        <div style="clear: both;">&nbsp;</div>

        {% if category_customizer.description %}
            <div class="documentation">
                <p>
                    {{category_customizer.description}}
                </p>
            </div> <!-- /.documentation -->
        {% endif %} {# /category_customizer.description #}

        <div class="accordion" prefix="{{formset.prefix}}">

            {% with field_tuple="category_key|"|add:category_customizer.get_key %}
                {% for property_form in scientific_property_formset|get_forms_by_field:field_tuple %}

                    {# TODO: WILL HAVE TO PASS PROPERTY FORM AS A SECTION_PARAMETER TO THE TEMPLATE WHEN ONLY SPECIFYING A PROPERTY IN THE SECTION_KEY #}
                    {% include "questionnaire/bak/_section_scientific_property.html" %}

                {% endfor %} {# /property_form #}
            {% endwith %} {# /field_tuple #}

        </div> <!-- /.accordion -->

    </div> <!-- /.tab_content -->
</div> <!--/#tab_{{ model_form.prefix }}_{{ category_customizer.get_key }} -->

