/* custom CSS for CIM_Questionnaire editor & viewer */

/* some colors:
#B9E0E3 borders (lt teal)
#FF6666 errors  (lt red)
#358C92 titles  (dk teal)
*/

#questionnaire_bak #component_tree { }
#questionnaire_bak #component_tree #component_tree_header  { padding: 2px; background: #B9E0E3; border: 1px solid #358C92; font-weight: bold; text-align: center; }
#questionnaire_bak #component_tree #component_tree_content { border: 1px dotted #358C92; margin-top: 2px; }
#questionnaire_bak #component_tree #component_tree_content span.ui-icon { height: 14px; } /* make completion icons slightly smaller in the component_tree, so the spacing isn't affected */

/* change the default colors for the treeview nodes */
#questionnaire_bak .dynatree-selected .dynatree-title { color: #359C92 !important; font-weight: normal !important; }
#questionnaire_bak .dynatree-partsel  .dynatree-title { color: #359C92 !important; font-weight: normal !important; }
#questionnaire_bak .dynatree-active   .dynatree-title { color: #ffffff !important; font-weight: normal !important; }
#questionnaire_bak .dynatree-title { color: #999999; !important; font-weight: normal !important; }

#questionnaire_bak .pane { margin-left: 8px; }
/* panes in the editor are fieldsets, but not 'collapsible_fieldsets', so undo all the fancy styling from questionnaire.css */
#questionnaire_bak .pane fieldset { margin-top: 0px; }
#questionnaire_bak .pane fieldset legend { padding-left: 0.5em; cursor: pointer; }
#questionnaire_bak .pane fieldset legend:hover * { cursor: pointer; }

#questionnaire_bak .pane fieldset legend span.title * { border: 0px; padding-left: 0.5em; background: #358c92 url(default_ui_background.png) repeat-x 50% 50%; font-size: 110%; }
#questionnaire_bak .pane fieldset legend:hover span.title * { border: 0px; background: #358c92 url(default_ui_background.png) repeat-x 50% 50%; color: #358C92; }

/* incompletion indicators */

#questionnaire_bak #completion { float: right; color: #358C92; font-size: small; }
#questionnaire_bak #completion #completion_toggle { vertical-align: middle; }
#questionnaire_bak .completion_icon { display: inline-block; }
#questionnaire_bak .completion_icon span.ui-icon.complete { display: none !important; }
#questionnaire_bak .completion_icon span.ui-icon.incomplete { display: inherit !important; }
/* ways to customize fields */

#questionnaire_bak .extra { margin-top: 8px; margin-bottom: 8px; }

#questionnaire_bak .required { font-weight: bold; border-color: #000000; }
#questionnaire_bak .optional { font-weight: normal; }

/* prevents subform required/optional from cascading to child properties */
/* TODO: ADD THE CORRECT BORDER ELEMENTS AS NEEDED */
#questionnaire_bak fieldset.required * { font-weight: normal; }

#questionnaire_bak .other { font-style: italic; }

#questionnaire_bak .readonly { background: #dcdad5 !important }

#questionnaire_bak .inheritance_options { float: right; background-color: #B9E0E3; padding: 2px; margin: 2px; }

#questionnaire_bak button.ui-datepicker-trigger { font-size: 11px; margin-left: 4px; }

/* buttons unique to editing */

/* additional styling is done in the templates based on where these appear */
#questionnaire_bak button.add       { font-size: 10px; padding: 1px; }
#questionnaire_bak button.remove    { font-size: 10px; padding: 1px; }
#questionnaire_bak button.reset     { font-size: 10px; padding: 1px; }
#questionnaire_bak button.replace   { font-size: 10px; padding: 1px; }
/* make these !important b/c the formset plugin re-creates them w/ inline styles upon adding & deleting */
#questionnaire_bak a.add-row        { display: none !important; }
#questionnaire_bak a.delete-row     { display: none !important; }

#questionnaire_bak .reference { min-width: 400px; overflow: scroll; }
#questionnaire_bak .reference option { width: 100%; }
#questionnaire_bak .reference input { width: 90%; margin-left: auto; margin-right: auto; }
