/* custom CSS for CIM_Questionnaire */

body {
    /* taken from CoG for now */
    margin: 0;
    padding: 0;
    font-size: 10pt;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #FFFFFF;
}

* {
    /* rounded just looks better */
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#questionnaire {
    /* give the page a border */
    border: 1px solid #B9E0E3;
    padding: 4px;
    margin: 4px;
}

/* begin header */

#questionnaire div.header { text-align: left; }

#questionnaire div.header img { width: 200px; }

#questionnaire div.header div#user { float: right; }

/* end header */

/* begin footer */

#questionnaire div.footer { text-align: center; font-style: italic; margin-top: 4px; }

/* end footer */

/* begin content */

#questionnaire .title { font-size: x-large; color: #358C92; text-align: center; }

#questionnaire .documentation { font-style: italic; padding: 2px; }

#questionnaire table tr {margin-bottom: 4px; }
#questionnaire table tr.odd { background-color: #fff; }
#questionnaire table tr.even { background-color: #eee; }
#questionnaire table tr.field td:first-child { width: 20%; }
#questionnaire table tr.field td:first-child+td { width: 80%; }   /* slightly hacky way of doing things b/c nth-child pseudo-selector is not supprted by all browsers */


#questionnaire fieldset { border: 2px solid #B9E0E3; padding: 0.5em; margin-right: 1.0em; margin-top: 1.0em; margin-bottom: 1.0em; margin-left: 0px; }
#questionnaire fieldset.expanded legend { background: transparent url(../img/expanded_fieldset.gif) no-repeat center left; }
#questionnaire fieldset.collapsed legend { background: transparent url(../img/collapsed_fieldset.gif) no-repeat center left; }
#questionnaire fieldset legend { padding-left: 13px; padding-right: 0.5em; cursor:pointer; }
#questionnaire fieldset legend span.title { background: #358c92 url(../img/default_ui_background.png) repeat-x 50% 50%; font-size: 110%; }
#questionnaire fieldset legend:hover span.title { background: #358c92 url(../img/active_ui_background.png) repeat-x 50% 50%; color: #f7f7f7; }


/* end content */