/* custom CSS for multiselect widget */

/* some colors:
#B9E0E3 borders (lt teal)
#FF6666 errors  (lt red)
#358C92 titles  (dk teal)
*/

.multiselect_header, .multiselect_content { width: 400px; text-align: left; }
.multiselect_content { min-height: 1.5em; }
.multiselect_content .selected { background: #B9E0E3; border-bottom: 1px solid #358C92; }
.multiselect_content ul { list-style-type: none; padding: 0px; margin: 0px; }
.multiselect_content label { display: block; }

/*.multiselect_content .sortable_item { display: block; margin: 1px 0px 1px 0px; }*/

.other  { width: 400px; text-align: left; margin-top: 2px; margin-bottom: 2px; }

/* TODO: IS THIS STILL NECCESSARY AS OF #215? */
/* b/c multiselects are added explicitly via jquery, modifying their style based on the init fns doesn't always work */
/* so here I am ensuring that fields marked as non-editable that are replaced w/ multiselects have their non-editable style copied over */
button.multiselect_header.ui-state-disabled { background: url(../img/disabled_ui_background.png) repeat-x 50% 50%; }