/* custom CSS for CIM_Questionnaire instructions */

/* some colors:
#B9E0E3 borders (lt teal)
#FF6666 errors  (lt red)
#358C92 titles  (dk teal)
*/

#instructions             { width: 90%; margin-left: auto; margin-right: auto; }
#instructions li          { text-align: justify; }
#instructions .title      { font-weight: bold; font-size: 100%; color: #000000; }
#instructions .url        { font-style: italic; text-decoration: underline; }
#instructions .screenshot { display: block; margin-left: auto; margin-right: auto; margin-top: 4px; margin-bottom: 4px; border: 1px solid #358C92; }