{# this displays any errors for a metadata field #}

<div class="categories">
    <fieldset>

        <span>{{ tags.label }}:&nbsp;</span>

        {{ tags }}

        <div class="hidden">
            {{content}}
        </div>

        <input type="button" class="button view_all" value="view all properties" title="view all properties" onclick="view_all_categories(this);"/>

        <div class="documentation">
            <p style="text-align: justify; margin-right: 2px;">
                These categories will appear as tabs within the CIM Editing Form.
                The tab order can be changed by dragging and dropping the above widgets.
                Additionally, documentation for each category can be updated by clicking the "edit" icon.
                Clicking elsewhere on a category widget will toggle the visibility of all properties belonging to that category.
                Use the "view all" widget above to ensure that all properties are displayed.
            </p>
        </div>

        <div class="add_tag">
            add a new category:&nbsp;<input type="text" class="add_tag" title="enter a new category name here"/>
        </div>

    </fieldset>
</div> <!-- /.categories -->