{# template for the description of an item in the ATOM feed #}

{% load feed_filters %}

<div class="item_description">
    <ul>
        <li>project: {{ obj.project.title }}</li>
        <li>version: {{ obj.version }}</li>
        <li>type: {{ obj.proxy|capfirst }}</li>
        <li>publication date: {{ obj.published }}</li>
        <li>creation date: {{ obj.created }}</li>
        <li>modification date: {{ obj.last_modified }}</li>
    </ul>
    <!--<br/>-->
    {% with description=obj|get_standard_property_by_name:"description" %}
        <b>description:&nbsp;</b> {{ description.get_value }}
    {% endwith %} {# /description #}
    <hr/> <!-- pretty way of distinguishing items, since this template makes them multi-line -->
</div> <!-- /.item_description -->
