<div id="help_customize">


    <h3>What is Customization?</h3>

    <p>
        The CIM is a large and complex metadata standard.  Exposing its full complexity in the Editor would be overwhelming to end-users.
        For this reason, the CIM Questionnaire allows project administrators to <em>customize</em> the look-and-feel of the Editor for each different document type that might be created.
        This includes restricting the set of both standard and scientific properties that are displayed, changing what is required and optional, changing how properties are labeled and what their documentation is, and so on.
    </p>

    <h3>Logging In</h3>

    <p>
        You must be logged into the CIM Questionnaire to create or edit a Customization.
        You can request a CIM Questionnaire account <a href="/register">here</a>.
        After receiving an account, you must still join the particular project you wish to create customizations for <em>as an administrator</em>.
    </p>

    <h3>Creating a New Customization</h3>

    <p>
        To create a new customization, first navigate to the project that you are interested in.
        <img class="screenshot" width="1000px" src="{{ STATIC_URL }}questionnaire/img/screenshots/project_page_customize.png"/>
        From that page, select the appropriate ontology and document type under "New Customizations" and then click the "create" button.
        This will bring you to the CIM Questionnaire Customizer.
    </p>

    <h3>Editing an Existing Customization</h3>

    <p>
        Again, to edit an existing customization, first navigate to the project that you are interested in.
        The "Existing Customizations" section lists the names of customizations that have already been created for that project.
    </p>

    <p>
        These are organized by ontology version and document type.  Additionally, an asterisk appears after the name of the <em>default</em> customization.
    </p>

    <p>
        You may edit the customziation by clicking "Edit" next to that customization.
        Please do not have more than one editing session open for any given customization.
    </p>

    <h4>The Customizer Layout</h4>

    <p>
        There are several distinct sections to the CIM Questionnaire Editor.
    </p>

    <h5>Customization Details</h5>

    <img class="screenshot" width="1000px" src="{{ STATIC_URL }}questionnaire/img/screenshots/customize_customization_details.png"/>

    <p>
        This section provides information about the customization itself.
    </p>

    <h5>Document Details</h5>

    <img class="screenshot" width="1000px" src="{{ STATIC_URL }}questionnaire/img/screenshots/customize_document_details.png"/>

    <h5>Property Details</h5>

    <h5>Standard Properties</h5>

    <h5>Scientific Properties</h5>


    <p>
        A default customization must exist for a particular document type in order for end-users to create or edit CIM documents of that type.
    </p>

</div> <!-- /#help_customize -->

