<div id="help_general">

    <strong>What is the CIM?</strong>

    <p>
        The Common Information Model (CIM) is a formal metadata standard used to describe processes and artifacts relevant to the Earth System modeling community.
        This includes model components, experiments, geographic grids, data files, experimental requirements, and so on.
    </p>

    <strong>What is the CIM Questionnaire?</strong>

    <p>
        The CIM Questionnaire is part of a suite of tools built around the CIM provided by the ES-DOC project.
        It allows users to create complex CIM Documents.
        Those documents can then be viewed and manipulated by other tools.
    </p>

    <p>
        An interested project can register themselves with the CIM Questionnaire.
        Project administrators are able to define a subset of the CIM metadata structure which they are interested in capturing in CIM Documents.
        Project members can than use the CIM Questionnaire Editing Forms to create those documents.
    </p>

</div> <!-- /#help_general -->
