{# this displays a single subform #}

{% load questionnaire_filters %}

{# property_customizer is the customizer of the standard property being replaced by a subform #}
{# model_customizer is the customizer of this subform #}

{% with model_customizer=property_form.get_subform_customizer model_subformset=property_form.get_model_subformset  scientific_properties_subformsets=property_form.get_scientific_properties_subformsets %}
{# standard_properties_subformset=property_form.get_standard_properties_subformset #}

    <div class="documentation">
        <p>
            {{model_customizer.model_description|safe}}
        </p>
    </div> <!-- /.documentation -->

    <div class="form">

        {{ model_subformset.management_form }}
        {{ model_subformset.non_form_errors }}

        {# TODO: PURPOSEFULLY IGNORING SCIENTIFIC_PROPERTIES_FORMSETS FOR SUBFORMS FOR NOW #}
        {% for key,scientific_properties_subformset in scientific_properties_subformsets.items %}
            {{  scientific_properties_subformset.management_form }}
            {{  scientific_properties_subformset.non_form_errors }}
        {%  endfor %} {# /scientific_properties_subformset #}

        <div class="accordion fake" "name="{{ model_subformset.prefix }}"> <!-- pretending to be an accordion so that add/remove still works -->

            {% for model_subform in model_subformset %} {# there should only be 1 form in the formset #}

                <div class="accordion_header"></div>
                <div class="accordion_content">

                    {{ model_subform.DELETE }}

                    <div class="hidden">
                        {# the fields I explicitly set to hidden #}
                        {% for field in model_subform.get_hidden_fields %}
                            {{ field }}
                        {% endfor %} {# /field #}
                        {# and the fields that are hidden by default #}
                        {% for hidden_field in model_subform.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}  {# /hidden_field #}
                    </div> <!-- /.hidden -->

                    {%  with active_standard_properties=model_customizer.get_active_standard_properties %}
                        {# with standard_properties_subformset=property_form|get_standard_properties_subformset_for_model:model_subform #}
                        {% with standard_properties_subformset=property_form.get_standard_properties_subformsets|get_value_from_key:model_subform.prefix %}



                            {{ standard_properties_subformset.management_form }}
                            {{ standard_properties_subformset.non_form_errors }}

                            <table width="100%" border="0">
                                {% for property_customizer in active_standard_properties %}
                                    {# looping through the customizers initially instead of the formset itself #}
                                    {# ensures I get the correct forms (for this category) in the correct order #}

                                    <tr class="{% cycle 'odd' 'even' %} field" name="{{property_customizer.name}}">
                                        {% with field_tuple="name|"|add:property_customizer.name %}
                                            {% with property_form=standard_properties_subformset|get_form_by_field:field_tuple %}

                                                {% if property_customizer.relationship_show_subform %}

                                                    <td colspan="100">

                                                        {# alright, this looks weird I know #}
                                                        {# but passing the template as a variable gets around Django's maximum recursion issue #}
                                                        {% with "questionnaire/_subform.html" as template %}
                                                            {% include template %}
                                                        {% endwith %}

                                                    </td>

                                                {% else  %}

                                                    {% include "questionnaire/_property_field.html" %}

                                                    <td class="hidden"> <!-- seems weird to have a <td> I don't display, but it seemed more weird to have content outside of the table -->
                                                        <div class="hidden">
                                                            {# the fields I explicitly set to hidden #}
                                                            {% for field in property_form.get_hidden_fields %}
                                                                {{ field }}
                                                            {% endfor %} {# /field #}
                                                            {# and the fields that are hidden by default #}
                                                            {% for hidden_field in property_form.hidden_fields %}
                                                                {{ hidden_field }}
                                                            {% endfor %} {# /hidden_field #}
                                                        </div> <!-- /.hidden -->
                                                    </td> <!-- /.hidden -->

                                                {% endif %} {# /relationship_show_subform #}

                                            {% endwith %} {# /property_form #}
                                        {% endwith %} {# /field_tuple #}

                                    </tr>

                                {% endfor %} {# /property_customizer #}
                            </table>

                        {% endwith %} {#  /standard_properties_subformset #}
                    {% endwith %} {# /active_standard_properties #}

                </div> <!-- /.accordion_content -->

            {% endfor %} {# /model_subform #}

        </div> <!-- /.fake accordion -->

        <div class="replace">
            <button class="replace" type="button" style="float: left; margin-top: 8px;" title="replace this {{ model_customizer.model_title }} with a new or an existing instance">replace</button>
            <!-- putting this documentation here so the float is aligned with the button -->
            <div class="documentation" style="float: right; font-size: 10pt; padding: 1px;">(min:&nbsp;{{ model_subformset.get_min }}&nbsp;max:&nbsp;{{ model_subformset.get_max }})</div>
        <div>

    </div> <!-- /.form -->

{% endwith %}