{# this displays a set of subforms #}

{% load questionnaire_filters %}

{# property_customizer is the customizer of the standard property being replaced by a subform #}
{# model_customizer is the customizer of this subform #}

{# TODO GET SCIENTIFIC PROPERTIES LIKE I GET STANDARDPROPERTIES BELOW #}
{% with model_customizer=property_form.get_subform_customizer model_subformset=property_form.get_model_subformset scientific_properties_subformsets=property_form.get_scientific_properties_subformsets %}

    <span class="subform_toolbar ui-widget-header ui-corner-all">
        <button type="button" class="expand" title="expand all {{customizer.verbose_name}}">expand all</button>
        <button type="button" class="collapse" title="collapse all {{customizer.verbose_name}}">collapse all</button>
    </span> <!-- /.subform_toolbar -->
    <div style="clear: both;">&nbsp;</div>

    <div class="documentation">
        <p>
            {{model_customizer.model_description|safe}}
        </p>
    </div> <!-- /.documentation -->


    {{ model_subformset.management_form }}
    {{ model_subformset.non_form_errors }}

    <div class="accordion" name="{{ model_subformset.prefix }}">

        {% for model_subform in model_subformset %}


            {# with standard_properties_subformset=property_form|get_standard_properties_subformset_for_model:model_subform #}
            {% with standard_properties_subformset=property_form.get_standard_properties_subformsets|get_value_from_key:model_subform.prefix %}

                <h3 class="accordion_header">

                    <table width="90%" border="0">
                        <tr valign="center">
                            <td>
                                <b>{{ model_customizer.model_title }}:&nbsp;</b>
                                <span class="label">{{ model_subform.instance.get_label }}</span>
                            </td>
                        </tr>
                    </table>

            </h3> <!-- /.accordion_header -->

                <div class="accordion_content">

                    <div class="remove">
                        <input class="hidden" type="text" name="min" value="{{ model_subformset.get_min }}"/>
                        <input class="hidden" type="text" name="max" value="{{ model_subformset.get_max }}"/>
                        <button class="remove" type="button" style="float: right; margin: 4px;" onclick="remove_subform(this);" title="remove this {{model_customizer.model_title}}">remove</button>
                        {{ model_subform.DELETE }}
                        <br/> <!-- not sure why "<div style='clear: both;'/>" doesn't work here -->
                    </div>

                    <div class="form" style="clear: right;"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

                        <div class="hidden">
                            {# the fields I explicitly set to hidden #}
                            {% for field in model_subform.get_hidden_fields %}
                                {{ field }}
                            {% endfor %} {# /field #}
                            {# and the fields that are hidden by default #}
                            {% for hidden_field in model_subform.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}  {# /hidden_field #}
                        </div> <!-- /.hidden -->

                        {%  with active_standard_properties=model_customizer.get_active_standard_properties %}

                            {# TODO: PURPOSEFULLY IGNORING SCIENTIFIC_PROPERTIES_FORMSETS FOR SUBFORMS FOR NOW #}
                            {% with scientific_properties_subformset=property_form.get_scientific_properties_subformsets|get_value_from_key:model_subform.prefix %}
                                {{  scientific_properties_subformset.management_form }}
                                {{  scientific_properties_subformset.non_form_errors }}
                            {%  endwith %} {# /scientific_properties_subformset #}

                            {{ standard_properties_subformset.management_form }}
                            {{ standard_properties_subformset.non_form_errors }}


                            <table width="100%" border="0">
                                {% for property_customizer in active_standard_properties %}
                                    {# looping through the customizers initially instead of the formset itself #}
                                    {# ensures I get the correct forms (for this category) in the correct order #}

                                    <tr class="{% cycle 'odd' 'even' %} field" name="{{property_customizer.name}}">
                                        {% with field_tuple="name|"|add:property_customizer.name %}
                                            {% with property_form=standard_properties_subformset|get_form_by_field:field_tuple %}

                                                {% if property_customizer.relationship_show_subform %}

                                                    <td colspan="100">

                                                        {# alright, this looks weird I know #}
                                                        {# but passing the template as a variable gets around Django's maximum recursion issue #}
                                                        {% with "questionnaire/_subform.html" as template %}
                                                            {% include template %}
                                                        {% endwith %}

                                                    </td>

                                                {% else  %}

                                                    {% include "questionnaire/_standard_property.html" %}

                                                    <td class="hidden"> <!-- seems weird to have a <td> I don't display, but it seemed more weird to have content outside of the table -->
                                                        <div class="hidden">
                                                            {# the fields I explicitly set to hidden #}
                                                            {% for field in property_form.get_hidden_fields %}
                                                                {{ field }}
                                                            {% endfor %} {# /field #}
                                                            {# and the fields that are hidden by default #}
                                                            {% for hidden_field in property_form.hidden_fields %}
                                                                {{ hidden_field }}
                                                            {% endfor %} {# /hidden_field #}
                                                        </div> <!-- /.hidden -->
                                                    </td> <!-- /.hidden -->

                                                {% endif %} {# /relationship_show_subform #}

                                            {% endwith %} {# /property_form #}
                                        {% endwith %} {# /field_tuple #}

                                    </tr>

                                {% endfor %} {# /property_customizer #}
                            </table>

                        {% endwith %}

                    </div> <!-- /.form -->
                </div> <!-- /.accordion_content -->

            {% endwith %} {# standard_properties_subformset #}

        {% endfor %} {# /model_subform #}

    </div> <!-- /.accordion -->

    <div class="add">
        <input class="hidden" type="text" name="min" value="{{ model_subformset.get_min }}"/>
        <input class="hidden" type="text" name="max" value="{{ model_subformset.get_max }}"/>
        <button class="add" type="button" style="float: left; margin-top: 8px;" title="add a new instance of {{model_customizer.model_title}}">add</button>
        <div style="clear: both;"/>
        <div class="documentation" style="float: right; font-size: 10pt; padding: 1px;">(min:&nbsp;{{ model_subformset.get_min }}&nbsp;max:&nbsp;{{ model_subformset.get_max }})</div>
    <div>

{% endwith %}