{% extends "questionnaire/questionnaire_base.html" %}


{% block scripts %}

    <script language="javascript">

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets_on_show(fieldsets,$(parent).find(".collapsible_fieldset"))
            init_widgets_on_show(helps,$(parent).find(".help_button"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(buttons,$(parent).find("input.button"))
            init_widgets(multiselects,$(parent).find(".multiselect"));

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);

        }


    );

    </script>
{% endblock %} {# /scripts #}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_instructions.css" />

{% endblock %} {# / style #}

{% block title %}
    CIM Questionnaire Customization Help
{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        The CIM Questionnaire customization process
    </div> <!-- /.title -->

    <div id="instructions">

        <ol>

            <li><span class="title">The purpose of the form</span>
                <p>
                    The CIM Questionnaire customizer is provided for project administrators to customize the look-and-feel of the CIM Questionnaire editing forms used by their project members.
                    The CIM is a highly complex metadata standard with a vast hierarchy of potential content for any given artifact.
                    To require all users to input all CIM metadata is impractical.
                    Similarly, the CIM is a very generic metadata standard and the metadata element names and other related information may not be suitable for all users.
                    The customization form, therefore, provides a means to tailor metadata presentation to a given audience.
                </p>
            </li>

            <li><span class="title">The use of the form</span>
                <p>
                    The customization form creates customizers for particular combinations of metadata versions, model types, and specific projects.
                    Each project that has registered with the CIM Questionnaire has its own unique set of customizers.
                    To access a particular customizer the following syntax is expected:
                    <blockquote class="url">
                        http://your.domain.com/&lt;project&gt;/customize/&lt;version&gt;/&lt;model_type&gt;<br/>
                        http://your.domain.com/&lt;project&gt;/customize/&lt;version&gt;/&lt;model_type&gt;/&lt;existing_customization_name&gt;
                    </blockquote>
                    However, it is recommended to use the project's "index page" to choose from the available customizers:
                    <blockquote class="url">
                        http://your.domain.com/&lt;project&gt;
                    </blockquote>
                    Although several customizers may exist for a given project/model/version combination, only one of those - the <em>default</em> one - will be used by the CIM Questionnaire editing form.
                </p>
            </li>

            <li><span class="title">The layout of the form</span>
                <p>
                    The customization form is separated into 3 top-level sections:
                    <dl style="margin-left: 2em;">
                        <dt>Customization Details</dt>
                        <dd>
                            <p>
                                This is where information about the customization itself - the name of the customization, which Controlled Vocabularies (CVs) to use, and whether or not this is the default customization - are set.
                                Only the default customization will be used by the editing form.
                            </p>
                        </dd>
                        <dt>Document Details</dt>
                        <dd>
                            <p>
                                This is where information about the CIM Document being editing (ie: model component, grid, experiment, etc.) is set.  This includes the names used to refer to the document in the editing form as well as how to treat any hierarchies of documents defined in the CVs.
                            </p>
                        </dd>
                        <dt>Property Details</dt>
                        <dd>
                            <p>
                                This is the most important section.  It is where the look-and-feel of each property are defined.  There are two types of properties:
                                <dl>
                                    <dt>Standard Properties</dt>
                                    <dd>
                                        <p>
                                            These are defined by the CIM Schema.
                                        </p>
                                        <p>
                                            Each property may be bound to a property category.  These bindings are hard-coded and cannot be changed.  However, by clicking on the category widgets the name and description of the categories that is rendered in the editing form can be customized.
                                        </p>
                                        <p>
                                            Each property can be customized in various ways: the order can be set by dragging and dropping the accordion headers, they can be made required or optional, editable or static, the labels and documentation can be changed, the widget used to display the property can be altered, and so on.
                                            One particularly useful customization is to allow the property to be "inherited" by children.  This means that as a property changes all corresponding properties of child components (as defined in the CVs) change along with it.
                                        </p>
                                        <p>
                                            There are further customizations available for the three types of standard properties:
                                            <dl>
                                                <dt>Atomic Properties</dt>
                                                <dd>
                                                    <p>
                                                        These properties support user-entered text.  Suggested values (that will appear as a drop-down list) can be added to the customization.
                                                    </p>
                                                </dd>
                                                <dt>Enumeration Properties</dt>
                                                <dd>
                                                    <p>
                                                        These properties support a choice from an enumerated list of options.  The full set of options specified in the CIM Schema can be constrained in the customizer.  In addition, these properties can be set to allow a single choice or multiple chioces, a "null" choices (that de-selects all options), and an "other" choice (that allows users to write in their own custom value.
                                                    </p>
                                                </dd>
                                                <dt>Relationship Properties</dt>
                                                <dd>
                                                    <p>
                                                        These properties support a mapping from one CIM Instance to another.  These can either be rendered in the standard way - that is, using a combobox where users can select from existing documents in the database.
                                                        Alternatively, these can be rendered using <i>subforms</i>.  This will present the user with an inline form or formset (depending on the cardinality of the property) which contains all of the properties of the related instance.
                                                    </p>
                                                </dd>
                                            </dl>
                                        </p>
                                    </dd>
                                    <dt>Scientific Properties</dt>
                                    <dd>
                                        <p>
                                            These are defined by the varous CVs used by the customization.  As with standard properties, each scientific property can have a category.
                                            However, unlike standard properties, categories can be added and deleted, and properties can change categories.
                                        </p>
                                        <p>
                                            The customizations allowed for each property are broadly similar to those used by standard properties.  Scientific properties can be atomic or enumerations (they cannot be relationships).
                                        </p>
                                    </dd>
                                </dl>
                            </p>
                        </dd>
                    </dl>
                </p>
            </li>

        </ol>

    </div> <!-- /#instructions -->

{% endblock %} {# /content #}

{% block footer %}
    <br/>
    {{ block.super }}
{% endblock %} {# /footer #}
