{% extends "questionnaire/questionnaire_view.html" %}

{% load questionnaire_filters %}
{% load mptt_tags %}


{% block scripts %}

    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.dynatree.min.js"></script>
    <!-- TODO: ENCOUNTERED BUG IN jquery.formset.min.js [http://code.google.com/p/django-dynamic-formset/issues/detail?id=54] -->
    <!-- MODIFIED LOCAL CODE TO FIX THIS; SHOULD SEND PATCH -->
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.formset.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire_edit.js"></script>
    <script language="javascript">

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets_on_show(fieldsets,$(parent).find(".collapsible_fieldset"))
            init_widgets_on_show(tabs,$(parent).find(".tabs"));
            init_widgets_on_show(helps,$(parent).find(".help_button"));
            init_widgets_on_show(readonlies,$(parent).find(".readonly"));
            init_widgets_on_show(dates,$(parent).find(".datetime,.date"));
            init_widgets_on_show(accordions,$(parent).find(".accordion").not(".fake"));
            init_widgets_on_show(dynamic_accordions,$(parent).find(".accordion .accordion_header"));
            init_widgets_on_show(accordion_buttons,$(parent).find(".subform_toolbar button"));
            init_widgets_on_show(dynamic_accordion_buttons,$(parent).find("button.add,button.remove,button.replace"));
            /* TODO: accordion_headers
            init_widgets_on_show(accordion_headers,$(parent).find(".scientific_property"));
            */
            init_widgets_on_show(selects,$(parent).find(".multiselect"));
            init_widgets_on_show(enumerations,$(parent).find(".multiselect.open,.multiselect.nullable"));
            init_widgets_on_show(autocompletes,$(parent).find(".autocomplete"));
            init_widgets_on_show(enablers,$(parent).find(".enabler"))

            init_widgets(users,$(parent).find("#user"));
            init_widgets(buttons,$(parent).find("input.button"))
            init_widgets(panes,$(parent).find(".pane"));
            init_widgets(treeviews,$(parent).find(".treeview"));



            /*
            THIS CODE IS REPLACED BY THE accordion_headers FN ABOVE
            $(parent).find(".scientific_property .atomic_value").each(function() {
                $(this).trigger("change");
            });
            $(parent).find(".scientific_property .ui-multiselect").each(function() {
                var source_name = $(this).prev(".multiselect").attr("name");
                var target_name = source_name.replace("-enumeration_value", "-scientific_property_value")
                $(this).find(".multiselect_header").change(function (event) {
                    var source_value = $(this).button("option", "label");
                    var target = $("*[name='" + target_name + "']");
                    $(target).val(source_value);
                })
            });
            */

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);

        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block title %}
    CIM Questionnaire Editor
{% endblock %} {# /title #}


    {% block content_title %}
        <div class="title">
            Editing {{ model_customizer.model_title|a_or_an }} <b>{{model_customizer.model_title|title}}</b> instance for the <a href="/{{ project.name|lower }}" title="ES-DOC Questionnaire Project Home"><b>{{project.title|title}}</b></a> Project
        </div> <!-- /.title -->
    {% endblock %} {# /content_title #}

    {% block content_documentation %}
        <div class="documentation">
            <p>
                Use this form to create or modify a {{ model_customizer.model_title|title }} instance.
                Fill out the fields for each component on each tab from left to right and on each subform from top to bottom.
                When you have finished filling in all properties, click the "save" button at the bottom of the page to store a local copy or the "publish" buttom to make the document available for other ES-DOC tools.
                Invalid entries are indicated using a <span style="color: #ff0000; font-weight: bold;">red</span> font.&nbsp;&nbsp;
                <a href="/edit/help" target="blank"><b>More detailed instructions</b></a> are available.
            </p>
            {%  if model_customizer.model_description %}
                <div style="border: 1px solid #B9E0E3; padding: 8px;">
                    {{model_customizer.model_description|safe}}
                </div>
            {% endif %}
        </div> <!-- /.documentation -->
    {% endblock %} {# /content_documentation #}

    {# IF YOU'RE LOOKING FOR ALL OF THE CONTENT #}
    {# IT'S IN THE "questionnaire_view.html" TEMPLATE #}
    {# THIS TEMPLATE BASICALLY JUST ADDS A SUBMIT/PUBLISH BUTTON TO THAT TEMPLATE #}

    {% block content_submit %}

        <div class="submit">
            <input class="button"  name="_save"  type="submit"   value="save"/>
            {% if can_publish %}
                <input class="button"  name="_publish"  type="submit"   value="publish"/>
            {% endif %} {# /can_publish #}
        </div> <!-- /.submit -->
        <div style="clear: both;">&nbsp;</div>

    {% endblock %} {# /content_submit #}
