{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {
            init_dialogs(parent);

            render_msg($("#msg"));

            var parent = document.body;

            init_widget(users,parent);
            init_widget(buttons,parent);
            init_widget(fieldsets,parent);
            init_widget(helps,parent);

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);
        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_instructions.css" />

{% endblock %} {# / style #}

{% block title %}

    CIM Questionnaire Help

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        CIM Questionnaire Help
    </div> <!-- /.title -->

   <div id="instructions">

       <ul>

            <li><span class="title">What is the CIM?</span>
                <p>
                </p>
            </li>

            <li><span class="title">The customization form</span>
                <p>
                    <a href="/customize/help"><b>More detailed instructions</b></a> are available.
                </p>
            </li>

            <li><span class="title">The viewing/editing form</span>
                <p>
                    <a href="/edit/help"><b>More detailed instructions</b></a> are available.
                </p>
            </li>

       </ul>

   </div>

{% endblock %} {# /content #}

{% block footer %}
    <br/>
    {{ block.super }}
{% endblock %} {# /footer #}
