{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            render_msg($("#msg"));

            var parent = document.body;

            init_dialogs(parent);
            init_errors(parent);

            init_widget(users,parent);
            //init_widget(readonlies,parent);
            //init_widget(buttons,parent);
            //init_widget(fieldsets,parent);
            //init_widget(tabs,parent);
            init_widget(selects,parent);
            //init_widget(accordions,parent);
            //init_widget(tags,parent);
            //init_widget(helps,parent);
            //init_widget(enablers,parent);

        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block title %}

    CIM Questionnaire

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        here is a test page
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            here is some documentation
        </p>

    </div>

    TEST!

    <form method="POST" action="">

        {% csrf_token %}

        {{ form.as_table }}

        <div class="submit">
            <input class="button"  name="save"  type="submit"   value="save"/>
        </div> <!-- /.submit -->
        <div style="clear: both;">&nbsp;</div>

    </form>

    TEST!

{% endblock %} {# /content #}


{% block footer %}
    {{ block.super }}
    Look at me adding content to an existing block!
{% endblock %} {# /footer #}
