{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {
            var parent = document.body;

            init_dialogs(parent);

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(fieldsets,$(parent).find(".collapsible_fieldset"));
            init_widgets(tabs, $(parent).find(".tabs"));
            init_widgets(helps,$(parent).find(".help_button"));

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);
        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_help.css" />

{% endblock %} {# / style #}

{% block title %}

    CIM Questionnaire Help

{% endblock %} {# /title #}

{% block content %}

    <div id="help">

        <div class="title">
            CIM Questionnaire Help
        </div> <!-- /.title -->
        <br/>

        <div class="tabs">
            <ul> <!-- the tab menu -->
                <li>
                    <a href="#tab_general_help">
                        What is the CIM Questionnaire
                    </a>
                </li>
{#                {% if can_edit %}#}
                    <li>
                        <a href="#tab_edit_help">
                            How To Edit a CIM Document
                        </a>
                    </li>
{#                {% endif %} {# /can_edit #}
{#                {% if can_customize %}#}
                    <li>
                        <a href="#tab_customize_help">
                            How to Customize the Questionnaire Editor
                        </a>
                    </li>
{#                {% endif %} {# /can_customize #}
            </ul>

            <div id="tab_general_help">
                <div class="tab_content">
                    {% include "questionnaire/_help_general.html" %}
                </div>
            </div>

{#            {% if can_edit %}#}
                <div id="tab_edit_help">
                    <div class="tab_content">
                        {% include "questionnaire/_help_edit.html" %}
                    </div>
                </div>
{#            {% endif %} {# /can_edit #}

{#            {% if can_customize %}#}
                <div id="tab_customize_help">
                    <div class="tab_content">
                        {% include "questionnaire/_help_customize.html" %}
                    </div>
                </div>
{#            {% endif %} {# /can_customize #}

        </div> <!-- /.tabs -->

    </div> <!-- /#help -->

{% endblock %} {# /content #}

{% block footer %}
    <br/>
    {{ block.super }}
{% endblock %} {# /footer #}
