{% extends "questionnaire/questionnaire_base.html" %}

{% block scripts %}

    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            init_widgets(users,$(parent).find("#user"));
            init_widgets(helps,$(parent).find(".help_button"));
            
        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}
    <style type="text/css">

        #questionnaire table    { border: 0px; padding: 8px; }
        #questionnaire table td { border: 0px; padding: 8px; }

        #questionnaire .icon    {}
        #questionnaire .msg     { font-weight: bold; }

    </style>

{% endblock %} {# /style #}

{% block title %}

    404 Error

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        Page Not Found
    </div> <!-- /.title -->

    <fieldset>
        <table>
            <tr valign="center">
                <td class="icon">
                    <img height='32px' src='{{STATIC_URL}}questionnaire/img/warning.png'/>
                </td>
                <td class="msg">

                    <p>Unable to find page: <em>"{{ request.path }}"</em>.</p>
                    <p>Make sure you have specified a valid project name, vocabulary name, and document type.</p>
                    <p>Also make sure you have specified whether you wish to "edit," "view," or "customize."</p>
                    <p style="font-size: larger;">&nbsp;&nbsp;<a href="/">CIM Questionnaire Home Page</a></p>

                </td>
            </tr>
        </table>
    </fieldset>

{% endblock %} {# /content #}
