{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {
            var parent = document.body;

            init_dialogs(parent);

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(fieldsets,$(parent).find(".collapsible_fieldset"));
            init_widgets(helps,$(parent).find(".help_button"));

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);
        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_instructions.css" />

{% endblock %} {# / style #}

{% block title %}

    CIM Questionnaire Help

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        CIM Questionnaire Help
    </div> <!-- /.title -->

   <div id="instructions">

       <ul>

            <li><span class="title">What is the CIM?</span>
                <p>
                    The Common Information Model (CIM) is a formal metadata language used to describe processes and artifacts relevant to the climate modeling community.
                    This includes model components, experiments, geographic grids, data files, experimental requirements, and so on.
                </p>
                <p>
                    The CIM is defined as a large UML Model (the conceptual "ConCIM") which gets translated into a set of XML Schemas (the application-specific "AppCIM").
                    These schemas define the structure of a CIM Instance.
                    Each CIM Instance can also be associated with a number of additional CIM Controlled Vocabularies (CVs).
                    These define the full content of a CIM Instance.
                </p>
                <p>
                    For example, the CIM Schema dictates that a component model can have a set of scientific properties; The CIM CV for CMIP5 atmospheric models dictates that the <i>atmospheric dynamical core</i> component can have a scientific property listing <i>prognostic variables</i> which can contain terms such as <i>surface pressure</i>, <i>wind components</i>, and so on.
                </p>
                <p>
                    <a href="https://earthsystemcog.org/projects/es-doc-models/cim"><b>More information about the CIM</b></a> is available.
                </p>
            </li>

            <li><span class="title">The customization form</span>
                <p>
                    The customization form allows administrators to customize the way that the viewing/editing form appears to their users.
                    This includes specifying the subset of the CIM Schema and Controlled Vocabularies to display and, for each property, how to render that property.
                    Properties can be rendered as required or optional, with a specific ordering, with predetermined default content or suggestions, within different categories, and so on.
                    This customization step is cruicial; It hides the full complexity of the CIM and makes the act of creating CIM Instances much more manageable.
                </p>
                <p>
                    <a href="/customize/help"><b>More detailed instructions</b></a> are available.
                </p>
            </li>

            <li><span class="title">The viewing/editing form</span>
                <p>
                    Once an appropriate customization exists, the viewing and editing forms allow users to create and view CIM Instances.
                </p>
                <p>
                    <a href="/edit/help"><b>More detailed instructions</b></a> are available.
                </p>
            </li>


            <li><span class="title">Why do these questionnaires exist?</span>
                <p>
                    Using the CIM Questionnaire ultimately allows users to publish their CIM Instances to the ES-DOC archive which makes them accessible to the full suite of ES-DOC tools.
                    This includes tools for searching, viewing, and comparing.
                </p>
            </li>

       </ul>

   </div>

{% endblock %} {# /content #}

{% block footer %}
    <br/>
    {{ block.super }}
{% endblock %} {# /footer #}
