{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            init_dialogs(parent);
            render_msg($("#msg"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(buttons,$(parent).find("input.button"))

            init_widgets_on_show(helps,$(parent).find(".help_button"));

            init_errors(parent);

        }
    );
        
    </script>
{% endblock %} {# /scripts #}

{% block style %}

    <style type="text/css">

        #questionnaire tr.field td:first-child  { font-weight: bold; }
        
    </style>

{% endblock %} {# / style #}

{% block title %}

    CIM Questionnaire

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        Welcome to the CIM Questionnaire
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            If you are seeing this page, then you have not selected a project.  Please select from the available projects below.  Authentication may be required.  Alternatively, click on the following links for more information:
            <ul>
                <li><a href="/admin/questionnaire"><b>Django Admin Interface</b></a> (for registering projects/versions/vocabularies/etc.)&nbsp;&nbsp;</li>
                <li><a href="/help"><b>CIM Questionnaire help</b></a>&nbsp;&nbsp;</li>
                <li><a href="/feed"><b>CIM Questionnaire Document Feed</b></a>&nbsp;&nbsp;</li>
            </ul>
        </p>

    </div>

    <form method="POST" action="">

        {% csrf_token %}

        <fieldset>

<div class='instructions'>
This menu lists projects that have registered with the CIM Questionnaire.  To view sample CIM Instances please select "Downscaling" and then click the "submit" button.
</div>
            <table width="100%">
                {% for field in form %}
                    <tr class="{% cycle 'odd' 'even' %} field" name="{{field.html_name}}">
                        {% include "questionnaire/_field.html" %}
                    </tr>
                {% endfor %} {# / field in form #}
            </table>

            <div class="submit">
                <input class="button"  type="submit"   value="submit"/>
                <!--
                <input class="button"  name="customize"  type="submit"   value="customize"   onclick="set_action('customize');"/>
                <input class="button"  name="edit"       type="submit"   value="edit"        onclick="set_action('edit');"/>
                <input class="button"  name="view"       type="submit"   value="view"        onclick="set_action('view');"/>
                -->
            </div> <!-- /.submit -->
            <div style="clear: both;">&nbsp;</div>

        </fieldset>

    </form>

{% endblock %} {# /content #}

