{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}
{% load mptt_tags %}

{% block scripts %}

    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.dynatree.min.js"></script>
    <!-- TODO: ENCOUNTERED BUG IN jquery.formset.min.js [http://code.google.com/p/django-dynamic-formset/issues/detail?id=54] -->
    <!-- MODIFIED LOCAL CODE TO FIX THIS; SHOULD SEND PATCH -->
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.formset.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire_edit.js"></script>
    <script language="javascript">

    {# no need for an if-block here; users can only view existing realizations #}
    var get_form_section_view = "get_existing_edit_form_section/{{ root_model_id }}";

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(helps,$(parent).find(".help_button"));
            init_widgets(buttons,$(parent).find("input.button"))
            init_widgets(panes,$(parent).find(".pane"));
            init_widgets(treeviews,$(parent).find(".treeview"));

            {% if not vocabularies %}
                {% get_default_vocabulary_key as root_vocabulary_key %}
                {% get_default_component_key as root_component_key %}
                show_pane("{{ root_vocabulary_key }}_{{ root_component_key }}");
            {% endif %}

            /* disable all add/remove buttons in view */
            $("button.add").hide();
            $("button.remove").hide();
            $("button.replace").hide();
            $("button.reset").hide();

            /*
            THIS CODE IS REPLACED BY THE accordion_headers FN ABOVE
            $(parent).find(".scientific_property .atomic_value").each(function() {
                $(this).trigger("change");
            });
            $(parent).find(".scientific_property .ui-multiselect").each(function() {
                var source_name = $(this).prev(".multiselect").attr("name");
                var target_name = source_name.replace("-enumeration_value", "-scientific_property_value")
                $(this).find(".multiselect_header").change(function (event) {
                    var source_value = $(this).button("option", "label");
                    var target = $("*[name='" + target_name + "']");
                    $(target).val(source_value);
                })
            });
            */

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);

             // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);

        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}

    <link rel='stylesheet' type="text/css" href="{{ STATIC_URL }}questionnaire/css/ext/jquery.dynatree.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_edit.css" />

    <style type="text/css">
        #questionniare .no_float { float: none !important; }
        /* hide all the interactive features in the view */
        #questionnaire button.add, button.remove, button.replace, button.reset { display: none !important; }
        #questionnaire div.inheritance_options { display: none !important; background: none !important; }
        #questionnaire div.inheritance_options * { display: none !important; background: none !important; }
    </style>

{% endblock %} {# / style #}

{% block title %}
    CIM Questionnaire Viewer
{% endblock %} {# /title #}

{% block content %}

    {% block content_title %}
        <div class="title">
            Viewing {{ model_customizer.model_title|a_or_an }} <b>{{model_customizer.model_title|title}}</b> instance for the <a href="/{{ project.name|lower }}" title="ES-DOC Questionnaire Project Home"><b>{{project.title|title}}</b></a> Project
        </div> <!-- /.title -->
    {% endblock %} {# /content_title #}


    {% block content_documentation %}
        <div class="documentation">
            <p>
                Use this form to view a {{ model_customizer.model_title|title }} instance in the CIM Questionnaire.
            </p>
            {%  if model_customizer.model_description %}
                <div style="border: 1px solid #B9E0E3; padding: 8px;">
                    {{model_customizer.model_description|safe}}
                </div>
            {% endif %}
        </div> <!-- /.documentation -->
    {% endblock %} {# /content_documentation #}

    <form method="POST" action="">

        {% csrf_token %}

        <!-- some useful stuff for AJAX calls -->
        <input class="hidden" type="text" id="_version_key" name="version_key" value="{{ version.key }}"/>
        <input class="hidden" type="text" id="_project_name" name="project_name" value="{{ project.name|lower }}"/>
        <input class="hidden" type="text" id="_document_type" name="document_type" value="{{ model_proxy.name|lower }}"/>
{#        <input class="hidden" type="text" id="_session_id" name="session_id" value="{{ session_id }}"/>#}
        <input class="hidden" type="text" id="_instance_key" name="instance_key" value="{{ instance_key }}"/>

        <div class="form"> {# wrap everything in div.form, so I can group related fields together #}

            <fieldset>

                {% get_default_vocabulary_key as root_vocabulary_key %}
                {% get_default_component_key as root_component_key %}

                {% if vocabularies %}
                    <!-- naughty, naughty developer using tables -->
                    <table border="0" width="100%">
                        <tr valign="top">
                            <td width="15%">
                                <div id="component_tree">
                                    <div id="component_tree_header">
                                        <div class="help_button" title="click for more info" id="component_hierarchy_help">
                                            <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                                            <div class="help_description" title="{{model_customizer.model_hierarchy_name}}">
                                                This section allows users to traverse the full component hierarchy of a document.  Use the checkboxes to indicate that component is to be included as part of the current document.
                                            </div> <!-- /.help_description -->
                                        </div> <!-- /.help_button -->
                                        {{model_customizer.model_hierarchy_name}}
                                    </div>
                                    <div id="component_tree_content">
                                        <div class="treeview">
					    {% if model_customizer.model_show_hierarchy %}
                                            <ul><!-- style="display: none;">-->
                                                <li data="key:'{{root_vocabulary_key}}_{{root_component_key}}'">
                                                    {{model_customizer.model_root_component}}
					    {% endif %} {# /model_customizer.model_show_hierarchy #}
                                                    <ul>
                                                    {% for vocabulary in vocabularies %}
                                                        {% with nodes=vocabulary.component_proxies.all vocabulary_key=vocabulary.get_key %}
                                                            {# look at how cool mppt is! #}
                                                            {# this is all that's needed to re-create the component hierarchy! #}
                                                            {# wow!! #}
                                                            {% recursetree nodes %}
                                                                <li data="key:'{{vocabulary_key}}_{{node.get_key}}'">   {# node is a component; it has a key #}
                                                                    {{ node.name }}
                                                                    {% if not node.is_leaf_node %}
                                                                        <ul>
                                                                            {{ children }}
                                                                        </ul>
                                                                    {% endif %} {# / not node.is_leaf_node #}
                                                                </li>
                                                            {% endrecursetree %}
                                                        {% endwith %} {# / nodes #}
                                                    {% endfor %} {# / vocabulary #}
                                                    </ul>
                                                {% if model_customizer.model_show_hierarchy %}
                                                </li>
                                            </ul>
                                            {% endif %} {# /model_customizer.model_show_hierarchy #}
                                        </div> <!-- /.treeview -->
                                    </div> <!-- /#component_tree_content -->
                                </div> <!-- /#component_tree -->
                            </td>
                            <td width="85%">
                {% endif %} {# /vocabularies #}

                {# doing this here, outside of the formset loop, b/c standard categories & properties are the same for every component #}
                {# this therefore avoids multiple queries of the db #}
                {% with active_standard_categories_and_properties=model_customizer.get_active_standard_categories_and_properties %}

                    {{ model_formset.management_form }}
                    {{ model_formset.non_form_errors }}

                    {% for model_form in model_formset %}

                        <div class="pane" id="{{ model_form.prefix }}_pane" data-section-key="{{ version.key }}|{{ model_proxy.name|lower }}|{{ model_form.get_vocabulary_key }}|{{ model_form.get_component_key }}">
                            <div style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 10px; text-align: center; font-style: italic; color: #B9E0E3">This pane has not yet been loaded.</div>
                        </div> <!-- /.pane -->

                    {%  endfor %}

                {% endwith %} {# active_standard_categories_and_properties #}

                {% if vocabularies %}
                            </td>
                        </tr>
                    </table>
                {% endif %} {# /vocabularies #}

            </fieldset>

        {% block content_submit %}

            <!-- there is no ability to submit from a view -->

        {% endblock %} {# /content_submit #}

        </div> <!-- /.form -->
    </form>

{% endblock %} {# /content #}


{% block footer %}
    This form is generated by the <a target="_blank" href="https://github.com/ES-DOC/esdoc-questionnaire">CIM Questionnaire</a> (v{{questionnaire_version}}).
    <br/>It uses the CIM Version "{% if version.url %}<a target="_blank" href="{{version.url}}">{% endif %}{{ version }}{% if version.url %}</a> {% endif %}".
    {% if vocabularies %}
    &nbsp;And it includes the Controlled Vocabularies
    {% for vocabulary in vocabularies %}
        {% if not forloop.first %}, {% endif %}
            "<a target="_blank" href="{{vocabulary.file.url}}">{{vocabulary}}</a>"{% endfor %}. {# /vocabulary #}
    {% endif %}
    <br/>For more information please contact: <a href="mailto:es-doc-support@list.woc.noaa.gov">es-doc-support@list.woc.noaa.gov</a>.<br/>
{% endblock %} {# /footer #}
