{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}
    <script language="javascript">

    /* just setup the minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            var parent = document.body;

            init_dialogs(parent);
            render_msg($("#msg"));

            init_widgets(users, $(parent).find("#user"));
            init_widgets(buttons, $(parent).find("input.button"));
            init_widgets(helps,$(parent).find(".help_button"));
            init_widgets(multiselects, $(parent).find(".multiselect"));

            init_errors(parent);

        }
    );
        
    </script>
{% endblock %} {# /scripts #}

{% block style %}

    <style type="text/css">
        #questionnaire tr.field td:first-child  { font-weight: bold; }
    </style>

{% endblock %} {# / style #}

{% block title %}

    CIM Questionnaire

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        Welcome to the CIM Questionnaire
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            The CIM Questionnaire provides an Editor for creating complex CIM Documents for particular Earth Science projects.
            Once published, those documents can be viewed and manipluated by other ES-DOC tools.
        </p>
        <p>
            If you are seeing this page, then you have not selected a project.
            Please select from the available projects below.
            Depending on the project, you may have to login to proceed.
        </p>
        <p>
            Alternatively, click on the following links for more information:
            <ul>
                <!--<li><a href="/admin/questionnaire"><b>Django Admin Interface</b></a> (for registering projects/ontologies/vocabularies/etc.)&nbsp;&nbsp;</li>-->
                <li><a href="/help"><b>CIM Questionnaire help</b></a>&nbsp;&nbsp;</li>
                <li><a href="/feed"><b>CIM Questionnaire Published Document Feed</b></a>&nbsp;&nbsp;</li>
            </ul>
        </p>

    </div>

    <form method="POST" action="">

        {% csrf_token %}

        <fieldset>

            <div class='instructions'>
                This menu lists projects that have registered with the CIM Questionnaire.
            </div>
            <br/>

            <table width="100%">
                {% for field in form %}
                    <tr class="{% cycle 'odd' 'even' %} field" name="{{field.html_name}}">
                        {% include "questionnaire/_field.html" %}
                    </tr>
                {% endfor %} {# / field in form #}
            </table>

            <div class="submit">
                <input class="button" type="submit" value="submit"/>
            </div> <!-- /.submit -->
            <div style="clear: both;">&nbsp;</div>

        </fieldset>

    </form>

{% endblock %} {# /content #}

{% block footer %}
    {{ block.super }}
    <br/>
    <a href="/admin/questionnaire">Django Admin Interface</a>
{% endblock %} {# /footer #}
