{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}

    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire_authenticate.js"></script>

    <script language="javascript">

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {


            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets(fieldsets,$(parent).find(".collapsible_fieldset"))
            init_widgets(helps,$(parent).find(".help_button"));
            init_widgets(readonlies,$(parent).find(".readonly"));
            init_widgets(multiselects,$(parent).find(".multiselect"));
            init_widgets(users,$(parent).find("#user"));
            init_widgets(buttons,$(parent).find("input.button"))

            // do this last b/c some of the xpath depends on changes made by the above fns...
            init_errors(parent);

{#            // specific to user...#}
{#            $("select[name='projects']").each(function() {#}
{#                $(this).addClass("ui-state-disabled");#}
{#                $(this).prop("disabled","true");#}
{#            });#}
        }
    );


    </script>
{% endblock %} {# /scripts #}

{% block style %}

    <style type="text/css">

        #questionnaire .form_container          { overflow: auto;  width: 1600px; }
        #questionnaire fieldset                 { float: left; margin: 8px; width: 620px; }


    </style>

{% endblock %} {# / style #}

{% block title %}
    CIM Questionnaire User
{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        CIM Questionnaire User 
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            Information about the user: <b>{{user}}</b>.
        </p>
        <p>
            Only {{user}} or the administrator can change these.
        </p>
    </div> <!-- /.documentation -->

    <div class="form_container">

    <form method="POST" action="">

        {% csrf_token %}

        <fieldset class="collapsible_fieldset">
            <legend title="click to toggle content">
                <span class="title">&nbsp;User Details&nbsp;</span>
            </legend>

            <div class="collapsible_fieldset_content">
                <div class="documentation">
                    <p>
                        <!-- TODO -->
                    </p>
                </div> <!-- /.documentation -->

                <table width="100%">
                    {% for field in user_form %}
                        <tr class="{% cycle 'odd' 'even' %} field" name="{{field.html_name}}">
                            {% include "questionnaire/_field.html" %}
                        </tr>
                    {% endfor %} {# / field in user_form #}
                    <tr>
                        {# add a one-off listing of projects  #}
                        <td colspan="100">
                            <fieldset>
                                <legend>
                                    <span>&nbsp;Project Membership&nbsp;</span>
                                </legend>
                                <table width="100%">
                                    {% for project in user.metadata_user.projects.all %}
                                        <tr class="{% cycle 'odd' 'even' %}">
                                            <td>
                                                <a href="/{{ project.name }}">{{ project.title }}</a>
                                                {% if project.description %}
                                                    : {{ project.description }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %} {# /project #}
                                </table>
                            </fieldset> <!-- /.projects -->
                        </td>
                    </tr>

                </table>
                <div style="clear: both;">&nbsp;</div>
                    <div class="submit">
                        <input class="button"  name="user_submit"  type="submit"  value="submit"/>
                    </div> <!-- /.submit -->
                </div> <!-- /.collapsible_fieldset_content -->


        </fieldset> <!-- / .collapsible_fieldset -->

        <fieldset class="collapsible_fieldset">
            <legend title="click to toggle content">
                <span class="title">&nbsp;Password Details&nbsp;</span>
            </legend>

            <div class="collapsible_fieldset_content">
                <div class="documentation">
                    <p>
                        <!-- TODO -->
                    </p>
                </div> <!-- /.documentation -->

                <table width="100%">
                    {% for field in password_form %}
                        <tr class="{% cycle 'odd' 'even' %} field" name="{{field.html_name}}">
                            {% include "questionnaire/_field.html" %}
                        </tr>
                    {% endfor %} {# / field in password #}
                </table>
                <div style="clear: both;">&nbsp;</div>
                    <div class="submit">
                        <input class="button"  name="password_submit"  type="submit"  value="submit"/>
                    </div> <!-- /.submit -->
                </div> <!-- /.collapsible_fieldset_content -->

            </fieldset>

    </form>

    </div> <!-- /.form_container -->
    
{% endblock %} {# /content #}

