{% load questionnaire_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

{% block head %}

    <head>

        <link rel="shortcut icon" href="{{ STATIC_URL }}questionnaire/img/favicon.ico" />

        <!-- ext js -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/underscore-min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/backbone-min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery-ui.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.tagit.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.multiopenaccordion.min.js"></script>

        <!-- custom js -->
        <!-- TODO: MINIFY THESE FILES -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire.js"></script>
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire_multiselect.js"></script>
        <script language="javascript" type="text/javascript">
            
            /* redefining javascript indexOf() fn,
             * which doesn't exist in IE 8.0
             */
             if (!Array.prototype.indexOf) {
                 Array.prototype.indexOf = function(obj, start) {
                     for (var i = (start || 0), j = this.length; i < j; i++) {
                         if (this[i] === obj) { return i; }
                     }
                     return -1;
                 }
             }
        </script>

        <!-- page js -->
        <!-- (moving this inside the block, so that I can add more includes as needed) -->
        <!-- <script language="javascript"> -->
            {% block scripts %}
                <script language="javascript">
                    // custom js goes here //
                 </script>
            {% endblock %} {# /scripts #}
        <!-- (moved this inside the block, so that I can add more includes as needed) -->
        <!-- </script> -->

        <!-- ext css -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/ext/jquery-ui.min.css"/>        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/ext/jquery.tagit.css" />

        <!-- custom css -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}questionnaire/css/questionnaire_multiselect.css" />

        <!-- page css -->
        {% block style %}
            <style type="text/css">
                /* custom css goes here */
            </style>
        {% endblock %} {# /style #}


        <title>
            {% block title %}
                {# custom title goes here #}
            {% endblock %} {# /title #}
        </title>

    </head>

{% endblock %} {# / head #}

<body>

{% block site %}
    {% if site|site_type != "PROD" %}
        <div id="site" class="ui-state-error" style="width: 80%; margin: 2px auto 2px auto; text-align: center; padding: 4px;">
            This is not a production site.&nbsp;&nbsp;Data will not be stored.
        </div>
    {% endif %} {# /site_type != "PROD" #}
{% endblock %} {# /site #}

{% block main %}

    <div id="questionnaire">

            <!-- some pre-ready divs to use for popups -->
            <!-- (more efficient than creating them from scratch) -->
            <!-- (more efficient than having loads of custom ones) -->
            <div class="hidden_dialog" id="msg_dialog"      title="edit">&nbsp;</div>
            <div class="hidden_dialog" id="help_dialog"     title="help">&nbsp;</div>
            <div class="hidden_dialog" id="confirm_dialog"  title="confirm">&nbsp;</div>
            <div class="hidden_dialog" id="add_dialog"      title="add/replace"> &nbsp;</div>
            <div class="hidden_dialog" id="remove_dialog"   title="remove">&nbsp;</div>
            <div class="hidden_dialog" id="edit_dialog"     title="edit">&nbsp;</div>

            
            
            {% block header %}
                <!-- default header -->
                <div class="header">
                    <a href="http://es-doc.org/"><img src="{{ STATIC_URL }}questionnaire/img/esdoc_logo.png"/></a>

                    {% block user %}
                        <!-- default user login/logout block -->
                        <div id="user">
                            {% if request.user.is_authenticated %}
                                welcome: <b>{{ request.user }}</b>&nbsp; <a title="logout" href="{% url 'logout' %}?next={{ request.path }}">logout</a>                                
                            {% else %}
                                <a title="register" href="/register">register</a>
                                <a title="login" href="/login">login</a>
                            {% endif %}
                        </div>
                    {% endblock %} {# /user #}
                </div> <!-- /.header -->
            {% endblock %} {# /header #}


            {% block messages %}
                {% if messages %}
                    <div id="msg">
                        {% for message in messages %}
                            <div class="msg">
                                <table border="0" style="padding:4px;">
                                    <tr valign="center">
                                        <td style="width:32px;height:32px"class="{{ message.tags }}">&nbsp;</td>
                                        <td>{{ message|safe }}</td>
                                    </tr>
                                </table>
                            </div>
                        {% endfor %} {# message in messages #}
                    </div> <!-- /#msg -->
                {% endif %} {# messages #}
            {% endblock %} {# / messages #}

            {% block content %}
                you forgot to provide content!
            {% endblock %} {# /content #}

            <div class="footer">
                {% block footer %}
                    This form is generated by the <a target="_blank" href="https://github.com/ES-DOC/esdoc-questionnaire">CIM Questionnaire</a> (v{{questionnaire_version}}).
                {% endblock %} {# / footer #}
            </div> <!-- /.footer -->
            
        </div>  <!-- /#questionnaire -->

{% endblock %} {# / main #}
</body>

</html>
