{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block scripts %}

    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.dynatree.min.js"></script>
    <!-- TODO: ENCOUNTERED BUG IN jquery.formset.min.js [http://code.google.com/p/django-dynamic-formset/issues/detail?id=54] -->
    <!-- MODIFIED LOCAL CODE TO FIX THIS; SHOULD SEND PATCH -->
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.formset.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/questionnaire_edit.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}questionnaire/js/ext/jquery.deselectableradio.js"></script>

    <script language="javascript">

    var enumeration_null_value = "_NONE";
    var enumeration_other_value = "_OTHER";

    function enumeration(element) {

        var header = $(element).find(".multiselect_header");
        var content = $(element).find(".multiselect_content");

        var other = $(element).siblings("input.other:first");

        $(other).focus(function() {
            /* make enumeration_other selectable by clicking */
            /* _but_ break out of it if you do other things w/ the mouse */
            $(this).one("mouseup", function() {
                $(this).select();
                return false;
            }).select();
        });

        $(element).on("multiselect_change", function(e) {

            /* whenever this element changes, */
            /* check if NONE is selected and if so, de-select everything else (and hide the other widget) */
            /* check if OTHER is selected and if so, show the "other" widget */

            var selected_items = $(content).find("li input:checked");
            var selected_items_values = $(selected_items).map(function () {
                return $(this).val();
            }).get();

            if (selected_items_values.indexOf(enumeration_null_value) != -1) {

                $(selected_items).each(function() {
                    if ($(this).val() != enumeration_null_value) {
                        $(this).prop("checked", false);
                        $(this).parents("li:first").removeClass("selected");
                        /* I'll wind up w/ circular events if I simulate clicking */
                        /* $(this).click(); */
                    }
                });
                $(other).hide();
                multiselect_set_label(element, header, content);
            }

            else if (selected_items_values.indexOf(enumeration_other_value) != -1) {
                $(other).show();
            }
            else {
                $(other).hide();
            }

        });

        /* force enumeration code to run on initialization */
        $(element).trigger("multiselect_change");
    }

    var multiselect_empty_multiple_text = "Select options";
    var multiselect_empty_single_text = "Select option";
    var multiselect_num_to_show = 2; /* number of selected entries to show in the header */

    function multiselect_set_label(element, header, content) {

        var is_multiple = $(element).hasClass("multiple");

        var selected_items = $(content).find("li").has("input:checked").map(function () {
            return '"' + $(this).text().trim() + '"';
        }).get();
        var num_selected_items = selected_items.length;
        if (num_selected_items == 0) {
            var new_label = is_multiple ? multiselect_empty_multiple_text : multiselect_empty_single_text;
        }
        else if (num_selected_items <= multiselect_num_to_show) {
            var new_label = selected_items.join(", ")
        }
        else {
            var new_label = selected_items.slice(0, multiselect_num_to_show).join(", ")
                    + " + " + (num_selected_items - multiselect_num_to_show) + " more";
        }

        $(header).button("option", "label", new_label);
    }


    function multiselect(element) {

        var header = $(element).find(".multiselect_header");
        var content = $(element).find(".multiselect_content");

        var start_open = $(element).hasClass("start_open");
        var is_multiple = $(element).hasClass("multiple");
        var is_sortable = $(element).hasClass("sortable");
        var is_enumeration = $(element).hasClass("enumeration");

        /* hide the content before proceeding */
        if (! start_open) {
            $(content).hide();
        }

        /* setup the header */
        $(header).button({
            icons: {
              primary: start_open ? "ui-icon-triangle-1-e" : "ui-icon-triangle-1-s"
            },
            label: is_multiple ? multiselect_empty_multiple_text : multiselect_empty_single_text,
            text: true
        }).click(function() {
            $(content).toggle();
            var icon = $(this).find(".ui-icon:first");
            $(icon).toggleClass("ui-icon-triangle-1-s ui-icon-triangle-1-e");
        });

        /* setup the content */
        $(content).find("li").each(function() {
            var content_item = this;
            var content_input = $(content_item).find("input");

            /* setup the content initially */
            if ($(content_input).prop("checked")) {
                $(content_item).addClass("selected");
            }

            /* and respond to changing content */
            $(content_input).change(function() {
                if (is_multiple) {
                    $(content_item).toggleClass("selected");
                }
                else {
                    /* need to do a bit more in the non-multiple section, in-case I am de-selecting */
                    var input_selected = $(this).prop("checked");
                    $(content).find("li").each(function () {
                        if ($(this).hasClass("selected")) {
                            $(this).removeClass("selected");
                        }
                    });
                    if (input_selected) {
                        $(content_item).addClass("selected");
                    }
                }

                /* now that the content has changed, */
                /* set the header text and update enumeration-specific stuff */
                multiselect_set_label(element, header, content);
                if (is_enumeration) {
                    $(element).trigger("multiselect_change")
                }

            });
        });

        /* make sure I can de-select non-multiple items */
        if (! is_multiple) {
            $(content).find("li input").deselectable();
        }

        /* some one-off code for sortable multiselects */
        if (is_sortable) {
            var sortable_icon = $("<span style='float: right;' class='ui-icon ui-icon-arrow-2-n-s' title='drag and drop to reorder'/>");
            $(content).find("label").append(sortable_icon);
            $(content).find("ul").sortable({
                axis: "y",
                placeholder: "sortable_item",
                start : function(e, ui){
                    ui.placeholder.height(ui.item.height());
                    ui.placeholder.width("400");
                }
            });
        }

        /* set the header text during initialization */
        multiselect_set_label(element, header, content);

    };

    /* just setup a minimum of jquery-ui functionality */
    $(document).ready(
        function() {

            render_msg($("#msg"));

            var parent = document.body;

            // do this first so that the dialogs appear near the top of the page
            init_dialogs(parent);

            // do this next, so it can happen while other widgets are loading
            render_msg($("#msg"));

            init_widgets(users,$(parent).find("#user"));
            init_widgets(buttons,$(parent).find("input.button,a.button"))

            /* TEST STUFF IS HERE */

            var multiselects = $(parent).find(".multiselect");
            $(multiselects).each(function () {
                multiselect(this);
            });
            var enumerations = $(parent).find(".enumeration");
            $(enumerations).each(function () {
                enumeration(this);
            });

        }
    );

    </script>

{% endblock %} {# /scripts #}

{% block style %}
    <style>

        .multiselect_header, .multiselect_content { width: 400px; text-align: left; }
        .multiselect_content { min-height: 1.5em; }
        .multiselect_content .selected { background: #B9E0E3; border-bottom: 1px solid #358C92; }
        .multiselect_content ul { list-style-type: none; padding: 0px; margin: 0px; }
        .multiselect_content label { display: block; }

    </style>
{% endblock %} {#  /style #}

{% block title %}

    CIM Questionnaire

{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        here is a test page
    </div> <!-- /.title -->

    <div class="documentation">
        <p>
            here is some documentation
        </p>

    </div>


    <form method="POST" action="">

        {% csrf_token %}

        <table border="0" width="100%">
            {% with field=form.name %}
                <tr valign="top" class="odd">
                    <td><b>{{ field.label }}:&nbsp;</b></td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            {% include "questionnaire/_error.html" %}
                        {% endif %} {# / field.errors #}
                    </td>
                </tr>
            {% endwith %}
            {% with field=form.enumeration_value %}
                <tr valign="top" class="odd">
                    <td><b>{{ field.label }}:&nbsp;</b></td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            {% include "questionnaire/_error.html" %}
                        {% endif %} {# / field.errors #}
                        {{ form.enumeration_other_value }}
                    </td>
                </tr>
            {% endwith %}
        </table>

        <input class="button" type="submit" value="save"/>

    </form>


{% endblock %} {# /content #}


{% block footer %}
    {{ block.super }}
    <br/>Look at me adding content to an existing block!
{% endblock %} {# /footer #}
