{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block head %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the <head> section -->
    <!-- (note - any JQuery widgets to be initialized are handled in the dialog open event) -->
{% endblock %} {# /head #}


{% block header %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the header -->
{% endblock %} {# /header #}


{% block footer %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the footer -->
{% endblock %} {# /footer #}

{% block content %}

    {% block content_documentation %}
        <div class="documentation">
            <p>
                <div class="instructions">Select an existing instance.  Be sure not to choose the same instance more than once.</div>
            </p>
        </div> <!-- /.documentation -->
    {% endblock %} {# /content_documentation #}

    <form method="POST" id="select_realization_form" action="">

        {% csrf_token %}

        <div class="form"> {# wrap everything in div.form, so I can group related fields together #}

            <fieldset>

                 <table width="100%">
                    {% for field in form %}
                        <tr class="{% cycle 'even' 'odd' %} field" name="{{field.html_name}}"> {# cycling in reverse oder just b/c this form only has one field and "even" rows look nicer #}
                            {% include "questionnaire/_field.html" %}
                        </tr>
                    {% endfor %} {# / field in model_customizer_form.get_document_fields #}
                </table>
            </fieldset>
        </div> <!-- /.form -->

    </form>

{% endblock %} {# /content #}
