{% extends "questionnaire/questionnaire_base.html" %}

{% load questionnaire_filters %}

{% block head %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the <head> section -->
    <!-- (note - any JQuery widgets to be initialized are handled in the dialog open event) -->
{% endblock %} {# /head #}


{% block header %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the header -->
{% endblock %} {# /header #}


{% block footer %}
    <!-- this page is displayed in a JQuery dialog box -->
    <!-- hence, there is no need for the footer -->
{% endblock %} {# /footer #}

{% block content %}

    <div class="documentation">
        <p>
            Use this form to customize details of this category.
        </p>
    </div> <!-- /.documentation -->

    <div class="category_form">
        <form>

            <div class="hidden">
                {# the fields I explicitly set to hidden #}
                {% for field in form.get_hidden_fields %}
                    {{ field }}
                {% endfor %} {# /field #}
                {# and the fields that are hidden by default #}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %} {# /hidden_field #}
                {# and a special form-only (ie: not part of the underlying model) field #}
                {# which helps w/ the load-on-demand paradigm #}
                {{ form.loaded }}
            </div>

            <table width="100%">
                {% for field in form.get_customizer_fields %}
                    <tr class="{% cycle 'odd' 'even' %} field" name="{{field.html_name}}">
                        {% include "questionnaire/_field.html" %}
                    </tr>
                {% endfor %} {# / field in form #}
            </table>

        </form>
    </div> <!-- /.category_form -->

{% endblock %} {# /content #}
