{# template for a (nested; ie: not the top-level one) form #}
{# (also nested forms don't use tabs like top-level ones) #}

{# form is the form #}
{# customizer is the customizer from the target_model #}

{% load dcf_filters %}

<div class="form" style="display:block;"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

    <div class="hidden_fields">
        {% for hiddenField in form.hidden_fields %}
            {{ hiddenField }}
        {% endfor %} {# /hiddenField #}
    </div>

    <br/>TODO: prefix:{{form.prefix}}
    <table width="100%">
        
        {% with customizers=form.getStandardPropertyCustomizers|getAllValues %}
        
            {% for customizer in customizers %}
            
                {% with metadata_field=form|getMetadataField:customizer.name %}
                    {% with field=form|getField:customizer.name %}
                        <!-- customizer is the property customizer -->
                        <!-- metadata_field is the MetadataField instance -->
                        <!-- field is the formfield itself -->

                        <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                            {% if customizer.customize_subform %}
                                <td colspan="100"> <!-- this just makes sure that the nested table spans the entire parent table -->
                                    {# alright, this looks weird I know #}
                                    {# but passing the template as a variable gets around Django's maximum recursion issue #}
                                    {% with "dcf/_subform.html" as template %}
                                        {% include template %}
                                    {% endwith %}
                                </td>
                            {% else %}
                                {# alright, this looks weird I know #}
                                {# but passing the template as a variable gets around Django's maximum recursion issue #}
                                {% with "dcf/_field.html" as template %}
                                    {% include template %}
                                {% endwith %}
                            {% endif %}
                        </tr>

                    {% endwith %} {# /field #}
                {% endwith %} {# /metadata_field #}
            {% endfor %} {# /customizer #}
        {% endwith %} {# /customizers #}

    </table>

</div> <!-- /.form -->

{# end template for a form #}
