{% extends "dcf/dcf_base.html" %}

{% load dcf_filters %}

{% block scripts %}

    $(document).ready(
        enableDCF()
    )

{% endblock %} {# /scripts #}

{% block style %}

{% endblock %} {# /style #}

{% block user %}
    <!-- no user content needed for login page -->
{% endblock %} {# /user #}

{% block title %}
    CIM Questionnaire Login
{% endblock %} {# /title #}

{% block content %}


    <div class="title">
        CIM Questionnaire Login
    </div> <!-- /.title -->

    <div id="login">

    {% if next %} {# keep the next parameter through any unsuccessful attempts #}
        <form method="POST" action="/dcf/login/?next={{next}}">
    {% else %}
        <form method="POST" action="/dcf/login/">
    {% endif %} {# /next #}

        {% csrf_token %}

        <fieldset>

                    <table width="100%">

                        {% if form.non_field_errors %}
                            <tr>
                                <td colspan="0"  style="padding: 8px;">
                                    <div class="error_wrapper">
                                        &nbsp;{{ form.non_field_errors }}&nbsp;
                                    </div>
                                </td>
                            </tr>
                        {% endif %} {# / form.non_field_errors #}

                        {% for field in form %}
                            <tr class="{% cycle 'odd' 'even' %} field">
                                <td>
                                    &nbsp;{{field.label}}:&nbsp;
                                </td>
                                <td>
                                    {{field}}

                                    {% if field.errors %}
                                        {% include "dcf/_error.html" %}
                                    {% endif %} {# / field.errors #}

                                </td>
                            </tr>
                        {% endfor %} {# / field in form #}

                    </table>

                    <div class="submit">
                        <input class="button"  name="{{form.prefix}}"  type="submit"   value="submit"/>
                    </div> <!-- /.submit -->
                    
            </fieldset>

        </form>

</div> <!-- /#login -->

{% endblock %}