{# this is the index template for django-cim-forms #}

{% extends "dcf/dcf_base.html" %}

{% block title %}
    Error!
{% endblock %} {# /title #}

{% block style %}
    #dcf #error div { padding: 8px; margin: 8px; font-size: 125%; }
    #dcf #error .error_type { font-weight: bold; text-decoration: underline; }
    #dcf #error .error_msg { font-style: italic; }
{% endblock %} {# /style #}

{% block scripts %}
    var ERROR_CODES = {
        200 : "OK",
        301 : "Moved Permanently",
        302 : "Found",
        400 : "Bad Request",
        403 : "Forbidden",
        404 : "Not Found",
        408 : "Request Timeout",
        500 : "Internal Server Error"
    };

    $(document).ready(
        enableDCF()
    )

{% endblock %} {# /scripts #}

{% block content %}

    <div class="title">
        Error!
    </div> <!-- /.title -->

    <div id="error">
        <div class="error_type">
            {{status_code}}
            <script language="javascript">
                document.write(
                    ": " + ERROR_CODES[{{status_code}}]
                );
            </script>
        </div>
        <div class="error_msg">
            {{error_msg}}
        </div>
    </div> <!-- /#error -->

{% endblock %} {# /content #}

{# just use the standard headers and footers #}