{% load dcf_filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div id='dcf'>

    <!-- placeholder for messages to display to user -->
    <div id="msg">
        {{msg}}
    </div>

    <div class="title" style="font-size: 120% !important;">
        Editing a Scientific Category of <b>{{component|title}}</b>
    </div> <!-- /.title -->

    <div id='customize'>
        <div id="category">
            <form id="category_form"">
                <div class="form">
                    {% for hiddenField in form.hidden_fields %}
                        {{ hiddenField }}
                    {% endfor %} {# /hiddenField #}

                    <fieldset class="coolfieldset" name="category_fieldset">
                        <legend title="click to show/hide content">
                            <div class="help-button" title="click for more info" id="category_fieldset">
                                <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                                <div class="help-description" title="Category Details">
                                    This section contains information relating to the category.  Note that it will only be saved when this corresponding customizatoin is saved.
                                </div> <!-- /.help-description -->
                            </div> <!-- /.help-button -->
                            <span class="title">&nbsp;Category Details&nbsp;</span>
                        </legend>
                        <div class="coolfieldset-content">
                            <span class="documentation">This section contains information relating to the category.

                            <table width="100%" border="0">
                                {% for field in form.visible_fields %}
                                    {% with field_label=field.label field_id="document_details_"|add:field.name %}
                                        <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                            <td>
                                                {% if field.help_text %}
                                                    {% include "dcf/_help.html" %}
                                                {% endif %} {# /field.help_text #}
                                               <span class="field_label">
                                                    {{field.label}}:&nbsp;
                                                </span>
                                            </td>
                                            <td>
                                                <span class="field_value">
                                                    {{field}}
                                                </span>
                                                {% if field.errors %}
                                                    {% include "dcf/_error.html" %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endwith %} {# /field_label, field_id #}
                                {% endfor %} {# /field #}
                            </table>
                        </div> <!-- /.coolfieldset-content -->
                    </fieldset> <!-- /.coolfieldset[name='document_details_fieldset' -->

                </div> <!-- /.form -->
           </form>
        </div> <!-- /#category -->
    </div> <!-- /#customize -->
</div> <!-- /#dcf -->
