{% load dcf_filters %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

{% block head %}

    <head>

        <!-- jquery -->
        <!-- TODO: USE MINIFIED JQUERY IN PRODUCTION -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery/jquery-1.6.3.js"></script>

        <script language="javascript">
            /* redefining javascript trim() fn,
             * which doesn't exist in IE,
             * to use JQuery trim() fn,
             * which does exist in above script
             */
             String.prototype.trim = function() {
                 return $.trim(this)
             };
             /* used by loadJS (in "dcf.js" below)
              * to know where to load scripts from
              */
             var JS_PATH = "{{ STATIC_URL }}dcf/js";
        </script>
        
        <!-- jquery ui -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
        <!-- custom js -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/glisaclimate.js"></script>

        <script language="javascript">
            {% block scripts %}
              $(document).ready(
                render_table("http://glisaclimate.org/downscaled-projections-data-portals/json/query")                 
              )
            {% endblock %} {# /scripts #}
        </script>

        <!-- jquery -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/custom/jquery-ui-1.8.16.custom.css" />

        <style>
            {% block style %}
                /* custom css goes here */
            {% endblock %} {# /style #}
        </style>

    </head>

{% endblock %} {# / head #}

<body>

{% block main %}
hi
<div id="response"></div>
{% endblock %} 
</body>


</html>
