{# this displays a single metadata field #}

    {% load metadata_filters %}

    {% if field.name == "DELETE" %}

        <div class="delete-field">
            {{ field }}
        </div>

    {% else %}


        {% with hidden=field.field.widget.attrs.class %}
            {% if hidden == "hidden" %}
                <div class="field hidden" name="{{field.name}}">
            {% else %}
                <div class="field" name="{{field.name}}">
            {% endif %}
        {% endwith %}
        
            {% if field.help_text %}
                <div class="help-button" title="click for more info" id="{{form.getName}}_{{field.auto_id}}">
                    <!-- JQuery ui-icons are handled via <spans>; weird, I know -->
                    <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                    <div class="help-description" title="{{ field|verbose_name:form }}">
                        {{ field.help_text|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                    </div> <!-- /.help-description -->
                </div> <!-- /.help-button -->
            {% endif %} {# /field.help_text #}


            {% if field|required:form %}
                <span class="required">
                    {{ field|verbose_name:form }}:&nbsp;
                </span>
            {% else %}
                <span class="optional">
                    {{ field|verbose_name:form }}:&nbsp;
                </span>
            {% endif %}

            
            {{ field }}
            

            {% if field.errors %}
                <script class="error-script">
                    /* if there is any field error; display an error style in the enclosing tab */
                    /* TODO: check this in IE */
                    $("script.error-script:last").parents(".tab-content").each(function() {
                        var tabID = $(this).parent("div").attr("id");
                        $(".tabs a[href='#"+tabID+"']").closest("li").attr("class","ui-state-error");
                    });
                    $("script.error-script:last").parents("accordion-content").each(function() {
                        $(this).parent(".accordion-header").attr("class","ui-state-error");

                    });
                </script>
                {{field.errors}}
            {% endif %} {# /field.errors #}

        </div> <!-- /.field -->

    {% endif %} {# /field.name==DELETE #}

{# end of displaying a single metadata field #}
