{# this displays a metadata subform #}

    {% load metadata_filters %}

    {# required b/c the individual form ids are here #}
    {% for hiddenField in form.hidden_fields %}
        {{ hiddenField }}
    {% endfor %} {# /hiddenField #}

    {% for field in form.visible_fields %}
        {% if form|isInSubForms:field %}

            <fieldset class="coolfieldset">
                <legend title="click to show/hide content">
                    {% if field.help_text %}
                        <div class="help-button" title="click for more info" id="{{form.getName}}_{{field.auto_id}}">
                            <!-- JQuery ui-icons are handled via <spans>; weird, I know -->
                            <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                            <div class="help-description" title="{{ field.name|escape }}">
                                {{ field.help_text|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                            </div> <!-- /.help-description -->
                        </div> <!-- /.help-button -->
                    {% endif %} {# /field.help_text #}
                    {{ field.name }}
                </legend>
                <div class="coolfieldset-content">

                    <div class="hidden">
                        <span class="current_guid">{{form.getGuid}}</span>
                        <span class="current_id">{{form.getId}}</span>
                        <span class="current_app">{{form|getAppName}}</span>
                        <span class="current_model">{{form|getModelName}}</span>
                        <span class="current_field">{{field.name}}</span>
                    </div>

                    {{ form.errors}}

                    {% with subForm=field|getSubForm:form %}
                        {% with subFormType=subForm|getSubFormType %}

                            {% if subFormType == "FORM" %}

                                {# in theory, django doesn't have recursive templates #}
                                {# but this gets around that limitation #}
                                {% with "django_cim_forms/_form.html" as template %}
                                    {% with form=subForm %}
                                        {% include template %}
                                    {% endwith %}
                                {% endwith %}

                            {% else %} {% if subFormType == "FORMSET" %}

                                {% with "django_cim_forms/_formset.html" as template %}
                                    {% with formset=subForm %}
                                        {% include template %}
                                    {% endwith %}
                                {% endwith %}

                            {% else %} {% if subFormType == "INLINE_FORMSET" %}

                                {% with "django_cim_forms/_inlineformset.html" as template %}
                                    {% with formset=subForm %}
                                        {% include template %}
                                    {% endwith %}
                                {% endwith %}

                            {% endif %} {% endif %} {% endif %}

                        {% endwith %} {# /subFormType #}
                    {% endwith %} {# /subForm #}

                </div> <!-- /.coolfieldset-content -->
            </fieldset> <!-- /.coolfieldset -->
        {% else %}

            {% include "django_cim_forms/_field.html" %}

        {% endif %} {# /form|isInSubForms:field #}


    {% endfor %} {# / field in form.visible_fields #}

{# end of displaying a metadata subform #}
