{# this displays a metadata subform #}

    {% load metadata_filters %}

    <span class="subform-toolbar ui-widget-header ui-corner-all">
        <button type="button" class="add" title="add new {{ field.name|escape }}">add</button>
        <button type="button" class="expand" title="expand all {{ field.name|escape }}">expand</button>
        <button type="button" class="collapse" title="collapse all {{ field.name|escape }}">collapse</button>
    </span> <!-- /.subform-toolbar -->
    <div style="clear: both;">&nbsp;</div>

    {{ formset.management_form }}
    {{ formset.non_form_errors }}

        <div class="accordion {{formset.getPrefix}}-formset">
        {% for form in formset.forms %}
            <h3 class="accordion-header">
                <a> {{ form.getFullyQualifiedName }} &nbsp; <button type="button" class="remove" title="remove">remove</button></a>
                <div style="clear: both;"/>
            </h3> <!-- /.accordion-header -->
            <div class="accordion-content">

                {% with "django_cim_forms/_form.html" as template %}
                    {% include template %}
                {% endwith %}

            </div> <!-- /.accordion-content -->
        {% endfor %} {# /form in formset.forms #}
    </div> <!-- /.accordion -->

{# end of displaying a metadata formset #}

