{# this displays a set of metadata properties #}

    {% load metadata_filters %}
    
        {% with forms=formset|getForms:keys %}
            {% with haveSubItems=forms|haveSubItems haveValues=forms|haveValues %}
                {% if haveSubItems %}
                    <div class="tabs">
                        <ul>
                            {% for form in forms %}
                                {% if form|hasSubItems %}
                                    <li><a href="#tab-{{form.shortName.value|stripSpaces}}-{{form|getModelGuid}}">{{form.shortName.value}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% for form in forms %}
                            {% if form|hasSubItems %}
                                <div id="tab-{{form.shortName.value|stripSpaces}}-{{form|getModelGuid}}">
                                    <div class="tab-content">
                                        {% if form.longName.value != form.shortName.value %}
                                            <p class="documentation">
                                                <!-- tab (field category) documentation -->
                                                {{form.longName.value}}
                                            </p>
                                        {% endif %} {# form.longName != form.shortName #}

                                        {# required b/c the individual form ids are here #}
                                        {% for hiddenField in form.hidden_fields %}
                                            {{ hiddenField }}
                                        {% endfor %} {# /hiddenField #}

                                        {% with nested_properties=nested_properties|get_item:form.shortName.value %}
                                            {% with "django_cim_forms/_propertyform.html" as template %}
                                                {% with keys=nested_properties.keys values=nested_properties.values %}
                                                    {% include template %}
                                                {% endwith %} {# keys, values #}
                                            {% endwith %} {# template #}
                                        {% endwith %} {# nested_properties #}
                                    </div> <!-- /.tab-content -->
                                </div> <!-- /#tab -->
                            {% endif %}
                        {% endfor %}
                    </div> <!-- /.tabs -->
                {% endif %}
                {% if haveValues %}
                    <div class="accordion {{formset.getPrefix}}-formset">
                        {% for form in forms %}
                            {% if form|hasValues %}
                                <h3 class="accordion-header">
                                    <a>{{form.getModelName}}&nbsp;</a>
                                    <div style="clear: both;"/>
                                </h3> <!-- /.accordion-header -->
                                <div class="accordion-content">
                                    {% with "django_cim_forms/_form.html" as template %}
                                        {% include template %}
                                    {% endwith %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            {% endwith %} {# / haveSubItems, haveValues #}
        {% endwith %} {# /forms #}

{# end of displaying a set of metadata properties #}
