{# this displays a set of metadata properties #}

    {% load metadata_filters %}

        {% with forms=formset|getForms:keys %}
            {% with haveSubItems=forms|haveSubItems haveValues=forms|haveValues isCustom=forms|isCustom %}
                {% if haveSubItems %}
                    <div class="tabs">
                        <ul>
                            {% for form in forms %}
                                {% if form|hasSubItems %}
                                    {% with propertyShortName=form|getModelFieldValue:"shortName" %}
                                        <li><a href="#tab-{{propertyShortName|stripSpaces}}-{{form|getModelGuid}}">{{propertyShortName}}</a></li>
                                    {% endwith %} {# propertyShortName #}
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% for form in forms %}
                            {% if form|hasSubItems %}
                                {% with propertyShortName=form|getModelFieldValue:"shortName" propertyLongName=form|getModelFieldValue:"longName" %}
                                
                                    <div id="tab-{{propertyShortName|stripSpaces}}-{{form|getModelGuid}}">
                                        <div class="tab-content">
                                            
                                            {% if propertyLongName != propertyShortName %}
                                            <p class="documentation">
                                                {{propertyLongName}}
                                            </p>
                                            {% endif %} {# longName != shortName #}

                                            {# if this property is acting as a tab/category/parent (ie: if hasSubItems is true) #}
                                            {# then I have to explicitly add shortName and longName (which are required fields) #}
                                            {# since without them, validation will fail w/ "this field is required" errors #}
                                            {# w/in Property_form, they are hidden fields so it won't mess up the display #}
                                            {{form.shortName}}
                                            {{form.longName}}

                                            {# required b/c the individual form ids are here #}
                                            {% for hiddenField in form.hidden_fields %}
                                                {{ hiddenField }}
                                            {% endfor %} {# /hiddenField #}

                                            {% with nested_properties=nested_properties|get_item:propertyShortName %}
                                                {% with "django_cim_forms/_propertyform.html" as template %}
                                                    {% with keys=nested_properties.keys values=nested_properties.values %}
                                                        {% include template %}
                                                    {% endwith %} {# keys, values #}
                                                {% endwith %} {# template #}
                                            {% endwith %} {# nested_properties #}
                                        </div> <!-- /.tab-content -->
                                    </div> <!-- /#tab -->
                                    {% endwith %} {# propertyShortName, propertyLongName #}
                                {% endif %}
                            {% endfor %}
                        </div> <!-- /.tabs -->
                {% endif %}
                {% if haveValues or isCustom %}
                    <div class="accordion {{formset.getPrefix}}-formset">
                        {% for form in forms %}
                            {% if form|hasValues %}
                                <h3 class="accordion-header">
                                    <a>{{form.getModelName}}&nbsp;</a>
                                    <div style="clear: both;"/>
                                </h3> <!-- /.accordion-header -->
                                <div class="accordion-content">
                                    {% with "django_cim_forms/_form.html" as template %}
                                        {% include template %}
                                    {% endwith %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

            {% endwith %} {# / haveSubItems, haveValues #}
        {% endwith %} {# /forms #}

{# end of displaying a set of metadata properties #}
