{% load metadata_filters %}


{#    {% block head_title %}                    #}
{#        {{ form|getModelTitle }} Entry Form   #}
{#    {% endblock %}                            #}

{% block head %}

        <!-- jquery -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery-1.6.2.min.js"></script>
        <!-- jquery ui -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery-ui-1.8.16.custom.min.js"></script>
        <!-- collapsible fieldsets -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery.coolfieldset.js"></script>
        <!-- (multi) accordion plugin -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery.multi-open-accordion-1.5.3.js"></script>
        <!-- editable comboboxes -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery.jec-1.3.3.js"></script>
        <!-- dynamic formsets -->
        <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/jquery.formset.js"></script>

            <script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}django_cim_forms/js/metadata.js"></script>
        <script language="javascript">
            {% block scripts %}
                 <!-- custom javascript goes here -->
            {% endblock %} {# /scripts #}
        </script>

        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}django_cim_forms/css/custom/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}django_cim_forms/css/coolfieldset.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}django_cim_forms/css/metadata.css" />

        <style>
            {% block style %}

            {% endblock %} {# /style #}
        </style>

    </head>

{% endblock %} {# / head #}

{% block main %}

    <div id="metadata">

            <!-- some pre-ready divs to use for popups -->
            <!-- (more efficient than creating them from scratch) -->
            <!-- (more efficient than having loads of custom ones) -->
            <div id="help-dialog" title="help">&nbsp;</div>
            <div id="add-dialog" title="add"> &nbsp;</div>
            <div id="remove-dialog" title="remove">&nbsp;</div>

            {% block content %}
                you forgot to provide content!
            {% endblock %} {# /content #}


        </div>


{% endblock %} {# / main #}