
<div class="reference panel panel-default">
    <div class="panel-body">
        <!--<span class="input-group-btn">-->
            <!--<button class="btn btn-default" type="button" title="click to add or change this reference" ng-click="get_possible_references()">-->
                <!--<span class="glyphicon glyphicon-new-window"></span>-->
            <!--</button>-->
        <!--</span>-->
        <!--<input class="form-control" type="text" placeholder="please provide the canonical name of a referenced document"-->
               <!--ng-model="current_model['relationship_references'][5]"-->
               <!--ng-model-options="{debounce: 750}"-->
               <!--ng-change="change_reference()"/>-->
        <div class="col-lg-1 col-md-1">
            <button class="btn btn-default" type="button" title="click to add or change this reference" ng-click="get_possible_references()">
                <span class="glyphicon glyphicon-new-window"></span>
            </button>
        </div>
        <div class="col-lg-10 col-md-10">
            <input class="form-control" type="text" placeholder="project / institute-code" ng-model="current_model['relationship_references'][referenceIndex][1]"/><br/>
            <!--<input class="form-control" type="text" placeholder="document type" ng-model="referenceType" readonly="true"/><br/> -->
            <input class="form-control" type="text" placeholder="canonical name" ng-model="current_model['relationship_references'][referenceIndex][5]"/>
        </div>
    </div>
</div>