{% extends "django_cim_forms/metadata_base.html" %}

{% load metadata_filters %}

{% block scripts %}
    $(document).ready(enableJQueryWidgets());
{% endblock %} {# /scripts #}

{% block content %}

    <div class="title">
        {{ form|getModelTitle }} Entry Form
    </div> <!-- /.title -->

    <p>
        <i>
            Use this form to create or modify an instance of {{ form|getModelTitle }} metadata.  Fill out the fields on each tab.  Fields or subforms with <span style="font-weight: bold;">bold</span> labels are required.  When you have finished, click the "submit" button at the bottom of the page.  Invalid fields are indicated using a <span style="color: #ff0000; font-weight: bold;">red</span> font.
        </i>
    </p>

    <form method="POST" action="">

        {% csrf_token %}

        <div class="tabs">

            <ul> <!-- tab menu -->
                {% for fieldType in form|getActiveFieldTypes %}
                    <li><a href="#tab-{{fieldType.getType}}-{{form|getModelGuid}}">{{ fieldType.getName }}</a></li>
                {% endfor %} {# /fieldType #}
            </ul> <!-- /tab menu -->

            {% for fieldType in form|getActiveFieldTypes %}
                <div id="tab-{{fieldType.getType}}-{{form|getModelGuid}}">
                    <div class="tab-content">
                        {% with fieldsOfType=form|getFieldsOfType:fieldType %}
                            {% for field in form.visible_fields %}
                                {% if field.name in fieldsOfType %}
                                    {% if field|isInSubForms:form %}
                                        {% if field|required:form %}
                                            <fieldset class="coolfieldset required" name="{{field.name}}">
                                        {% else %}
                                            <fieldset class="coolfieldset" name="{{field.name}}">
                                        {% endif %} {# /field|required #}
                                                <legend title="click to show/hide content">

                                                    {% if field.help_text %}
                                                        <div class="help-button" title="click for more info" id="{{form.getName}}_{{field.auto_id}}">
                                                            <!-- JQuery ui-icons are handled via <spans>; weird, I know -->
                                                            <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                                                            <div class="help-description" title="{{field|verbose_name:form}}">
                                                                {{ field.help_text|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                                                            </div> <!-- /.help-description -->
                                                        </div> <!-- /.help-button -->
                                                    {% endif %} {# /field.help_text #}
                                                    {{ field|verbose_name:form}}
                                                </legend>
                                                <div class="coolfieldset-content">

                                                    <div class="hidden">
                                                        <span class="current_guid">{{form|getModelGuid}}</span>
                                                        <span class="current_app">{{form|getAppName}}</span>
                                                        <span class="current_model">{{form|getModelName}}</span>
                                                        <span class="current_field">{{field.name}}</span>
                                                        <!-- have to have 2 versions of these values; one for the AJAX call to add an existing field instance, and one for the text that appears on dialog boxes -->
                                                        <span class="current_model_name">{{form|getModelTitle}}</span>
                                                        <span class="current_field_name">{{field|verbose_name:form}}</span>

                                                    </div> <!-- /.hidden -->
                                                    {% with subForm=form|getSubForm:field %}
                                                        {% with subFormType=subForm.getSubFormType.getType %}

                                                            {% if subFormType == "FORM" %}

                                                                {% if field|canAddRemote:form %}

                                                                    <span class="subform-toolbar ui-widget-header ui-corner-all">
                                                                        <button type="button" class="add {{subFormType}}" title="add new {{ field|verbose_name:form }}">add</button>
                                                                    </span> <!-- /.subform-toolbar -->
                                                                    <div style="clear: both;">&nbsp;</div>

                                                                {% endif %}

                                                                {% with form=subForm %}
                                                                    {% include "django_cim_forms/_form.html" %}
                                                                {% endwith %}

                                                            {% else %} {% if subFormType == "FORMSET" %}

                                                            {% with formset=subForm %}
                                                                    {% include "django_cim_forms/_formset.html" %}
                                                                {% endwith %}

                                                            {% endif %} {% endif %} {# /subFormType==FORM|FORMSET #}
                                                        {% endwith %} {# /subFormType #}
                                                    {% endwith %} {# /subForm #}

                                                </div> <!-- /.coolfieldset-content -->
                                            </fieldset> <!-- /.coolfieldset -->
                                    {% else %}

                                        {% include "django_cim_forms/_field.html" %}

                                    {% endif %} {# / field|isInSubForms:form #}
                                {% endif %} {# /field.name in fieldsOfType #}
                            {% endfor %} {# / field in form.visible_fields #}
                        {% endwith %} {# / fieldsOfType #}
                    </div> <!-- /.tab-content -->
                </div> <!-- /#tab-{{fieldType.getType}}-{{form|getModelGuid}} -->
            {% endfor %} {# /fieldType #}

        </div> <!-- /.tabs -->

        <div class="submit">
            <input class="button" type="submit" value="Submit"/>
        </div> <!-- /.submit -->

        <div style="clear: both;">&nbsp;</div>

    </form>

{% endblock %} {# /content #}
