{# this displays a single metadata field #}

<!-- customizer is the property customizer -->
<!-- metadata_field is the MetadataField instance -->
<!-- field is the formfield itself -->

    {% load dcf_filters %}

    {% if field.name == "DELETE" %}

        <div class="delete-field">
            {{ field }}
        </div>

    {% else %}
    
        <div class="field" name="{{field.name}}" width="100%">
                <td>
                    {% if customizer.documentation %}
                        <div class="help-button" title="click for more info" id="{{metadata_field.getName}}_{{field.auto_id}}">
                            <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                            <div class="help-description" title="{{ customizer.verbose_name }}">
                                {{ customizer.documentation|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                            </div> <!-- /.help-description -->
                        </div> <!-- /.help-button -->
                    {% endif %} {# /customizer.documentation #}
                    {% if customizer.required %}
                        <span class="field_label required">{{customizer.verbose_name}}:&nbsp;</span>
                    {% else %}
                        <span class="field_label">{{customizer.verbose_name}}:&nbsp;</span>
                    {% endif %} {# /customizer.required #}
                </td>

                <td>
                    <div class="field_value">
                        {{ field }}
                    </div>

                    {% if field.errors %}
                        <div class="error-wrapper">
                            {{field.errors}}
                            <script class="error-script">
                                /* if there is any field error;
                                * display an error in the enclosing fieldset and accordion and tab (if applicable) */
                                //var error = $("script:.error-script:last");   // (browsers don't always render hidden scripts, so this line didn't workd)
                                var error = $("div.error-wrapper:last");        // (this line replaces it)
                                render_error(error);
                            </script>
                        </div>
                    {% endif %} {# /field.errors #}
           
                </td>
            
        </div> <!-- /.field -->

    {% endif %} {# /field.name==DELETE #}

{# end of displaying a single metadata field #}