{# this displays a single metadata field #}

<!-- customizer is the MetadataAttributeCustomizer associated w/ this field -->
<!-- field is the MetadataField instance corresponding to this attribute -->
<!-- attribute is the attribute (formfield) itself -->

    {% load dcf_filters %}

    {% if attribute.name == "DELETE" %}

        <div class="delete-field">
            {{ attribute }}
        </div>

    {% else %}
    
        <div class="field" name="{{attribute.name}}" width="100%">
                <td>
                    {% if customizer.documentation %}
                        <div class="help-button" title="click for more info" id="{{form.getName}}_{{attribute.auto_id}}">
                            <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                            <div class="help-description" title="{{ customizer.verbose_name }}">
                                {{ customizer.documentation|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                            </div> <!-- /.help-description -->
                        </div> <!-- /.help-button -->
                    {% endif %} {# /customizer.documentation #}
                    {% if customizer.required %}
                        <span class="field-label required">{{customizer.verbose_name}}:&nbsp;</span>
                    {% else %}
                        <span class="field-label">{{customizer.verbose_name}}:&nbsp;</span>
                    {% endif %} {# /customizer.required #}
                </td>

                <td>
                    {{ attribute }}

                    {% if attribute.errors %}
                        <div class="error-wrapper">
                            {{attribute.errors}}
                            <script class="error-script">
                                /* if there is any field error;
                                * display an error in the enclosing tab and accordion (if applicable) */
                                var error = $("script:.error-script:last");
                                renderError(error);
                            </script>
                        </div>
                    {% endif %} {# /attribute.errors #}

                    {% if customizer.attribute_type == "manytomanyfield" %}
                        <br/><button class="add" type="button" title="TODO">add new</button>
                    {% endif %}

                </td>
            
        </div> <!-- /.field -->

    {% endif %} {# /attribute.name==DELETE #}

{# end of displaying a single metadata field #}