{# this displays a metadata formset #}

    {% load metadata_filters %}

    {{ formset.non_form_errors }}
    {{ formset.management_form }}

    <span class="subform-toolbar ui-widget-header ui-corner-all">
        <button type="button" class="expand" title="expand all {{ field|custom_verbose_name:form }}">expand all</button>
        <button type="button" class="collapse" title="collapse all {{ field|custom_verbose_name:form }}">collapse all</button>
    </span> <!-- /.subform-toolbar -->
    <div style="clear: both;">&nbsp;</div>

    <div class="accordion {{formset.getPrefix}}-formset" >
        {% for form in formset.forms %}
            <h3 class="accordion-header">
                <a>{{form|get_subform_title}}&nbsp;<button type="button" class="remove" title="remove">remove</button></a>
                <div style="clear: both;"/>
            </h3> <!-- /.accordion-header -->
            <div class="accordion-content">

                {% with "dcf/_form.html" as template %}
                    {% include template %}
                {% endwith %}
                
            </div> <!-- /.accordion-content -->
        {% endfor %}
    </div> <!-- /.accordion -->

    <button type="button" class="add" title="add another instance to {{ field|custom_verbose_name:form }}">add new</button>

{# end of displaying a metadata formset #}