{# template for a nested formset #}

{# formset is the formset #}
{# customizer is the customizer from the target model #}

{% load dcf_filters %}

<span class="subform-toolbar ui-widget-header ui-corner-all">
    <button type="button" class="expand" title="expand all {{customizer.verbose_name}}">expand all</button>
    <button type="button" class="collapse" title="collapse all {{customizer.verbose_name}}">collapse all</button>
</span> <!-- /.subform-toolbar -->
<div style="clear: both;">&nbsp;</div>

{{ formset.management_form }}
{{ formset.non_form_errors }}

<div class="accordion" prefix="{{formset.prefix}}">
    
    {% for form in formset.forms %}
        <h3 class="accordion-header">
            <a>
                {{customizer.model_title}}:&nbsp;<span name="name"></span>
            </a>
        </h3> <!-- /.accordion-header -->

        <div class="accordion-content">
            <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}
                <div class="remove_detail">
                    {{form.DELETE}}
                    <button class="remove" type="button" title="remove this {{customizer.model_title}}">remove</button>
                    <div style="clear:both;"></div>
                </div>
                

                {# alright, this looks weird I know #}
                {# but passing the template as a variable gets around Django's maximum recursion issue #}
                {% with "dcf/_form.html" as template %}
                    {% include template %}
                {% endwith %}
                {# include "dcf/_form.html" #}


            </div> <!-- /.form -->
        </div> <!-- /.accordion-content -->

    {% endfor %}

</div> <!-- /.accordion -->

