{# template for a (nested; ie: not the top-level one) form #}
{# (also nested forms don't use tabs like top-level ones) #}

{# form is the form #}
{# customizer is the customizer from the actual field #}

{% load dcf_filters %}

<div class="form" style="display:block;"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

    {% for hiddenField in form.hidden_fields %}
        {{ hiddenField }}
    {% endfor %} {# /hiddenField #}

    <table width="100%">
    {% for customizer in form|getAllActiveAttributes %}
        
        {% with field=form|getFieldFromName:customizer.attribute_name %}
            {% with attribute=form|getAttributeFromCustomizer:customizer %}
                <!-- customizer is the MetadataAttributeCustomizer associated w/ this field -->
                <!-- field is the MetadataField instance corresponding to this attribute -->
                <!-- attribute is the attribute (formfield) itself -->
                
                <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                    {% if customizer.customize_subform %}
                        <td colspan="100"> <!-- this just makes sure that the nested table spans the entire parent table -->

                            {# alright, this looks weird I know #}
                            {# but passing the template as a variable gets around Django's maximum recursion issue #}
                            {% with "dcf/_subform.html" as template %}
                                {% include template %}
                            {% endwith %}
                            {# include "dcf/_subform.html" #}

                        </td>
                    {% else %}
                        {# alright, this looks weird I know #}
                        {# but passing the template as a variable gets around Django's maximum recursion issue #}
                        {% with "dcf/_field.html" as template %}
                            {% include template %}
                        {% endwith %}
                        {# include "dcf/_field.html" #}
                    {% endif %}

                </tr>
            {% endwith %} {# /attribute #}
        {% endwith %} {# /field #}
    {% endfor %} {# /customizer #}
    </table>


</div>

{# end template for a form #}
