{% load metadata_filters %}

{% if field|custom_required:form %}
    <fieldset class="coolfieldset required">
{% else %}
    <fieldset class="coolfieldset">
{% endif %}

    <legend title="click to show/hide content">
           {% if field|custom_help_text:form %}
                <div class="help-button" title="click for more info" id="{{form.getName}}_{{field.auto_id}}">
                    <span class="default-help-icon ui-icon-info" style="display: inline-block;">&nbsp;</span>
                    <div class="help-description" title="{{ field|custom_verbose_name:form }}">
                        {{ field|custom_help_text:form|safe }} {# the safe filter prevents inline HTML from being escaped  #}
                    </div> <!-- /.help-description -->
                </div> <!-- /.help-button -->
            {% endif %} {# /field.help_text #}
            {{ field|custom_verbose_name:form}}
    </legend>

    <div class="coolfieldset-content">

        {% with subForm=field|get_subform:form %}

            {% with subFormType=subForm.getSubFormType.getType %}


                {% if subFormType == "FORM" %}

                    form

                {% else %} {% if subFormType == "FORMSET" %}

                    {% with formset=subForm %}
                        {% include "dcf/_formset.html" %}
                    {% endwith %}

                {% else %}

                    <span class="error-wrapper">unknown subFormType for {{field.name}}</span>

                {% endif %} {% endif %}

            {% endwith %}

        {% endwith %}

    </div>

</fieldset>

