{% load dcf_filters %}


<div id='dcf'>

    <!-- placeholder for messages to display to user -->
    <div id="msg">
        {{msg}}
    </div>

    <div class="title">
        Customizing {{project_name|stripSpaces|escape}}::{{parent_model_name|stripSpaces|escape}}::{{attribute_name}} ({{model_name|stripSpaces|escape}})
    </div> <!-- /.title -->

    <div id='customize'>
        <form method="POST" action="" id="customize_subform">
            {% csrf_token %}
            <br/>

            <div class='form'>

                <div class="hidden">
                    <!-- still need these fields to save the form -->
                    <!-- but don't need to display them -->
                    <!-- (since they're fixed - they should all come from the parent form) -->
                    {% for field in form.getCustomizerFields %}
                        {{field.label}}:&nbsp;{{field}}
                    {% endfor %}
                </div>

            <fieldset class="coolfieldset" name="document_details_fieldset">
                <legend title="click to show/hide content">
                    <div class="help-button" title="click for more info" id="document_details_fieldset">
                        <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                        <div class="help-description" title="Customization Details">
                            This section contains information relating to the <i>document</i> itself.  This will appear in the title of the document form.
                        </div> <!-- /.help-description -->
                    </div> <!-- /.help-button -->
                    <span class="title">&nbsp;Document Details&nbsp;</span>
                </legend>
                <div class="coolfieldset-content">
                    <table width="100%" border="0">
                        <span class="documentation">This section contains information relating to the document itself.  This will appear in the title of the document form.</span><br/><br/>
                        {% for field in form.getModelFields %}
                            {% with field_label=field.label field_id="document_details_"|add:field.name %}
                                <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                    <td>
                                        {% if field.help_text %}
                                            {% include "dcf/_help.html" %}
                                        {% endif %} {# /field.help_text #}
                                       <span class="field_label">
                                            {{field.label}}:&nbsp;
                                        </span>
                                    </td>
                                    <td>
                                        <span class="field_value">
                                            {{field}}
                                        </span>
                                        {% if field.errors %}
                                            {% include "dcf/_error.html" %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %} {# /field_label, field_id #}
                        {% endfor %} {# /field in form.getModelFields #}
                    </table>
                </div>
            </fieldset> <!-- /.coolfieldset[name='document_details_fieldset' -->

                            <fieldset class="coolfieldset" name="attribute_details_fieldset">
                <legend title="click to show/hide content">
                    <div class="help-button" title="click for more info" id="attribute_details_fieldset">
                        <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                        <div class="help-description" title="Attribute Details">
                            This section contains information relating to the attributes of the document.  This includes both those defined by the metadata version (ie: the standard CIM content) as well as those defiend by the controlled vocabularies (ie: the scientific properties).
                        </div> <!-- /.help-description -->
                    </div> <!-- /.help-button -->
                    <span class="title">&nbsp;Attribute Details&nbsp;</span>
                </legend>
                <div class="coolfieldset-content">

                        <span class="documentation">
                            This section contains information relating to the attributes of the document.  This includes both those defined by the metadata version (ie: the standard CIM content) as well as those defiend by the controlled vocabularies (ie: the scientific properties).
                        </span><br/><br/>

                            <div class="tabs">
                                <ul> <!-- the tab menu -->
                                    <li>
                                        <a href="#tab_attributes">
                                            <!-- TODO: DOES THIS TITLE MAKE SENSE? -->
                                            <!--CIM Attributes-->
                                            Standard Properties (CIM)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_properties">
                                            <!-- TODO: DOES THIS TITLE MAKE SENSE? -->
                                            <!--CV Attributes-->
                                            Scientific Properties (CV)
                                        </a>
                                    </li>
                                </ul>
                                <div id="tab_attributes">
                                    <div class="tab_content">
                                        <span class="documentation">
                                            These attributes are defined by the CIM.  They have pre-defined categories.  Click a category widget to toggle the display of attributes belonging to that category.  (Categories appear as tabs on the Metadata Editing Form.)
                                        </span>

                                        <fieldset>
                                            {{form.attribute_categories}}
                                            {% with field=form.attribute_categories_tags %}
                                                {% with field_label=field.label field_id="attribute_details_"|add:field.name %}
                                                    <table border="0" width="100%">
                                                        <tr><td>
                                                            {% if field.help_text %}
                                                                {% include "dcf/_help.html" %}
                                                            {% endif %}
                                                            {{ field_label }}:&nbsp;
                                                            <br/>
                                                            {{ field }}
                                                            {% if field.errors %}
                                                                {% include "dcf/_error.html" %}
                                                            {% endif %}
                                                        </td></tr>
                                                    </table>
                                                {% endwith %} {# /field_label, field_id #}
                                            {% endwith %} {# /field #}
                                        </fieldset>


                                        {% with formset=form|getNamedSubForm:"attributes" %}
                                            {{ formset.non_form_errors }}
                                            {{ formset.management_form }}

                                            <span class="subform-toolbar ui-widget-header ui-corner-all">
                                                <button type="button" class="sort">sort</button>
                                                <ul class="sort_by">
                                                    <li><a href="#" name="sort_by_name">by name</a></li>
                                                    <li><a href="#" name="sort_by_category">by category</a></li>
                                                    <li><a href="#" name="sort_by_order">by order</a></li>
                                                </ul>
                                                <button type="button" class="expand" title="expand all attributes">expand all</button>
                                                <button type="button" class="collapse" title="collapse all attributes">collapse all</button>
                                            </span> <!-- /.subform-toolbar -->
                                            <div style="clear: both;">&nbsp;</div>

                                            <div class="accordion">
                                                {% for form in formset.forms|sortFormsByField:"order" %}

                                                    <h3 class="accordion-header">
                                                        <a>
                                                            <table width="100%" border="0">
                                                                <tr valign="middle">
                                                                    <td width="30%" align="left">
                                                                        <b>name:&nbsp;</b>
                                                                        <span name="field-name">{{form.getAttributeName}}</span>
                                                                    </td>
                                                                    <td width="30%" align="left">
                                                                        <b>category:&nbsp;</b>
                                                                        <span class="label" name="field-category">{{form.getCategoryName}}</span>
                                                                    </td>
                                                                    <td width="40%" align="left">
                                                                        <b>order:&nbsp;</b>
                                                                        <span class="label" name="field-order">{{form.getAttributeOrder}}</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </h3> <!-- /.accordion-header -->

                                                    <div class="accordion-content">
                                                        <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}
                                                                                                                {# required b/c the individual form ids are here #}
                                                            {% for hiddenField in form.hidden_fields %}
                                                                {{ hiddenField }}
                                                            {% endfor %} {# /hiddenField #}

                                                            <table width="100%" border="0">
                                                                {% for field in form.visible_fields %}
                                                                    {% ifnotequal field.name "subform_customizer" %}
                                                                    {% with field_label=field.label field_id="customization_details_"|add:field.name %}
                                                                        <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                                                            <td>
                                                                                {% if field.help_text %}
                                                                                    {% include "dcf/_help.html" %}
                                                                                {% endif %} {# /field.help_text #}
                                                                               <span class="field_label">
                                                                                    {{field.label}}:&nbsp;
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="field_value" name="{{field.name}}">
                                                                                    {{field}}
                                                                                </span>
                                                                                {% if field.errors %}
                                                                                    {% include "dcf/_error.html" %}
                                                                                {% endif %}
                                                                                {# a one-off hard-coded bit #}
                                                                                {% if field.name == "customize_subform" %}
                                                                                    <button type="button" class="customize-subform" name="customize-subform" title="customize the {{form.getAttributeName}} subform" onclick="customize_subform('{{form.getAttributeName}}',this);">customize</button>
                                                                                    {# also add the actual field that maps this attribute to the new customize-subform #}
                                                                                    {# (which I excluded from the set of normally displayed fields in the 'ifnotequal' line above) #}
                                                                                    <div class="subform_customizer hidden">
                                                                                        {{form.subform_customizer}}
                                                                                    </div>
                                                                                {% endif %}
                                                                            </td>
                                                                        </tr>
                                                                    {% endwith %} {# /field_label, field_id #}
                                                                    {% endifnotequal %}
                                                                {% endfor %} {# /field in form.visible_fields #}
                                                            </table>


                                                        </div> <!-- /.form -->
                                                    </div> <!-- /.accordion-content -->

                                                {% endfor %} {# /form in formset.forms|sortFormsByField:"order" #}
                                            </div> <!-- /.accordion -->

                                        {% endwith %} {# /formset #}

                                    </div> <!-- /.tab_content -->
                                </div> <!-- /#tab_attributes -->


                            </div> <!-- /.tabs -->

                    </table>
                </div>
            </fieldset> <!-- /.coolfieldset[name='attribute_details_fieldset' -->

        </div> <!-- /.form -->
    </form>
</div>
</div>
