{# this is the index template for django-cim-forms #}

{% extends "dcf/dcf_base.html" %}

{% load dcf_filters %}

{% block scripts %}

    var STANDARD_CATEGORIES;
    var SCIENTIFIC_CATEGORIES;

    $(document).ready(
        enableDCF()
    )

{% endblock %} {# /scripts #}

{% block style %}

{% endblock %} {# /style #}


{% block title %}
    Customizing {{project.getTitle|stripSpaces|escape}}::{{model_class.getTitle|stripSpaces|escape}}
{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        Customizing the <u>{{model_class.getTitle|escape}}</u> editing form for <u>{{project.getTitle|escape}}</u>
    </div> <!-- /.title -->

    <div id="customize">

    <p>
        <i>
            Use this form to customize how a particular metadata document in a particular application is presented for editing.
            Drag-and-drop properties, and categories to specify an order.
            Specify customizable features for each property.
            When you have finished, click the "save" button at the bottom of the page.
            Invalid entries are indicated using a <span style="color: #ff0000; font-weight: bold;">red</span> font.
            <a href="/dcf/customize/instructions" target="blank"><b>More detailed instructions</b></a> are available.
        </i>
    </p>

    <form method="POST" action="">

        {% csrf_token %}

        <br/>

        <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}


            {% for hiddenField in model_customizer_form.hidden_fields %}
                {{ hiddenField }}
            {% endfor %} {# /hiddenField #}

            <fieldset class="coolfieldset" name="customization_details_fieldset">
                <legend title="click to show/hide content">
                    <div class="help-button" title="click for more info" id="customization_details_formset">
                        <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                        <div class="help-description" title="Customization Details">
                            This section contains information relating to the <i>customization</i> itself, as opposed to the form being customized.
                        </div> <!-- /.help-description -->
                    </div> <!-- /.help-button -->
                    <span class="title">&nbsp;Customization Details&nbsp;</span>
                </legend>
                <div class="coolfieldset-content">
                    <span class="documentation">This section contains information relating to the customization itself, as opposed to the document form being customized.</span><br/><br/>

                    <table width="100%" border="0">
                        {% for field in model_customizer_form.getCustomizerFields %}
                            {% with field_label=field.label field_id="customization_details_"|add:field.name %}
                                <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                    <td>
                                        {% if field.help_text %}
                                            {% include "dcf/_help.html" %}
                                        {% endif %} {# /field.help_text #}
                                       <span class="field_label">
                                            {{field.label}}:&nbsp;
                                        </span>
                                    </td>
                                    <td>
                                        <span class="field_value">
                                            {{field}}
                                        </span>
                                        {% if field.errors %}
                                            {% include "dcf/_error.html" %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %} {# /field_label, field_id #}
                        {% endfor %} {# /field #}
                    </table>
                </div> <!-- /.coolfieldset-content -->
            </fieldset> <!-- /.coolfieldset[name='customization_details_fieldset' -->

            <fieldset class="coolfieldset" name="document_details_fieldset">
                <legend title="click to show/hide content">
                    <div class="help-button" title="click for more info" id="document_details_fieldset">
                        <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                        <div class="help-description" title="Document Details">
                            This section contains information relating to the <i>document</i> itself.  This will appear in the title of the document form.
                        </div> <!-- /.help-description -->
                    </div> <!-- /.help-button -->
                    <span class="title">&nbsp;Document Details&nbsp;</span>
                </legend>
                <div class="coolfieldset-content">
                    <span class="documentation">This section contains information relating to the document itself.  This will appear in the title of the document form.</span><br/><br/>

                    <table width="100%" border="0">
                        {% for field in model_customizer_form.getModelFields %}
                            {% with field_label=field.label field_id="document_details_"|add:field.name %}
                                <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                    <td>
                                        {% if field.help_text %}
                                            {% include "dcf/_help.html" %}
                                        {% endif %} {# /field.help_text #}
                                       <span class="field_label">
                                            {{field.label}}:&nbsp;
                                        </span>
                                    </td>
                                    <td>
                                        <span class="field_value">
                                            {{field}}
                                        </span>
                                        {% if field.errors %}
                                            {% include "dcf/_error.html" %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endwith %} {# /field_label, field_id #}
                        {% endfor %} {# /field #}
                    </table>
                </div> <!-- /.coolfieldset-content -->
            </fieldset> <!-- /.coolfieldset[name='document_details_fieldset' -->

             <fieldset class="coolfieldset" name="property_details_fieldset">
                <legend title="click to show/hide content">
                    <div class="help-button" title="click for more info" id="attribute_details_fieldset">
                        <span class="default-help-icon ui-icon-info" style="display: inline-block">&nbsp;</span>
                        <div class="help-description" title="Attribute Details">
                            This section contains information relating to the properties of the document.  This includes both those defined by the metadata version (ie: the standard CIM content) as well as those defiend by the controlled vocabularies (ie: the scientific properties).
                        </div> <!-- /.help-description -->
                    </div> <!-- /.help-button -->
                    <span class="title">&nbsp;Property Details&nbsp;</span>
                </legend>
                <div class="coolfieldset-content">

                        <span class="documentation">This section contains information relating to the properties of the document.  This includes both those defined by the metadata version (ie: the standard CIM content) as well as those defiend by the controlled vocabularies (ie: the scientific properties).</span><br/><br/>

                            <div class="tabs">
                                <ul> <!-- the tab menu -->
                                    <li>
                                        <a href="#tab_standard_properties">
                                            Standard Properties (CIM)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab_scientific_properties">
                                            Scientific Properties (CV)
                                        </a>
                                    </li>
                                </ul>
                                <div id="tab_standard_properties">
                                    <div class="tab_content">
                                        <span class="documentation">
                                            These properties are defined by the CIM.  They have pre-defined categories.  Click a category widget to toggle the display of properties belonging to that category.  (Categories appear as tabs on the Metadata Editing Form.)
                                        </span>

                                        <fieldset>
                                            <!-- categories go here -->                                            
                                            {{ model_customizer_form.standard_categories }}
                                            {{ model_customizer_form.standard_categories_content }}
                                            
                                            {% with field=model_customizer_form.standard_categories_tags %}
                                                {% with field_label=field.label field_id="attribute_details_"|add:field.name %}
                                                    <table border="0" width="100%">
                                                        <tr><td>
                                                            {% if field.help_text %}
                                                                {% include "dcf/_help.html" %}
                                                            {% endif %}
                                                            {{ field_label }}:&nbsp;
                                                            <br/>
                                                            {{ field }}
                                                            {% if field.errors %}
                                                                {% include "dcf/_error.html" %}
                                                            {% endif %}
                                                        </td></tr>
                                                    </table>
                                                {% endwith %} {# /field_label, field_id #}
                                            {% endwith %} {# /field #}
                                            <script language="javascript">
                                                standard_categories_content = $("#id_standard_categories_content").val()
                                                STANDARD_CATEGORIES = $.parseJSON(standard_categories_content);                                                
                                            </script>
                                           
                                        </fieldset>

                                        {% with formset=standard_property_customizer_formset %}

                                            {{ formset.non_form_errors }}
                                            <div class="this-is-the-management-form">
                                            {{ formset.management_form }}
                                            </div>

                                            <span class="subform-toolbar ui-widget-header ui-corner-all">
                                                <button type="button" class="sort">sort</button>
                                                <ul class="sort_by">
                                                    <li><a href="#" name="sort_by_name">by name</a></li>
                                                    <li><a href="#" name="sort_by_category">by category</a></li>
                                                    <li><a href="#" name="sort_by_order">by order</a></li>
                                                </ul>
                                                <button type="button" class="expand" title="expand all properties">expand all</button>
                                                <button type="button" class="collapse" title="collapse all properties">collapse all</button>
                                            </span> <!-- /.subform-toolbar -->
                                            <div style="clear: both;">&nbsp;</div>

                                            <div class="accordion">
                                                {% for form in formset.forms|sortFormsByField:"order" %}
                                                    <h3 class="accordion-header">
                                                        <a>
                                                            <table width="100%" border="0">
                                                                <tr valign="middle">
                                                                    <td width="30%" align="left">
                                                                        <b>name:&nbsp;</b>
                                                                        <span name="property_name">{{form|getFieldValue:"name"|default:"None"}}</span>
                                                                    </td>
                                                                    <td width="30%" align="left">
                                                                        <b>category:&nbsp;</b>
                                                                        <span class="label" name="property_category">{{form|getFieldValue:"category"|default:"None"}}</span>
                                                                    </td>
                                                                    <td width="40%" align="left">
                                                                        <b>order:&nbsp;</b>
                                                                        <span class="label" name="property_order">{{form|getFieldValue:"order"|default:"None"}}</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </a>
                                                    </h3> <!-- /.accordion-header -->
                                                    <div class="accordion-content">
                                                        <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

                                                            {% for hiddenField in form.hidden_fields %}
                                                                {{ hiddenField }}
                                                            {% endfor %} {# /hiddenField #}

                                                            <table width="100%" border="0">
                                                                {% for field in form.visible_fields %}
                                                                    {% with field_label=field.label field_id="customization_details_"|add:field.name %}
                                                                        <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                                                            <td>
                                                                                {% if field.help_text %}
                                                                                    {% include "dcf/_help.html" %}
                                                                                {% endif %} {# /field.help_text #}
                                                                                <span class="field_label">
                                                                                    {{field.label}}&nbsp;
                                                                                </span>
                                                                            </td>
                                                                            <td>
                                                                                <span class="field_value" name="{{field.name}}">
                                                                                    {{field}}
                                                                                </span>
                                                                                {% if field.errors %}
                                                                                    {% include "dcf/_error.html" %}
                                                                                {% endif %}
                                                                                {# a one-off hard-coded bit #}
                                                                                {% if field.name == "customize_subform" %}
                                                                                    <div class="customize_subform_details">
                                                                                        <div style="display: none;">
                                                                                            <span class="field_name">{{form|getFieldValue:"name"}}</span>
                                                                                            <span class="version_number">{{version.number}}</span>
                                                                                            <span class="project_name">{{project.name}}</span>
                                                                                            <span class="model_name">{{model_class.getName}}</span>
                                                                                            <span class="customizer_name">{{model_customizer_form|getFieldValue:"name"}}</span>
                                                                                        </div>
                                                                                        {% with field_name=form|getFieldValue:"name" %}
                                                                                            <button type="button" class="customize-subform" name="customize-subform" title="customize the {{field_name}} subform" onclick="customize_subform(this);">customize</button>
                                                                                        {% endwith %} {# /field_name #}
                                                                                    </div>
                                                                                {% endif %}
                                                                            </td>
                                                                         </tr>
                                                                    {% endwith %} {# /field_label, field_id #}
                                                                {% endfor %} {# /field in form.visible_fields #}
                                                            </table>

                                                        </div> <!-- /.form -->
                                                    </div> <!-- /.accordion-content -->
                                                                                                                         
                                                {% endfor %} {# /form in formset #}
                                            </div> <!-- /.accordion -->

                                            
                                        {% endwith %} {# /formset #}
                                     
                                    </div> <!-- /.tab_content -->
                                </div> <!-- /#tab_standard_properties -->

                                <div id="tab_scientific_properties">
                                
                                    <div class="tab_content">
                                        <span class="documentation">
                                            These properties are defined by the CV.  Their categories can be edited.  Categories and properties are divided into separate components using the tabs below.
                                            <br/>
                                        </span>

                                        {{ model_customizer_form.scientific_categories_content }}
                                        <script language="javascript">
                                            scientific_categories_content = $("#id_scientific_categories_content").val()
                                            SCIENTIFIC_CATEGORIES = $.parseJSON(scientific_categories_content);
                                        </script>

                                        {% with formset=scientific_property_customizer_formset %}

                                            {{ formset.non_form_errors }}
                                            {{ formset.management_form }}

                                            <div class="tabs">
                                                <ul>
                                                    {% for component_name in component_list %}
                                                    <li>
                                                        <a href="#tab_scientific_properties_{{component_name|lower}}">
                                                            {{ component_name }}
                                                        </a>
                                                    </li>
                                                    {% endfor %} {# /component_name #}
                                                </ul>
                                                {% for component_name in component_list %}
                                                    {% with component_name_key=component_name|lower %}
                                                        <div id="tab_scientific_properties_{{component_name_key}}">
                                                            <div class="tab_content" name="{{component_name_key}}">

                                                                <fieldset>
                                                                    <span>Available categories for <b>{{component_name}}</b>:<br/></span>
                                                                    {% with field_name=component_name_key|add:"_scientific_categories_tags" %}
                                                                        <table border="0" width="100%">
                                                                            <tr><td>
                                                                                {{ model_customizer_form|getField:field_name }}
                                                                            </td></tr>
                                                                            <tr><td>
                                                                                add a new category:&nbsp;<input type="text" id="{{field_name}}_add" title="enter the category name here"/>
                                                                            </td></tr>
                                                                        </table>
                                                                    {% endwith %} {# /field_name #}
                                                                </fieldset>

                                                                {% with forms=formset|getFormsByComponentName:component_name_key %}
                                                                    {% if forms %}
                                                                        <span class="subform-toolbar ui-widget-header ui-corner-all">
                                                                            <button type="button" class="sort">sort</button>
                                                                            <ul class="sort_by">
                                                                                <li><a href="#" name="sort_by_name">by name</a></li>
                                                                                <li><a href="#" name="sort_by_category">by category</a></li>
                                                                                <li><a href="#" name="sort_by_order">by order</a></li>
                                                                            </ul>
                                                                            <button type="button" class="expand" title="expand all properties">expand all</button>
                                                                            <button type="button" class="collapse" title="collapse all properties">collapse all</button>
                                                                        </span> <!-- /.subform-toolbar -->
                                                                        <div style="clear: both;">&nbsp;</div>

                                                                        <div class="accordion">

                                                                            {% for form in forms %}
                                                                            <h3 class="accordion-header">
                                                                                <a>
                                                                                    <table width="100%" border="0">
                                                                                        <tr valign="middle">
                                                                                            <td width="30%" align="left">
                                                                                                <b>name:&nbsp;</b>
                                                                                                <span name="property_name">{{form|getFieldValue:"name"|default:"None"}}</span>
                                                                                            </td>
                                                                                            <td width="30%" align="left">
                                                                                                <b>category:&nbsp;</b>
                                                                                                <span class="label" name="property_category">{{form|getFieldValue:"category"|default:"None"}}</span>
                                                                                            </td>
                                                                                            <td width="40%" align="left">
                                                                                                <b>order:&nbsp;</b>
                                                                                                <span class="label" name="property_order">{{form|getFieldValue:"order"|default:"None"}}</span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </a>
                                                                            </h3> <!-- /.accordion-header -->
                                                                            <div class="accordion-content">
                                                                                <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

                                                                                    {% for hiddenField in form.hidden_fields %}
                                                                                        {{ hiddenField }}
                                                                                    {% endfor %} {# /hiddenField #}


                                                                                    <table width="100%" border="0">
                                                                                        {% for field in form.visible_fields %}
                                                                                            {% with field_label=field.label field_id="customization_details_"|add:field.name %}
                                                                                                <tr valign="top" class="{% cycle 'odd' 'even' %} field">
                                                                                                    <td>
                                                                                                        {% if field.help_text %}
                                                                                                            {% include "dcf/_help.html" %}
                                                                                                        {% endif %} {# /field.help_text #}
                                                                                                        <span class="field_label">
                                                                                                            {{field.label}}&nbsp;
                                                                                                        </span>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <span class="field_value" name="{{field.name}}">
                                                                                                            {{field}}
                                                                                                        </span>
                                                                                                        {% if field.errors %}
                                                                                                            {% include "dcf/_error.html" %}
                                                                                                        {% endif %}
                                                                                                    </td>
                                                                                                 </tr>
                                                                                            {% endwith %} {# /field_label, field_id #}
                                                                                        {% endfor %} {# /field in form.visible_fields #}
                                                                                    </table>

                                                                                </div> <!-- /.form -->
                                                                            </div> <!-- /.accordion-content -->
                                                                        {% endfor %} {# /form in forms #}
                                                                        </div> <!-- /.accordion -->
                                                                        
                                                                    {% endif %} {# forms #}
                                                                {% endwith %} {# /forms #}




                                                        </div> <!-- /.tab_content -->
                                                    </div> <!-- /#tab_scientific_properties... -->
                                                {% endwith %} {# /component_name_key #}
                                            {% endfor %} {# /component_name #}
                                        </div> <!-- /.tabs -->

                                        {% endwith %} {# /formset #}
                                        
                                    </div> <!-- /.tab_content -->

                                </div> <!-- /#tab_scientific_properties -->

                            </div> <!-- /.tabs -->                            
                    </div> <!-- /.coolfieldset_content -->

                </fieldset> <!-- /.coolfieldset[name='attribute_details_fieldset' -->

        </div> <!-- /.form -->

        <div class="submit">
            <!-- TODO: WORK OUT LOGIC OF WHEN TO COPY DATA -->
            <input class="button" type="submit" value="save" title="save the current state of the customization" onclick="copy_categories();"/>
        </div> <!-- /.submit -->
        <div style="clear: both;">&nbsp;</div>

    </form>
        
    </div> <!-- /#customize -->

{% endblock %} {# /content #}


{% block footer %}
    <div class="footer">
        This form is generated by <a target="_blank" href="https://github.com/ES-DOC/django-cim-forms">Django-CIM-Forms</a>.
        It is based on <a target="_blank" href="http://blahblah/cim/{{version.number}}">{{version.name}} {{version.number}}</a>.
        And it uses the Controlled Vocabularies
            {% for vocabulary in vocabularies %}
                {% if not forloop.first %}, {% endif %}
                <a target="_blank" href="{{vocabulary.file.url}}">{{vocabulary}}</a>{% endfor %}. {# /vocabulary #}
    </div> <!-- /.footer -->
{% endblock %} {# / footer #}