{# this is the editing template for django-cim-forms #}

{% extends "dcf/dcf_base.html" %}

{% load dcf_filters %}

{% block scripts %}

    $(document).ready(
        enableDCF()
    )

{% endblock %} {# /scripts #}

{% block style %}

{% endblock %} {# /style #}


{% block title %}
    Editing {{project_name|stripSpaces|escape}}::{{model_name|stripSpaces|escape}}
{% endblock %} {# /title #}

{% block content %}

    <div class="title">
        Editing {{model_name|aOrAn}} <u>{{model_name|escape}}</u> form for <u>{{project_name|escape}}</u>
    </div> <!-- /.title -->

    <div id="edit">

    <p>
        <i>
            Use this form to create or modify an instance of {{model_name}} metadata.&nbsp;&nbsp;
            Fill out the fields on each tab from left to right, and on each subform from top to bottom.&nbsp;&nbsp;
            Fields or subforms with <span style="font-weight: bold;">bold</span> labels are required.&nbsp;&nbsp;
            When you have finished, click the "save" button at the bottom of the page to store a local copy or the "publish" button to send a copy to a public metadata archive.&nbsp;&nbsp;
            Invalid entries are indicated using a <span style="color: #ff0000; font-weight: bold;">red</span> font.&nbsp;&nbsp;
            <a href="/dcf/edit/instructions">More detailed instructions</a> are available.&nbsp;&nbsp;
        </i>
    </p>

    <form method="POST" action="">

        {% csrf_token %}

        <br/>

        <div class="form"> {# wrapping everything in a div.form so I can group together fields belonging to the same model #}

            <fieldset class="coolfieldset">

                <div class="documentation">
                    {{form.customizer.model_description}}
                </div>

                <div class="tabs">
                    <ul>
                        {% for attribute_category in form|getActiveAttributeCategories %}
                            <li>
                                <a href="#tab-{{attribute_category.getGUID}}" title="{{attribute_category.description}}">
                                    {{attribute_category.name}}
                                </a>
                            </li>
                        {% endfor %} {# /attribute_category #}
                        <li>
                            <a href="#tab-properties">
                                <!-- TODO: THIS VALUE SHOULD COME FROM THE CATEGORIZATION FILE -->
                                Scientific Properties
                            </a>
                        </li>
                    </ul>
                    {% for attribute_category in form|getActiveAttributeCategories %}
                        <div id="tab-{{attribute_category.getGUID}}">
                            <div class="tab-content">
                                {% for attribute in form|getActiveAttributesOfCategory:attribute_category %}
                                    {% with field=form|getFieldFromAttribute:attribute %}
                                        {% if attribute.replace %}
                                            {{field.name}} is a subform
                                        {% else %}
                                            {{ field.name}} is a regular field
                                        {% endif %}
                                    {% endwith %} {# /field #}
                                {% endfor %} {# /attribute #}
                            </div>
                        </div>
                    {% endfor %} {# /attribute_category #}
                    <div id="tab-properties">
                        <div class="tab-content">
                            properties go here.  go go go.
                        </div>
                    </div>

                </div>

            </fieldset>

        </div> <!-- /.form -->

        <div class="submit">
            <input class="button" name="save" type="submit" value="save"/>
            <input class="button" name="submit" type="submit" value="publish"/>
        </div> <!-- /.submit -->
        <div style="clear: both;">&nbsp;</div>

    </form>
        
    </div> <!-- /#edit -->

{% endblock %} {# /content #}


{% block footer %}
    <div class="footer">
        This form is generated by <a target="_blank" href="https://github.com/ES-DOC/django-cim-forms">Django-CIM-Forms</a>.
        It is based on <a target="_blank" href="http://blahblah/cim/{{version_number}}">{{version_name}} {{version_number}}</a>.
        And it uses the Controlled Vocabulary <a target="_blank" href="{{vocabulary_path}}">{{vocabulary_path|getFilename}}</a>.
    </div> <!-- /.footer -->
{% endblock %} {# / footer #}