{% extends "dcf/metadata_container.html" %}

{% load metadata_filters %}

{% block form %}

            displayed form

            <script language="JavaScript">
                function changeTreeItemType(type) {

$("#navTree").jstree("_get_type","#1");
                };
            </script>

            <button type="button" onclick="changeTreeItemType('complete');">complete</button>
            <button type="button" onclick="changeTreeItemType('incomplete');">incomplete</button>
            <button type="button" onclick="changeTreeItemType('valid');">valid</button>
            <button type="button" onclick="changeTreeItemType('invalid');">invalid</button>
            

{% endblock %} {# /form #}
