{% load metadata_filters %}

{% block head %}

    <head>

        <!-- jquery -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery-1.6.2.min.js"></script>
        <!-- jquery ui -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery-ui-1.8.16.custom.min.js"></script>
        <!-- collapsible fieldsets -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery.coolfieldset.js"></script>
        <!-- (multi) accordion plugin -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery.multi-open-accordion-1.5.3.js"></script>
        <!-- dynamic formsets -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery.formset.js"></script>
        <!-- checkboxes/radiobuttons in selects -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/ui.dropdownchecklist-1.4.min.js"></script>
        <!-- fancy treeview -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery.jstree.js"></script>
        <!-- dockable splitter -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/splitter.js"></script>
        <!-- tagging widgets -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/tag-it.min.js"></script>
        <!-- custom javascript -->
        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/metadata.js"></script>

        <script language="javascript">
            {% block scripts %}
                 
            {% endblock %} {# /scripts #}
        </script>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/custom/jquery-ui-1.8.16.custom.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/coolfieldset.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/tagit.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/metadata.css" />

        <style>
            {% block style %}
                /* custom css goes here */
            {% endblock %} {# /style #}
        </style>

    </head>

{% endblock %} {# / head #}

{% block main %}


    <div id="metadata">

            <!-- some pre-ready divs to use for popups -->
            <!-- (more efficient than creating them from scratch) -->
            <!-- (more efficient than having loads of custom ones) -->
            <div id="help-dialog" title="help">&nbsp;</div>
            <div id="confirm-dialog" title="confirm">&nbsp;</div>
            <div id="edit-dialog" title="edit">&nbsp;</div>
            <div id="add-field-dialog" title="add/replace"> &nbsp;</div>
            <div id="remove-field-dialog" title="remove">&nbsp;</div>
            <div id="saved-form-dialog" title="save">&nbsp;</div>
            <div id="published-form-dialog" title="publish">&nbsp;</div>


            <div class="header">
                <a href="http://www.earthsystemcurator.org/esdoc/index.shtml"><img src="{{ STATIC_URL }}dcf/img/esdoc_logo.png"/></a>
            </div> <!-- /.header -->

            {% block content %}
                you forgot to provide content!
            {% endblock %} {# /content #}

            <div class="footer">
                This form is generated by <a href="https://github.com/ES-DOC/django-cim-forms">Django-CIM-Forms</a>.  It is based on CIM v1.8.1.  It used the Controlled Vocabulary "abc."
            </div> <!-- /.footer -->

        </div>  <!-- /#metadata -->

{% endblock %} {# / main #}
