
      {% load metadata_filters %}
      <!-- don't need to re-load JS/CSS b/c it's already loaded in the parent page -->
      <script language='javascript'>
        $('.button').button();
      </script>
      <div id='metadata'>
        <!--
        <div class='title'>
            Edit Field Category
        </div>
        -->
        <div id='customize'>
            <form method='POST' action=''>
                {% csrf_token %}
                <br/>
                <div class='form'>
                    <div class='error'>
                        {{form.errors}}
                    </div>
                    <table>
                        {% for field in form.visible_fields %}
                            <tr class='{% cycle "odd" "even" %}'>
                                <td class='field-label'>{{field.label}}:&nbsp;</td>
                                <td class='field-value'>
                                    <div class='field' name='{{field.name}}'>
                                        {{field}}
                                    </div>
                                    <div class='error'>
                                        {{field.errors}}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %} {# /field in form.visible_fields #}
                    </table>
                </div> <!-- /.form -->
                <div class='submit'>
                    <input class='button' name='save' type='submit' value='Save'/>
                </div> <!-- /.submit -->
                <div style='clear: both;'>&nbsp;</div>
            </form>
        </div> <!-- /#customize -->
      </div> <!-- /#metadata -->
    <script langauge="javascript">
    alert($("input[name='csrfmiddlewaretoken']").attr("value"));
</script>