<head>
    <title>test</title>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery/jquery-1.6.3.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}dcf/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script language="javascript">
        $(document).ready(
            foo()            
        )

        function foo() {

            $(function() {
                initialize($(document));
                /*
                $("button.test_button").button({
                    icons : { primary : "ui-icon-circle-plus"},
                    text : true
                }).click(function() {
                    open_a_subform();
                });
                */
            })
        }

        function initialize(parent) {
            $(parent).find("input.button").button();
            $(parent).find("button.test_button").button({
                icons : { primary : "ui-icon-circle-plus"},
                text : true
            });
            /*
             // this is not done in the onclick attribute of the button itself
             // (so that I can pass in the correct 'parent_id' from django)
             .click(function() {
                open_a_subform();
            });
            */


            var msg = $(parent).find("#msg").text().trim();
            if (msg && msg.length) {
                $(parent).find("#msg").dialog({
                    modal : true,
                    hide : "explode",
                    height : 150,
                    width : 350,
                    title: "<span class='ui-icon ui-icon-notice'></span>",
                    buttons: {
                        OK: function() {
                            $(this).dialog("close");
                        }
                    }
                });
            };

        }

        nSubForm = 0;

        function copy_submodel_to_model(submodel) {
            // in the real version there would be some more clever selectors to get the right field...
            var selector = "select#id_subModel option[value='" + submodel.pk + "']"
            if ($(selector).length == 0) {
                $("select#id_subModel").append(new Option(submodel.unicode,submodel.pk));
            }
            $("select#id_subModel").val(submodel.pk);
        }

        function open_a_subform(parent_id) {

            var url = window.document.location.protocol + "//" + window.document.location.host + "/dcf/test2/";
            // if the parent has a pk, then populate the form with it's submodel
            // otherwise, just create a blank form
            if(typeof(parent_id)!="undefined") {  
                url += parent_id + "/"
            }
            
            var subform_dialog = $("<div></div>");
            $.ajax({
                url     : url,
                type    : "GET",
                success : function(data) {
                    nSubForm = (nSubForm + 1);
                    var title = "subform #" + nSubForm;
                    subform_dialog.html(data);
                    subform_dialog.dialog({
                        title : title,
                        modal : true,
                        dialogClass: "no-close",
                        height : 300,
                        width : 700,
                        open : function() {
                            initialize(this);
                        },
                        buttons : {
                            ok : function() {
                                                                
                                var subform_data = $(this).find("#subform").serialize();
                                $.ajax({
                                   url  : url,
                                   type : "POST", // (POST mimics submit)
                                   data : subform_data,
                                   success : function(data) {                                 
                                       // if the AJAX call returned JSON, then the form was valid
                                       if (typeof data != 'string') { // == 'object') {
                                       
                                           copy_submodel_to_model(data);
                                           $(subform_dialog).dialog("close");
                                       }
                                       // if the AJAX call returned a string, then the form was invalid
                                       else {
                                           subform_dialog.html(data);
                                       }
                                   },
                                   error: function(xhr, status, error) {
                                        console.log(xhr.responseText);
                                   }
                                })
                            },

                            cancel : function() {
                                $(subform_dialog).dialog("close");
                            }
                        },
                        close: function () {                            
                            $(this).dialog("destroy");
                        }
                    }).dialog("open");
                }
            });
        }

    </script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dcf/css/custom/jquery-ui-1.8.16.custom.css" />
    <style>
        .no-close .ui-dialog-titlebar-close { display: none; }
        .error-wrapper { display: inline; background-color: #ff6666; padding: 4px; }
        .errorlist { display: inline; list-style-type: none; text-align: center; padding: 0px; margin: 0px; }
        .errorlist li { display: inline; background-color: #ff6666; }
    </style>
</head>
<body>

    <div>
        <u>Here is a Form</u>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
        <br/>

        <div class="form">

            <table border="0" width="50%">
                {% for field in form.visible_fields %}
                    <tr>
                        <td>
                            {{ field.label }}:&nbsp;
                        </td>
                        <td>
                            {{field}}
                            {% if field.errors %}
                                {% include "dcf/_error.html" %}
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                <tr><td>customize submodel&nbsp;</td><td><button type='button' class='test_button' onclick="open_a_subform({{parent_id}});">do stuff</button></td></tr>
            </table>
          
        </div>

        <br/>
        <input class="button" name="submit" type="submit" value="submit"/>

    </form>

</body>

