/* q_variables.less */

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;


@base-bg: @gray-base;
@odd-row-bg: @gray-lighter;
@even-row-bg: @gray-light;


@field-width: 500px; /*40em;*/

@loading-color: @brand-success;
@loading-height: 4px;
@loading-radius: 2px;

