{# _q_section_customize_submodel.html #}

{# this is a "section" template #}
{# it is inserted as needed by ng via AJAX using the load-on-demand paradigm #}

{# see the "q_load_section" django view #}
{# and see the "section" ng directive" #}

<div class="panel panel-default">
    <div class="panel-body">

        <form name="{{form.form_name}}"
              class="form-horizontal"
              watch_form_validity="models_validity"
              novalidate>

            <!-- don't include form.customization_fields -->
            <!-- (b/c this is just a subform -->

            <div id="{{form.form_name}}_document_fields">
                <fieldset class="fieldset collapsible"
                          ng-controller="FieldsetController as document_details_fieldset_controller"
                          ng-class="document_details_fieldset_controller.is_collapsed ? 'collapsed' : 'expanded'">
                    <legend class="fieldset_header" ng-click="document_details_fieldset_controller.is_collapsed = ! document_details_fieldset_controller.is_collapsed" title="click to toggle content">
                        <span ng-hide="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
                        Document Details:&nbsp;
                    </legend>
                    <div class="fieldset_content" ng-hide="document_details_fieldset_controller.is_collapsed">

                        <div class="documentation">
                            This section contains information relating to the document itself.  This will affect the look-and-feel of the editor form being customized.
                        </div>

                        {% for field in form.document_fields %}
                            <div class="row {% cycle 'odd' 'even' %}">
                                {% include 'questionnaire/_q_customize_field.html' %}
                            </div>
                        {% endfor %} {# /field #}

                    </div>  <!-- /.fieldset_content -->
                </fieldset>
            </div>  <!-- /document_fields -->
            <br/>

        </form>

        {% include 'questionnaire/_q_customize_properties.html' %}

    </div>  <!-- /.panel-body -->
</div>  <!-- /.panel -->