{# _q_section_view_foo.html #}

{% load q_tags %}

{# this is a "section" template #}
{# it is inserted as needed by ng via AJAX using the load-on-demand paradigm #}

{# see the "q_load_section" django view #}
{# and see the "section" ng directive" #}

<!-- (model_controller is defined in the parent template) -->

<div id="{{form.form_name}}_model_fields">
    <fieldset class="fieldset non_collapsible" ng-show="current_model.is_selected" ng-disabled="!current_model.is_active">
        <legend class="fieldset_header">
            &nbsp;{{ form.customization.model_title }}&nbsp;
        </legend>
        <div class="fieldset_content">

            <div class="documentation">
                {{ form.customization.model_description }}
            </div>

            <div>
                <ul class="list-group">
                    {% for form in formset %}
                        <div ng-controller="PropertyEditorController as property_editor_controller"
                             current_model_path="{% verbatim ng %}{{ current_model_path }}{% endverbatim ng %}.properties[{{ form.get_serialized_order }}]"> <!-- forloop.counter0 }}]"> --> <!-- TODO: I DO NOT LIKE HAVING TO CALL .get_serialized_order -->
                            <div id="{{form.form_name}}_property_fields">
                                {% if form.is_hidden %}
                                    <!-- still include the form even if the property has been customized to be hidden -->
                                    <!-- so that the ng-model gets updated by customized values -->
                                    <div class="hidden">
                                        {{ form }}
                                    </div>
                                {% elif not form.is_hierarchical %}
                                    <li class="list-group-item {% conditional_cycle 'odd' 'even' if form.render %}">  {# alternate rows for each form that is _actually_ rendered #}
                                        <div class="hidden">
                                            {% for field in form.get_hidden_fields %}
                                                {{ field }}
                                            {% endfor %}
                                        </div>
                                        {% with field_type=form.get_field_type %}
                                            {% if field_type == "ATOMIC" %}
                                                {% include "questionnaire/_q_view_property_atomic.html" %}
                                            {% elif field_type == "ENUMERATION" %}
                                                enumeration
                                            {% else %} {# field_type == "RELATIONSHIP" #}
                                                relationship
                                            {% endif %}
                                        {% endwith %}  {# /field_type #}
                                    </li>  <!-- /.list-group-item -->
                                {% endif %}
                            </div>  <!-- property_fields -->
                        </div>  <!-- /ng-controller=property_editor_controller -->
                    {% endfor %}  {# /form in formset #}
                </ul>
            </div>

        </div> <!-- /.fieldset_content -->
    </fieldset>
</div>  <!-- /model_fields -->
