{# _q_section_customize_property.html #}

{# this is a "section" template #}
{# it is inserted as needed by ng via AJAX using the load-on-demand paradigm #}

{# see the "q_load_section" django view #}
{# and see the "service" ng directive" #}

{% load q_tags %}

<form name="{{form.form_name}}"
      class="form-horizontal"
      watch-form-validity="properties_validity">

    {# note the 'watch_form_validity' directive above #}
    {# this maps the form's validity to a ng scope variable #}
    {# and that variable can be referenced _before_ this section is loaded #}

    <!-- don't include the "name" field -->
    <!-- b/c if it hasn't been set yet, it will make the form invalid -->
    <!-- and the "watch_form_validity" directive will never return "true" -->
    <!--<div class="hidden">-->
        <!--{% for field in form.hidden_fields %}-->
            <!--{{ field }}-->
        <!--{% endfor %}-->
    <!--</div>-->

    {% for field in form.fields_for_type %}

        <div class="row {% cycle 'odd' 'even' %}">

            {% if field.name != "relationship_show_subforms" %}
                {% include 'questionnaire/_q_customize_field.html' %}
            {% else %}

                <!-- this is copied from the "_q_customize_field.html" template called above-->
                <!-- I just need to insert a bit more content for subforms -->
                <div class="has-feedback form-group">
                    <span class="col-lg-1 col-md-1 text-right">
                        {% if field.help_text %}
                            <help help_text="{{field.help_text|safe}}"></help>
                        {% endif %}
                    </span>
                    <span class="col-lg-3 col-md-3 {% if field.field.required %} required {% else %} optional {% endif %} ">
                        {{ field.label|safe }}
                    </span>
                    <span class="col-lg-5 col-md-5 voffset-2">
                        {{ field }}

                        <!-- HERE IS THE DIFFERENT BIT -->

                        <ul class="list-group voffset-16" ng-show="property.relationship_show_subforms">
                            <li class="list-group-item list-group-item-info">
                                Potential targets for this relationship:
                            </li>
                            <li class="list-group-item clearfix"
                                ng-repeat="target_model in property.relationship_target_model_customizations">
                                {% verbatim ng %}
                                    <span title="{{ target_model.proxy_id }}">
                                        {{ target_model.proxy_title }}
                                    </span>
                                {% endverbatim ng %}
                                &nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-xs pull-right"
                                        data-toggle="modal"
                                        data-target="#{% verbatim ng %}{{ target_model.key }}{% endverbatim ng %}_subform"
                                        ng-click="display_subform_for_target_model($event, target_model)"
                                        ng-disabled="!property.relationship_show_subforms"
                                        title="customize how this subform is rendered">
                                    Customize Subform&nbsp;
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </button>
                            </li>  <!-- /.list-group-item -->
                        </ul>  <!-- /.list-group -->


                        <div class="modal modal-lg fade subform_customizer" role="dialog" tabindex="-1"
                             data-backdrop="static" data-keyboard="false"
                             ng-repeat="target_model in property.relationship_target_model_customizations"
                             ng-init="model_key=target_model.key; model_index=$index"
                             id="{% verbatim ng %}{{ target_model.key }}{% endverbatim ng %}_subform">
                            <div class="modal-dialog modal-lg" role="document"
                                 ng-controller="ModelCustomizerController as model_customizer_controller"
                                 current_model_path="{% verbatim ng %}{{ current_model_path }}.properties[{{ property_index }}].relationship_target_model_customizations[{{ model_index }}]{% endverbatim ng %}">
                                <!-- HERE IS THE NESTED CONTROLLER -->
                                <!-- NOTICE HOW I PASS THE CURRENT SCOPE ("current_model_path") USING PREVIOUSLY STORED NG-VARIABLES -->
                                <!-- THE CONTROLLER USES THAT TO BIND THE CORRECT PART OF THE GLOBAL "_DATA" OBJECT TO THE LOCAL "current_model" OBJECT -->
                                <!-- (THIS IS WAY BETTER THAN OVERLOADING DJANGO FORMS OR TRYING TO _REVERSE ENGINEER_ THE PATH FROM -->
                                <!-- (THE FORMER IS CONFUSING AND ERROR-PRONE, THE LATTER IS INEFFICIENT) -->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span class="title">
                                                Customize the ES-DOC Questionnaire for <strong>{% verbatim ng %}{{ target_model.proxy_title }}{% endverbatim ng %}</strong> elements
                                                (in the context of the <strong>{% verbatim ng %} {{ property.proxy_title }} {% endverbatim ng %}</strong> property)
                                            </span> <!-- /.title -->
                                        </h4>
                                    </div>  <!-- /.modal-header -->
                                    <div class="modal-body">

                                        <!-- AND HERE IS THE NESTED LOAD-ON-DEMAND BIT, WHERE I RETRIEVE THE FORMS / TEMPLATES FOR THIS PART OF THE CUSTOMIZATION -->
                                        <section model_to_watch="current_model"
                                                 key="{% verbatim ng %}{{ model_key }}{% endverbatim ng %}"
                                                 index="{% verbatim ng %}{{ model_index }}{% endverbatim ng %}"
                                                 section_type="model_customization"/>

                                    </div>  <!-- /.modal-body -->
                                    <div class="modal-footer">
                                        <button type="button"
                                                class="btn btn-primary"
                                                ng-click="current_model.display_detail = false"
                                                ng-disabled="!models_validity"
                                                onclick="$(this).closest('.modal').modal('hide')">
                                                <!-- I am specifically _not_ using the ng attribute "data-dismiss='modal'" b/c that will close _all_ modals -->
                                                <!-- instead, I use some inline JQuery on the onclick event; it finds the parent modal and explicitly closes it-and-only-it -->
                                            Dismiss Subform Customizer
                                        </button>
                                    </div>  <!-- /.modal-footer -->
                                </div>  <!-- /.modal-content -->  <!-- / AND THE NESTED CONTROLLER -->
                            </div>  <!-- /.modal-dialog -->
                        </div>  <!-- /.modal -->

                        <!-- HERE ENDS THE DIFFERENT BIT -->

                    </span>
                    <span class="col-lg-2 col-md-2">
                        {{ field.errors }}
                    </span>
                </div> <!-- /.form-group -->

            {% endif %} {# /field.name == 'relationship_show_subforms' #}

        </div> <!-- /.row -->

    {% endfor %} {# /field #}

</form>
