{# _q_section_customize_model.html #}

{# this is a "section" template #}
{# it is inserted as needed by ng via AJAX using the load-on-demand paradigm #}

{# see the "q_load_section" django view #}
{# and see the "service" ng directive" #}

{% load q_tags %}

<!-- note it is super-important to set 'current_model' to the current scope -->
<!-- this is how I get recursion to work; all ng variables are based off of 'current_model' -->

<div class="subform">

    <div class="container-fluid">
    <div class="col-md-12">

        <form name="{{form.form_name}}"
              class="form-horizontal"
              watch_form_validity="models_validity"
              novalidate>

            {# the template code for the MODEL fields are hard-coded here; #}
            {# there is no separate template for them (such as "_q_customize_model.html") #}
            {# this is b/c... 1) the code is simple, and 2) the code is not reusable for subforms #}
            {# this paradigm is copied from "q_customize.html" #}

            <div class="hidden">
                {% for field in form.get_hidden_fields %}
                    {{ field }}
                {% endfor %}
            </div> <!-- /.hidden -->

            <div id="{{form.form_name}}_document_fields">
                <fieldset class="fieldset collapsible" ng-controller="FieldsetController as document_details_fieldset_controller">
                    <legend class="fieldset_header" ng-click="document_details_fieldset_controller.is_collapsed = ! document_details_fieldset_controller.is_collapsed" title="click to toggle content" >
                        <span ng-hide="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="document_details_fieldset_controller.is_collapsed" class="glyphicon glyphicon-triangle-right"></span>
                        Document Details:&nbsp;
                    </legend>
                    <div class="fieldset_content" ng-hide="document_details_fieldset_controller.is_collapsed">

                        <div class="documentation">
                            This section contains information relating to the document itself.  This will affect the look-and-feel of the editor form being customized.
                        </div>

                        {% for field in form.get_document_fields %}
                            <div class="row {% cycle 'odd' 'even' %}">
                                {% include 'questionnaire/_q_customize_field.html' %}
                            </div>
                        {% endfor %} {# /field #}

                    </div> <!-- /.fieldset_content -->
                </fieldset>
            </div>  <!-- /document_fields -->

        </form>

        {% include 'questionnaire/_q_customize_properties.html' %}

    </div>
</div>

</div> <!-- /.subform -->