{# _q_section_view_submodel.html #}

{% load q_tags %}

{# this is a "section" template #}
{# it is inserted as needed by ng via AJAX using the load-on-demand paradigm #}

{# see the "q_load_section" django view #}
{# and see the "section" ng directive" #}

<!-- (model_controller is defined in the parent template) -->

<div id="{{model_form.form_name}}_model_fields">

    <div ng-controller="TabController as tab_controller">

        <ul class="nav nav-tabs" role="tablist">
            {% for category_form in categories_formset %}
                {% if not category_form.is_hidden %}
                    {% with "tab_%s"|format:category_form.form_name as tab_id %}
                        <li ng-class="{active: tab_controller.is_tab_selected('{{ tab_id }}')}">
                            <a ng-click="tab_controller.select_tab('{{ tab_id }}')">
                                {{ category_form.category_value.label|safe }}
                            </a>
                        </li>
                    {% endwith %}  {# /tab_id #}
                {% endif %}  {# /category_form.is_hidden #}
            {% endfor %}  {# /category_form in categories_formset #}
        </ul> <!-- /.nav-tabs -->

        <div>
            {% for category_form in categories_formset %}
                {% with properties_keys=category_form.properties_keys %}
                    <div ng-controller="CategoryEditorController as category_editor_controller"
                         current_model_path="{% verbatim ng %}{{ current_model_path }}{% endverbatim ng %}.categories[{{ category_form.get_serialized_order }}]"> <!-- forloop.counter0 }}]"> --> <!-- TODO: I DO NOT LIKE HAVING TO CALL .get_serialized_order -->
                         <div id="{{ category_form.form_name }}_category_fields">
                            {% if category_form.is_hidden %}
                                <div class="hidden">
                                    {{ category_form }}
                                </div>
                            {% else %}
                                {% with "tab_%s"|format:category_form.form_name as tab_id %}
                                    <div ng-init="tab_controller.select_first_tab('{{ tab_id }}')" ng-show="tab_controller.is_tab_selected('{{ tab_id }}')" class="tab-pane panel tab-content">
                                        <div class="hidden">
                                            {% for field in category_form.get_hidden_fields %}
                                                {{ field }}
                                            {% endfor %}
                                        </div>
                                        <div class="documentation voffset-8">
                                            {{ category_form.category_value.help_text|safe }}&nbsp;
                                            <span ng-show="show_completion">
                                                &nbsp;<span ng-show="!current_model.is_complete" class="glyphicon glyphicon-pushpin"/>
                                            </span>
                                        </div>
                                    <!-- this div is ended below in a subsequent django if-block -->
                                {% endwith %}  {# /tab_id #}
                            {% endif %}

                            <ul class="list-group voffset-8">
                                {% for form in properties_formset %}
                                    {% with property_key=form.property_key %}
                                        {% if property_key in properties_keys %}
                                            <div ng-controller="PropertyEditorController as property_editor_controller"
                                                 current_model_path="{% verbatim ng %}{{ current_model_path }}{% endverbatim ng %}.properties[{{ form.get_serialized_order }}]"> <!-- forloop.counter0 }}]"> --> <!-- TODO: I DO NOT LIKE HAVING TO CALL .get_serialized_order -->
                                                <div id="{{form.form_name}}_property_fields">
                                                    {% if form.is_hidden %}
                                                        <!-- still include the form even if the property has been customized to be hidden -->
                                                        <!-- so that the ng-model gets updated by customized values -->
                                                        <div class="hidden">
                                                            {{ form }}
                                                        </div>
                                                    {% elif not form.is_hierarchical %}
                                                        <li class="list-group-item {% conditional_cycle 'odd' 'even' if form.render %}">  {# alternate rows for each form that is _actually_ rendered #}
                                                            <div class="hidden">
                                                                {% for field in form.get_hidden_fields %}
                                                                    {{ field }}
                                                                {% endfor %}
                                                            </div>
                                                            {% with field_type=form.get_field_type %}
                                                                {% if field_type == "ATOMIC" %}
                                                                    {% include "questionnaire/_q_view_property_atomic.html" %}
                                                                {% elif field_type == "ENUMERATION" %}
                                                                    {% include "questionnaire/_q_view_property_enumeration.html" %}
                                                                {% else %} {# field_type == "RELATIONSHIP" #}
                                                                    {% include "questionnaire/_q_view_property_relationship.html" %}
                                                                {% endif %}
                                                            {% endwith %}  {# /field_type #}
                                                        </li>  <!-- /.list-group-item -->
                                                    {% else %}
                                                        a non hierarchical non hidden relationship property
                                                    {% endif %}
                                                </div>  <!-- property_fields -->
                                            </div>  <!-- /ng-controller=property_editor_controller -->
                                        {% endif %}  {# /property_key in properties_keys #}
                                    {% endwith %}  {# /property_key #}
                                {% endfor %}  {# /form in formset #}
                            </ul>

                            {% if not form.is_hidden %}
                                <!-- here is where the tab pane is ended from above -->
                                </div>  <!-- /tab-content -->
                            {% endif %}  {# /form.is_hidden #}

                         </div>  <!-- /category_fields -->
                    </div>  <!-- ng-controller=category_editor_controller -->
                {% endwith %}  {# /properties_keys #}
            {% endfor %}  {# /form in categories_formset #}
        </div>

    </div>

</div>  <!-- /model_fields -->
